[2018-03-06 00:00] mmurthydol commented on #661
Determined need to access to GitLab from VMs: GitLab internal story is 75

[2018-03-06 18:17] EStriegel commented on #570
@mmurthydol Is this a task for Sprint 0?

[2018-03-06 18:25] phirefly opened #667 "Bug: Registration requires clicking the "Register" button twice"
Register a new user. click on the button to submit. The first click moves the page up. The second click submits the form.

I believe this is the same behavior across multiple buttons.

[2018-03-06 18:29] mmurthydol commented on #570
Yes

[2018-03-06 18:35] phirefly commented on #456
@mmurthydol See my note above after my QA...

Review and Submit says Review

The following pages don't have titles:
Dashboard
Account
Help

[2018-03-06 18:40] EStriegel commented on #587
QA before we close.  Should test with Renewal applications with a few work sites and multiple employees per work site.

[2018-03-06 18:41] EStriegel commented on #504
Screenshot from 3/6/18

![image](https://user-images.githubusercontent.com/19496579/37051311-173c12a0-2144-11e8-94f4-2eef13afab0d.png)

[2018-03-06 18:44] EStriegel commented on #433
@mmurthydol Is this complete?  The dashboard is functional to a user.

[2018-03-06 18:47] EStriegel commented on #595
Duplicate for #502.  Moving to `Closed`

[2018-03-06 18:47] #595 closed

[2018-03-06 18:48] EStriegel commented on #603
@binwang89 Can you review the error logs to see if there is a pattern for email failures?

[2018-03-06 18:55] EStriegel commented on #627
#397 is complete.  This issue can be addressed.

[2018-03-06 21:21] EStriegel commented on #597
We need to try and recreate.

[2018-03-06 21:24] EStriegel commented on #631
Moving to `Done` per Michelle's above comment.

[2018-03-06 21:25] EStriegel commented on #667
Duplicate of #640.  Moving to `closed`.

[2018-03-06 21:25] #667 closed

[2018-03-06 21:27] EStriegel commented on #435
Moving to Milestone 2.

[2018-03-06 21:31] EStriegel commented on #655
@mmurthydol The story blocking this bug is `Done`.  Can we unblock?

[2018-03-06 21:34] #577 closed

[2018-03-06 21:35] EStriegel commented on #665
@mmurthydol Option (a).  Will update the original comment.

[2018-03-06 21:35] mmurthydol commented on #655
@EStriegel We just had to close blocking the story. Done isn't enough for ZenHub.

[2018-03-07 15:14] EStriegel commented on #615
I will provide requirements on how to provide disclaimer.  There are OMB considerations when adding instruction.

[2018-03-07 16:01] EStriegel commented on #439
Moving to `Closed` based on the explanation above.

[2018-03-07 16:01] #439 closed

[2018-03-09 17:43] mmurthydol opened #668 "POP changes by WHD"
Ensure project ready for DOL.

- [x] Rijndael algorithm is not FIPS compliant. Replaced with AesCryptoServiceProvider.
- [x] DEFECT server side valiation of EIN/Cert/ZipCode
- [x]  To load API project, change <UseIISExpress>true</UseIISExpress>
to  <UseIISExpress>false</UseIISExpress>
- [x] mail settings: use:
       <network host="localhost" port="25" defaultCredentials="true" /> (Jenkins TODO)
-

[2018-03-13 14:19] EStriegel commented on #508
Duplicate of #591.  Moving to `Closed`

[2018-03-13 14:19] #508 closed

[2018-03-13 14:22] EStriegel commented on #427
@mmurthydol Is there any additional work that needs to be done re: virus scanning in milestone 1?  Thinking we can close this story, if no.

[2018-03-13 14:29] phirefly commented on #492
@mmurthydol please provide feedback about the viability of updating the error to tell the user to clear the application when encountering this issue

[2018-03-13 14:36] EStriegel commented on #131
The bug was pre-new login workflow.  Moving to `Closed`.

[2018-03-13 14:36] #131 closed

[2018-03-13 14:39] EStriegel commented on #160
This issue included in #156.  Moving to `Closed`

[2018-03-13 14:39] #160 closed

[2018-03-13 14:40] EStriegel commented on #201
Closing in favor of #427

[2018-03-13 14:40] #201 closed

[2018-03-13 14:42] EStriegel commented on #77
Per discussions with security, accounts will be disabled after 60 days.  To re-enable, users will be forced to change password next time they attempt log-in.

[2018-03-13 14:50] EStriegel commented on #506
After clicking "Save Source Employer", page should generally scroll to this view:

![image](https://user-images.githubusercontent.com/19496579/37349209-46461632-26ac-11e8-84d7-75bf75f04851.png)

[2018-03-13 14:51] EStriegel commented on #522
Closing in favor of #590

[2018-03-13 14:51] #522 closed

[2018-03-13 14:53] EStriegel commented on #525
Moving to `Icebox` as not necessary for milestone 1

[2018-03-13 14:54] EStriegel commented on #549
Moving to `Icebox` as not necessary for milestone 1

[2018-03-13 14:56] EStriegel commented on #491
Moving to `Done` - #490 is complete, and #651 captures remaining work.

[2018-03-13 14:59] EStriegel commented on #349
@mmurthydol @binwang89 Are we comfortable closing this issue?  See Leslee's comment above about look/functionality vs. HTML/CSS under the hood.

[2018-03-13 15:02] EStriegel commented on #501
This will be in Milestone 2.  Moving to `Icebox`

[2018-03-13 15:05] EStriegel commented on #115
@mmurthydol @binwang89 I believe this has been completed.  Please confirm and close, if so.

[2018-03-13 15:09] EStriegel commented on #621
This will be a Milestone 2 functionality.  Moving to `Icebox`

[2018-03-13 15:16] EStriegel commented on #625
On "Representations and Written Assurances" page, wherever 29 C.F.R. part 525 is, link to https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=&SID=2c2c1e5e4f61356b4516a55834d00bfd&r=PART&n=29y3.1.1.1.17

Bolded and italicized below.

-----

I certify that I have read this application and to the best of my knowledge and belief, all answers and information given in the application and attachments are true;

[2018-03-13 17:11] mmurthydol commented on #427
@EStriegel @phirefly This story will go into icebox. Problem doesn't occur frequently enough - we discussed this before POP.

[2018-03-13 17:16] mmurthydol commented on #571
Not for AQA

[2018-03-13 21:44] mmurthydol commented on #639
@PrabhakarThummalaDOL Please verify if this can be reproduced (if not already).

[2018-03-15 16:16] mmurthydol commented on #230
@phirefly @EStriegel Icebox. This is caviar for the homeless.

[2018-03-15 16:18] mmurthydol commented on #332
@EStriegel @phirefly Bottom of backlog. We'll ask for this when changes needed to be made in apiService.js.

[2018-03-15 18:55] PrabhakarThummalaDOL commented on #639
@phirefly , @EStriegel  I have tested both 'Forgot Password' and 'Change Password'. 'Forgot password' is sending 'Reset Password' email and the link in the email to reset password is working fine. 'Change Password' - allows the user to change the password but does not send email. @mmurthydol mentioned that 'Change Password' should not send an email to the user.

[2018-03-15 19:13] phirefly commented on #427
Per conversation with @mmurthydol, moving to `Icebox` due to low chance of this happening.

[2018-03-15 19:16] phirefly commented on #664
Per discussion with WHD internal, closing.

[2018-03-15 19:16] #664 closed

[2018-03-15 19:18] phirefly commented on #615
TODO: Find out if this is necessary from Security due to final screens already being sent out.

[2018-03-15 19:20] phirefly commented on #615
@binwang89 to follow-up with security

[2018-03-15 19:44] PrabhakarThummalaDOL commented on #596
Cannot recreate the problem.

[2018-03-15 19:48] phirefly commented on #115
@EStriegel and I will find all instances of the delete button and decide whether or not we need a global style treatment for all

[2018-03-15 19:49] phirefly commented on #624
Requires discussion about how to move forward with IE/Chrome parity issues in general

[2018-03-15 19:50] phirefly commented on #349
@mmurthydol will follow up with @joebhaktiarDOL on this one

[2018-03-15 19:51] phirefly commented on #654
Per @EStriegel, current version doesn't implement the prototype

[2018-03-15 19:58] phirefly opened #669 "EPIC: IE/Chrome/Cross-browser issues"

[2018-03-15 19:59] phirefly opened #670 "vvv*** WHD INTERNAL: LEFT OFF HERE ***vvvv"

[2018-03-15 21:53] binwang89 commented on #603
@EStriegel @mmurthydol I have tested. However, I can't submit the application.
2 issues i found when testing the 14c.
1. The Worksite/Employee page can't show previous work site  and I can't correct the the error.
2. while in the middle of working on the application, the system timeout message popup and asked me if i need more time.

[2018-03-16 17:53] binwang89 commented on #615
@phirefly email sent to Security team (Harry) and asked their input on 3/15.

[2018-03-16 18:27] mmurthydol commented on #639
@EStriegel I believe Change Password must not send an email to user since the user already knows that they changed password. If you do not need this feature from a business perspective, let's move this to inbox in case security brings this up.

[2018-03-16 20:21] binwang89 commented on #603
@EStriegel @mmurthydol @PrabhakarThummalaDOL after i retested today (log off and log back in to 14c),  it seems the issue was not there.  I think it maybe browser  or API refresh issue. I can not reproduce the same error anymore.

![image](https://user-images.githubusercontent.com/25330625/37542632-324d59ca-2935-11e8-945f-c3ce44c28bfe.png)

[2018-03-19 16:15] EStriegel commented on #639
@mmurthydol Correct - an email is not required when a user changes their password while they're logged in.  Moving to `Closed` based on @PrabhakarThummalaDOL's comment above that shows the error can't be recreated.

[2018-03-19 16:15] #639 closed

[2018-03-19 16:25] joebhaktiarDOL commented on #620
I need more details on this bug, how can i replicate it?

[2018-03-19 16:41] EStriegel commented on #620
@joebhaktiarDOL Please see screenshot below.  If you go to the Employer page, and scroll down to the question, you'll see when you enter a number, small up and down arrows appear in the field.  If you hover your mouse over the field when it is selected, and scroll your mouse, the numbers change.  This happens in all four fields.  We do not want this to happen,

![image](https://user-images.githubu

[2018-03-23 13:01] joebhaktiarDOL commented on #620
I've looked further into this and everywhere on the website, they are using this method for mouse hover. Let's discuss this in the stand up meeting on Monday.

[2018-03-23 13:35] joebhaktiarDOL commented on #591
Need more clarification regarding '1-800-DOL-HELP must be configured (must have entry in env.js)'

[2018-03-23 15:49] joebhaktiarDOL commented on #469
https://github.com/18F/dol-whd-14c/pull/672

[2018-03-23 15:50] joebhaktiarDOL commented on #505
https://github.com/18F/dol-whd-14c/pull/672

[2018-03-23 16:00] joebhaktiarDOL commented on #530
@binwang89 please test this page for Section 508 specifically for links that I added.

[2018-03-23 19:47] EStriegel commented on #625
@joebhaktiarDOL @mmurthydol Links are all functional, however we need the formatting to be the same as other links within the application.  See screenshot below:
![image](https://user-images.githubusercontent.com/19496579/37850369-3c706b50-2eb1-11e8-883f-848309c7ca42.png)

[2018-03-25 20:54] binwang89 commented on #615
@phirefly @EStriegel @mmurthydol Security responded on 3/23.  Akosua comments below. in email : "The banner notification language was taken from the CSH Vol 1. So it’s in compliance and acceptable."

If everyone think that is "Okay", I think we can move this user story to "Done".

[2018-03-26 11:41] joebhaktiarDOL commented on #625
@EStriegel I'm not sure exactly what to change and what to change it to? Do you want me to change the link text 29 C.F.R. part 525 to  29 U.S.C. 794g(c) and (e)?

[2018-03-26 16:29] EStriegel commented on #620
Not a bug - working as expected.  Moving to `Closed`

[2018-03-26 16:29] #620 closed

[2018-03-26 16:43] EStriegel commented on #349
Current header/footer is sufficient.  Moving to `Closed`

[2018-03-26 16:43] #349 closed

[2018-03-29 16:24] phirefly opened #676 "As an ADMIN, I can manage users so that I can easily respond to issues related to logins"
Placeholder for creating admin: user management

[2018-03-29 19:01] mmurthydol opened #677 "POP Changes"
As directed. No web.config changes here. Also add crypto fix.

[2018-04-02 20:10] EStriegel commented on #530
@binwang89 Can you confirm this story is complete from an accessibility perspective?  It looks good functionality-wise.

[2018-04-02 20:12] EStriegel commented on #615
Confirmed complete.  Moving to `Closed`

[2018-04-02 20:13] EStriegel commented on #505
Confirmed complete.  Moving to `Done`

[2018-04-02 20:14] EStriegel commented on #625
Confirmed complete.  Moving to `Done`

[2018-04-02 20:52] binwang89 commented on #530
@EStriegel  i have tested the links for this page, it looks good (  Just the links).  however we do have other 508 accessibility issues for this page.  for example #627 (Keyboard Access) and #628 (The skip function does not work properly). I will change this user story to be "Done" and keep other story open till all issues have been fixed.

[2018-04-03 13:51] EStriegel commented on #469
Confirmed complete.  Moving to `Done`

[2018-04-03 14:38] EStriegel opened #680 "Bug: WIOA section, data table not displaying information entered"
To recreate:

At WIOA section, click add worker, complete First Name, Last Name and Yes/No/Not Required and click submit.  See screenshot for how data table does not show info input.

![image.png](https://images.zenhubusercontent.com/57e9239095e42b6c5ba972b8/d5224268-9937-405b-a328-d1634bd38022)

[2018-04-03 14:47] EStriegel commented on #587
Cannot recreate.  Successfully submitted application with 3 work sites and multiple employees per work site.  Moving to `Closed`

[2018-04-03 14:48] #587 closed

[2018-04-03 14:52] EStriegel commented on #597
Cannot recreate.  Error messages on slider are correct.  Moving to `Closed`

[2018-04-03 14:52] #597 closed

[2018-04-03 15:04] mmurthydol commented on #680
@EStriegel Could you please list down repro steps so @joebhaktiarDOL can recreate this scenario on his laptop and then assign the story to @joebhaktiarDOL and me again please? Thanks.

[2018-04-03 15:07] mmurthydol commented on #141
@joebhaktiarDOL Please note this issue to fix if not already.

[2018-04-03 15:15] mmurthydol commented on #530
@binwang89 I am moving this story to in-progress. Could you please set up accessibility testing tools on Joe's VM working together with Joe? Let's also discuss the implications of these defects on whether we will fix them or not and may be add this to the running list. After these tasks are done we will close this story.

[2018-04-03 15:18] mmurthydol opened #681 "Bug: Accessibility 508: Change Password Page"
- [ ] Fix accessibility issues for this page especially issues described in  #627 & #628

[2018-04-03 15:27] EStriegel commented on #80
@binwang89 My preference is to include the 15 minutes language.  Can you check with Harry?

[2018-04-03 15:38] binwang89 commented on #530
@mmurthydol @joebhaktiarDOL sent the email with attached sample ESD form 11 for tools  installation.

[2018-04-03 15:54] PrabhakarThummalaDOL commented on #368
@EStriegel @binwang89 @mmurthydol : Application updates the current user's password when the email id entered a) different email exists in 14c b) different email doesn't exists in 14c. (updates in both the cases).

[2018-04-03 15:57] binwang89 commented on #681
@mmurthydol I have updated the description to include other 508 bugs.

[2018-04-03 16:41] mmurthydol commented on #658
Works on all 191, 192, 193

[2018-04-03 16:44] #660 closed

[2018-04-03 16:47] mmurthydol commented on #596
@EStriegel Please verify that problem doesn't exist. @PrabhakarThummalaDOL wasn't able to repro this defect.

[2018-04-03 16:50] mmurthydol commented on #663
@PrabhakarThummalaDOL verify 191, 192, 193

[2018-04-03 19:09] mmurthydol opened #682 "Bug: Session timeout (API)"
Login/Logout activities are stored in the UserActivities table.

When session times out on the client side, user automatically is logged out.

- [x] Verify there is an activity log entry for the logout API call (if there is a logout API call, there should be an activity log entry. It's possible the entry is the error log table).
- [x] Document the login/log out entries where they are and what they

[2018-04-04 18:54] mmurthydol opened #683 "Implement admin functionality to support user management"
related to #78

- [x] API: Implement API methods for user management CRUD (create/read/update/delete user/s)
- [x] Data: Need data columns?? Don't think so, but please use Disabled, Deleted.
- [x] UI: Dashboard-> Manage Users: Rename Edit button to "View/Edit"
- [x] UI: Dashboard-> Manage Users -> Edit (for the user): Add Disabled, Deleted check boxes, First Name, Last Name, Phone Number, ?Phone N

[2018-04-04 19:25] EStriegel commented on #506
@joebhaktiarDOL Please spend 30 minutes reviewing this story and provide @mmurthydol an estimate of how long it will take to complete.

[2018-04-04 19:33] EStriegel opened #684 "Bug: Session timeout (UI)"
Bug:
- [x] Session timeout warning pops up when user is actively completing application.
- [x] Logged out user should not get session timeout pop up dialog user (this includes log-in page/admin).

**Acceptance Criteria:**
Existing behavior must be preserved.
- [x] Popup dialog continues to show after 13 minutes of idle time and after 15 (13 + 2 ) total minutes of idle time session times out.
- [x]

[2018-04-06 17:06] joebhaktiarDOL commented on #141
@EStriegel @mmurthydol This is done.

[2018-04-06 17:58] mmurthydol commented on #141
@joebhaktiarDOL Was this problem reproduced and a fix applied? what exactly was done? Thanks.

[2018-04-06 18:09] EStriegel commented on #596
Cannot recreate.  Moving to `Closed`

[2018-04-06 18:09] #596 closed

[2018-04-06 20:09] mmurthydol opened #686 "Bug: Jenkins build fails from 14c-submitted-application web.config change in AIS INT environment"
Build is failing due to a failed test which is specifically looking for test@test.com
This is test in DOL must either be removed or rewritten to be sensitive to values that change from environment to environment.

Take care of changing to actual email value to DOL internal environment.

 - [ ]  In AIS environment, revert value back to test @test.com

[2018-04-10 19:16] EStriegel commented on #659
@mmurthydol confirmed done.  Moving to `Done`

[2018-04-10 19:17] EStriegel commented on #661
@binwang89 Please confirm @PrabhakarThummalaDOL & @joebhaktiarDOL are connected to GitLab

[2018-04-10 19:18] EStriegel commented on #663
@binwang89 Please confirm completed by @PrabhakarThummalaDOL & @joebhaktiarDOL

[2018-04-10 19:28] EStriegel commented on #530
@mmurthydol created issue #681. Moving to `Done`

[2018-04-10 19:31] EStriegel commented on #80
Keeping 15 minute language, unless otherwise instructed by security.  Moving to `Done`

[2018-04-10 19:35] EStriegel commented on #657
@mmurthydol confirmed complete.  Moving to `Done`

[2018-04-10 19:43] EStriegel commented on #603
Cannot reproduce.  Moving to `Closed`

[2018-04-10 19:44] EStriegel commented on #676
Duplicate of #683.  Moving to `Closed`

[2018-04-10 19:44] #676 closed

[2018-04-10 19:51] EStriegel commented on #655
@binwang89 please follow up with Harry as to whether this is required.

[2018-04-10 19:57] #670 closed

[2018-04-11 15:36] binwang89 commented on #663
@EStriegel @mmurthydol confirmed with Joe and Prabhakar.  they have access to DOL 14c Dev

[2018-04-11 15:36] #663 closed

[2018-04-11 15:38] binwang89 commented on #661
@EStriegel @mmurthydol confirmed with Prabhakar and Joe.  they are connected to Gitlab.

[2018-04-11 15:38] #661 closed

[2018-04-11 19:08] mmurthydol opened #690 "Build application with private GitLab repository"
Completed:
Built the application on DOL Jenkins with Gitlab repository.
Ran the updated database scripts on Dev database (both 14c and 14clog)
DotConnect 2.2.348 has been configured on the web config.

--------------

GitLab: section14c-18f (not section14c)

Prabhakar
- [x] Build 14c application with GitLab's Dev branch. Use path format as indicated (adjusted to your username). C:\src\mmurthy\whd\

[2018-04-12 17:37] binwang89 commented on #655
@EStriegel , Harry and @mmurthydol  spoked during the standup and received security guidance/confirmation as outlined below.

Any functionality implemented by the application where user receives an email that contains a link to be clicked on, and when user clicks on the link, the user should be redirected to a banner page prior to be redirected to any application page (ex: change password page, em

[2018-04-13 20:04] mmurthydol commented on #79
same as #78 and hence closed

[2018-04-13 20:04] #79 closed

[2018-04-14 02:12] #560 closed

[2018-04-18 18:52] PrabhakarThummalaDOL commented on #135
@EStriegel @mmurthydol
Below is the screenshot with a new message when email fails, please confirm the message verbiage is fine?

![image](https://user-images.githubusercontent.com/36516512/38951935-12b97fd8-4318-11e8-8d1f-6a8bb9ef965f.png)

[2018-04-18 19:05] PrabhakarThummalaDOL commented on #683
@EStriegel @mmurthydol

Please confirm the verbiage in the error message at the top of the screen?

![image](https://user-images.githubusercontent.com/36516512/38952463-c7963864-4319-11e8-95fe-6efa95e0db69.png)

[2018-04-18 19:14] EStriegel commented on #135
@PrabhakarThummalaDOL @mmurthydol @binwang89 Please update the header from "Account has been created with an error" to "Account Creation Error".

[2018-04-18 19:16] EStriegel commented on #683
@PrabhakarThummalaDOL @mmurthydol This looks fine to me, but I haven't seen the admin screens before.  Will defer to Madhu.

[2018-04-18 19:27] PrabhakarThummalaDOL commented on #135
@EStriegel @mmurthydol @binwang89
I think we need to indicate the user that the Account has been created successfully, but failed to send email. Otherwise user might try to re-register with the same Id again. Please advise.

[2018-04-18 19:41] binwang89 commented on #683
@EStriegel will do,

[2018-04-20 16:11] PrabhakarThummalaDOL commented on #135
@mmurthydol
_Set the user (as Deleted) if the transaction fails at creating the role for the user._
- To be discussed: User can be set as 'Deleted' when the transaction fails (at creating the role) - I think this is to enable the user to retry Registration. But system does not allow a user with the same emailid (unique). So setting the user as 'Deleted' is not helpful.

[2018-04-20 16:14] PrabhakarThummalaDOL commented on #502
@EStriegel
Fixed the problem.
(I'll give a demo.)

[2018-04-25 16:53] EStriegel commented on #92
Duplicate of #46 & #49

[2018-04-25 16:53] #92 closed

[2018-04-26 17:01] PrabhakarThummalaDOL commented on #683
To create a new user account:
Login as System administrator.
**From Dashboard, click on 'Manage Users' to open the list of users.
Click on 'Create Account' button. Enter the user information and save the User Account.**

To assign a password for the new user:
**From the list of Users, click on 'Reset Password' for the new user.
Enter/Confirm the password.**

TODO: Prabhakar- Does the new password

[2018-04-26 17:05] PrabhakarThummalaDOL opened #691 "User Admin - default/reset password for a new/existing user."
Workaround is available for this issue in #683.
When a new user is created by from Admin screen, the new password can be set using Reset Password button.
Hence prioritized accordingly. Can survive without this for milestone 1.
- [x] Password complexity need to be implemented for the reset password from Admin screen.

[2018-04-26 17:06] mmurthydol commented on #683
Creating a user involves two steps: (a) creating the user in the dashboard (which doesn't contain functionality to create a default password (b) as work around, use the "Reset Password" for now.
new story #691 written to provide setting default password under "Create User"

[2018-05-15 16:05] EStriegel opened #693 "As a Certification Team Member, I want to be able to log-in to the certificate processing system, so that I can begin reviewing submitted 14c applications."
CP 14c needs to use the AD authentication implemented by DOL CMP.

[2018-05-15 16:18] EStriegel opened #694 "As a Certification Team Member & Policy Team Member, I would like the certificate processing system to write data to the database, so that there is data parity between online and paper submissions."
Dependent on #138 - After user "submits" a paper form into the certificate processing system, the data should write to the 14(c) form tables.

[2018-05-15 16:25] EStriegel opened #695 "As a Certification Team Member, I want the certificate processing system to receive applications submitted electronically via the online application system, so that I can review applications and make a certificate decision."
Link needed between online application system and certificate processing system so that submitted applications are received and can be assigned a status (#45), distributed to specialists (#21 & #22), and viewed by specialists (#11).

[2018-05-15 16:27] EStriegel opened #696 "As a Certification Team Member, I want the certificate processing system to notify me when an application has been assigned to me, so that I can begin reviewing the application."

[2018-05-15 21:10] EStriegel opened #697 "As a certification team member, I would like the ability to modify data fields within individual applications so that I can update an application when an error is discovered and an employer provides a correction."
- [ ] Important to keep record of original submission vs. corrected data field.
- [ ] Data used for reporting should be corrected data field.

[2018-05-15 21:13] EStriegel opened #698 "As a Certification Team Member, I want the certificate processing system to generate a certificate when the the certificate status is changed to "issued"."
WHD must provide:
- [ ] Data points needed for certificate generation;
- [ ] Logic for certificate numbering;
- [ ] How will we link previous cert dates in legacy system to new system so that certificate dates are accurate?

[2018-05-15 21:15] EStriegel opened #699 "As the WHD records manager, I want the system to keep an electronic record of a 14c application and certificate so that the NARA requirements are met."
Need requirements from Steve Pierce.

[2018-05-15 21:18] EStriegel commented on #26
Covered by #27

[2018-05-15 21:18] #26 closed

[2018-05-15 21:25] EStriegel opened #700 "As a Certification Team Member, I would like template letters available within the certificate processing system so that I can communicate with applicants electronically."
- [ ] Expedited review letter
- [ ] Request for additional information (?)
- [ ] 30-day intent to deny letter
- [ ] Denial notice
- [ ] Certificate Issuance (w/certificate)

[2018-05-18 15:35] #690 closed

[2018-05-24 19:21] PrabhakarThummalaDOL opened #701 "Admin user management, Audit, User History - continued."
Below is the list of stories

#683 - Implement admin functionality to support user management
#78 - As a WHD Security Officer, I would like the application to automatically audits account creation, modification, enabling, disabling, and removal actions, and notifies via email the appropriate personnel.

- [x] User Already Exists check. Remove the Unique constraint for Email-Id and check.
Per Madhu

[2018-05-24 19:42] PrabhakarThummalaDOL opened #702 "Bug: Email confirmation is not being sent for internal email addresses."
Email confirmation is not being sent for internal email addresses.

[2018-05-25 19:37] binwang89 opened #703 "Bug: Wage Data for Renewal Application, for Piece Rate, the upload function for documentation of the methods used to determine the standard productivity is not working and user can not upload the file."
Bug description:
user can't upload one piece of documentation for piece rate.
https://section14cdev.dol.gov/#!/section/wage-data

First screenshot at the top:
![image.png](https://images.zenhubusercontent.com/5887af0e51aa2c305772c053/48aaa4b3-d929-4438-ac57-811f72c47edc)![image.png](https://images.zenhubusercontent.com/5887af0e51aa2c305772c053/b8df8f7b-cd25-4f76-afba-d39e809ba998)

2nd screenshot

[2018-05-25 19:56] binwang89 commented on #703
I re-test it with another email account, I could not re-produce the same issue. the piece-rate option seem okay. At the end, I was able to submit the application.

[2018-06-01 02:05] mmurthydol commented on #702
resolved through email relay server getting configured correctly

[2018-06-01 02:14] #659 closed

[2018-06-01 02:14] #658 closed

[2018-06-01 20:48] mmurthydol commented on #682
Redesigned the data schema to add usere activities to UserActivities table.
Verified impl. and deployment. Log entries look good. Hence losing the issue.

[2018-06-01 20:48] #682 closed

[2018-06-01 20:52] mmurthydol commented on #701
Discussed with Prabhakar.
For sysadmin: Will add the admin buttons (resend email, 2FA verification code, reset pwd, admin change pwd) to User actiivity).

Reset password will be logged not only for sysadmin, but also for non-sysadmin users.
Moving to in progress...

[2018-06-01 20:53] mmurthydol commented on #135
reviewed code and UI.

[2018-06-01 20:53] #135 closed

[2018-06-01 21:04] mmurthydol commented on #684
Moved to in progress. after reviewing code and testing together

[2018-06-04 00:39] binwang89 commented on #703
I re-test it with the same dol email account, and i can't re-produce the same error, i think we can drop this issue.

[2018-06-04 00:50] binwang89 opened #704 "BUG: issue found on WIOA, the information won't show on slider after the data has been saved"
Bug description:
issue on https://section14cdev.dol.gov/#!/section/wioa

 The external user listed all applicable workers - paid a subminimum wage age 24 or younger.
Once the data has been entered and saved, the slider show blank.
However, I still can apply and got the email with the attached PDF file.

![image.png](https://images.zenhubusercontent.com/5887af0e51aa2c305772c053/2f417ed6-cb8c-4789-b

[2018-06-04 21:51] #677 closed

[2018-06-04 21:52] #141 closed

[2018-06-04 21:54] mmurthydol commented on #368
@EStriegel @binwang89 Please test and close the issue if all ok.

[2018-06-04 21:55] #593 closed

[2018-06-04 21:55] #592 closed

[2018-06-04 21:55] #416 closed

[2018-06-04 21:56] #191 closed

[2018-06-04 21:56] #558 closed

[2018-06-04 21:56] #348 closed

[2018-06-04 21:56] #307 closed

[2018-06-04 21:56] #282 closed

[2018-06-04 21:56] #207 closed

[2018-06-04 21:56] #450 closed

[2018-06-04 21:56] #306 closed

[2018-06-04 21:57] #317 closed

[2018-06-04 21:57] #346 closed

[2018-06-04 21:57] #287 closed

[2018-06-04 21:57] #298 closed

[2018-06-04 21:57] #296 closed

[2018-06-04 21:58] #457 closed

[2018-06-04 21:58] #347 closed

[2018-06-04 21:58] #210 closed

[2018-06-04 21:58] #262 closed

[2018-06-04 21:58] #283 closed

[2018-06-04 21:58] #244 closed

[2018-06-04 21:59] #166 closed

[2018-06-04 21:59] mmurthydol commented on #571
@EStriegel @binwang89 Please test when you can.

[2018-06-04 21:59] #472 closed

[2018-06-04 21:59] #387 closed

[2018-06-04 22:00] #345 closed

[2018-06-04 22:00] #438 closed

[2018-06-04 22:00] #571 closed

[2018-06-04 22:01] mmurthydol commented on #115
@EStriegel @wang please test when you can

[2018-06-04 22:02] mmurthydol commented on #591
@EStriegel @binwang89  Please test when you can.

[2018-06-04 22:04] mmurthydol commented on #640
@EStriegel @binwang89  Liz: This is an EZ (== inexpensive) workaround for the annoying and deceptive Register button click problem. Let's discuss and then please test when you can.

[2018-06-04 22:07] PrabhakarThummalaDOL commented on #502
@binwang89 @EStriegel Please test this.

[2018-06-04 22:10] PrabhakarThummalaDOL commented on #702
@binwang89  @EStriegel  Please test this.

[2018-06-05 01:14] binwang89 commented on #702
@PrabhakarThummalaDOL @mmurthydol @EStriegel I have tested the this defect recently by using my dol email account, the result is good. Please see below screenshot for confirmation email sent to my internal email account.

![image](https://user-images.githubusercontent.com/25330625/40949442-1dc12428-683c-11e8-8487-b8902bb40d2a.png)

[2018-06-05 02:52] binwang89 commented on #502
@PrabhakarThummalaDOL @EStriegel I tested both certificate and telephone number, they look good.
please see below screenshots:
![image](https://user-images.githubusercontent.com/25330625/40952623-ef6dfeb2-6849-11e8-9909-f547837a7328.png)

![image](https://user-images.githubusercontent.com/25330625/40952637-fe6f57e4-6849-11e8-824b-abfca7e5b312.png)

[2018-06-05 02:59] binwang89 commented on #640
@EStriegel @PrabhakarThummalaDOL I tested it again by registration a account (clicked the Register button only one time), and the  account creation message was displayed. please see below screenshot:

![image](https://user-images.githubusercontent.com/25330625/40952822-f7863d20-684a-11e8-8fff-42d2cac1c63c.png)

[2018-06-05 03:08] binwang89 commented on #591
@EStriegel @PrabhakarThummalaDOL it looks good

![image](https://user-images.githubusercontent.com/25330625/40953104-3c7dc5fa-684c-11e8-8191-54307b643eec.png)

[2018-06-05 13:12] binwang89 commented on #368
@mmurthydol what is the correct workflow for testing this user story, the email is still editable when i do the testing. The related bug user story #665 is still in backlog.

[2018-06-05 15:03] PrabhakarThummalaDOL opened #705 "Admin: Add header-footer, breadcrumbs and 508 compliant to the Admin dashboard and user management"
Add the following features to the Admin screens:
- [x] Section 14c standard header-footer
- [ ] Breadcrumbs

[2018-06-05 20:26] binwang89 commented on #665
move it to Ready to Start

[2018-06-05 20:28] binwang89 commented on #368
Move #665 to Ready to Start. Once it is completed, i will test this user story.

[2018-06-07 20:49] PrabhakarThummalaDOL opened #706 "Security: Implement custom 2FA"
2FA
- [x] For system administrators: Always enable the 2FA
- [x] For non-administrators: 2FA should be enabled for the first time login only. Make this feature configurable.

[2018-06-07 20:57] #203 closed

[2018-06-07 20:58] mgwalker commented on #203
![](https://i.imgur.com/B5Avc1V.gif)

[2018-06-07 21:26] mmurthydol opened #707 "Security: Disabled users must reactivate user to login to the system"
- [x] Disabled users upon login must receive an email stating that their account was disabled due to inactivity (specific message in each case). The text is configurable in web.config. Email subject: "Reactivate Your Account: Department of Labor Section 14(c) Online Certificate Application".
- [x] Display the message on the login page - "Your account has been disabled due to inactivity. Please che

[2018-06-07 21:28] mmurthydol opened #708 "Security: Disabled users must do what to login in to the system?"
@EStriegel Liz, let's talk about this. What should happen from your perspective?

[2018-06-07 21:58] PrabhakarThummalaDOL opened #709 "Database: Set size to table columns"
For wh14c and wh14clog databases, set the column size (maxlength/fixedlength).
- [x] Recreate the database script (c#) with custom column size and data types for wh14c and wh14clog databases.

[2018-06-07 22:02] PrabhakarThummalaDOL opened #710 "Database: Remove Quote Identifier"
For wh14c and wh14clog databases:
Remove the quote identifiers (double quotes) for all the database entities in the generated script.
Quotes should not exist in any DDL and DML statements (create, update, select etc.).

- [x] Remove the quote identifier (double quotes) in the DotConnect.
- [x] Rename and make the table and column names user-friendly. (When Quote Identifier is removed, the table an

[2018-06-08 00:26] #534 closed

[2018-06-08 00:26] #545 closed

[2018-06-08 00:27] #174 closed

[2018-06-08 00:27] #497 closed

[2018-06-08 00:28] #578 closed

[2018-06-08 00:28] #471 closed

[2018-06-08 00:28] #540 closed

[2018-06-08 00:28] #536 closed

[2018-06-08 00:28] #537 closed

[2018-06-08 00:28] #538 closed

[2018-06-08 00:29] #539 closed

[2018-06-08 00:29] #239 closed

[2018-06-08 00:29] #417 closed

[2018-06-08 00:29] #418 closed

[2018-06-08 00:29] #392 closed

[2018-06-08 00:29] #514 closed

[2018-06-08 00:30] #291 closed

[2018-06-08 00:30] #425 closed

[2018-06-08 00:30] #464 closed

[2018-06-08 00:31] #568 closed

[2018-06-08 00:31] #342 closed

[2018-06-08 00:31] #594 closed

[2018-06-08 00:31] #516 closed

[2018-06-08 00:32] #541 closed

[2018-06-08 00:32] #158 closed

[2018-06-08 00:32] #517 closed

[2018-06-08 00:32] #106 closed

[2018-06-08 00:33] #491 closed

[2018-06-08 00:33] #615 closed

[2018-06-08 00:34] #505 closed

[2018-06-08 00:34] #499 closed

[2018-06-08 00:34] #448 closed

[2018-06-08 00:34] #521 closed

[2018-06-08 00:34] #496 closed

[2018-06-08 00:35] #286 closed

[2018-06-08 00:35] #292 closed

[2018-06-08 00:35] #546 closed

[2018-06-08 00:37] #294 closed

[2018-06-08 00:38] #299 closed

[2018-06-08 00:38] #495 closed

[2018-06-08 00:38] #490 closed

[2018-06-08 00:38] #8 closed

[2018-06-08 00:38] #503 closed

[2018-06-08 00:38] #531 closed

[2018-06-08 00:38] #415 closed

[2018-06-08 00:39] #576 closed

[2018-06-08 00:39] #304 closed

[2018-06-08 00:39] #588 closed

[2018-06-08 00:39] #523 closed

[2018-06-08 00:39] #512 closed

[2018-06-08 00:39] #449 closed

[2018-06-08 00:39] #406 closed

[2018-06-08 00:40] #569 closed

[2018-06-08 00:40] #120 closed

[2018-06-08 00:40] #629 closed

[2018-06-08 00:40] #507 closed

[2018-06-08 00:40] #598 closed

[2018-06-08 00:40] #212 closed

[2018-06-08 00:40] #69 closed

[2018-06-08 00:41] #381 closed

[2018-06-08 00:41] #109 closed

[2018-06-08 00:41] #132 closed

[2018-06-08 00:41] #397 closed

[2018-06-08 00:41] #433 closed

[2018-06-08 00:41] #631 closed

[2018-06-08 00:41] #625 closed

[2018-06-08 00:42] #469 closed

[2018-06-08 00:42] #187 closed

[2018-06-08 00:42] #208 closed

[2018-06-08 00:42] #337 closed

[2018-06-08 00:42] #530 closed

[2018-06-08 00:42] #686 closed

[2018-06-08 00:42] #702 closed, assigned to EStriegel, binwang89, PrabhakarThummalaDOL

[2018-06-08 00:42] #502 closed

[2018-06-08 00:43] #640 closed

[2018-06-08 00:43] #591 closed

[2018-06-08 19:13] EStriegel commented on #708
@mmurthydol

Process for disabled account to be reactivated:
- User attempts to log-in by entering user name/password
- If account has been disabled, user sees screen that says, "Due to account inactivity, your account has been disabled.  An email has been sent to you with a link to reset your password.  You must click this link, and change your password, to reactive your account."
- System sends

[2018-06-20 14:47] binwang89 opened #711 "Bug: Typos on the login page that displays password requirements"
Bug Description:
Typos  on the login page that displays password requirements, The “leter” must be changed to “letter”.
Please see the screenshot below -
![image](https://user-images.githubusercontent.com/25330625/41665907-26b741ce-7477-11e8-92aa-01253e861dc2.png)

[2018-06-20 19:01] binwang89 opened #712 "API - As an applicant, I would like to have "Name of Worker" within the add employee slider to be captured as First Name, Last Name to prevent data quality issues"
Modify appropriate DB schema/API calls to split “Employee” table “Name” column in to “First Name”, and “Last Name”. Perhaps do not drop name column in the schema JIC, and return “First Name”, “Last Name” in the API.

[2018-06-20 19:05] binwang89 opened #713 "UI - As an applicant, I would like to have "Name of Worker" within the add employee slider to be captured as First Name, Last Name to prevent data quality issues"
As an aside fixing this in online might be trickier as it affects API + UI layers in some intricate ways.

[2018-06-20 19:07] binwang89 opened #714 "API2 - API - As an applicant, I would like to have "Name of Worker" within the add employee slider to be captured as First Name, Last Name to prevent data quality issues"
TODO - to be discussed.
Once API is connected to UI correctly, drop the “Name” column from DB and API. Blocked by the UI story

[2018-06-20 19:43] #651 closed

[2018-06-20 19:44] binwang89 commented on #712
See story #651  for reference

[2018-06-20 19:45] binwang89 commented on #713
See story #651 for reference

[2018-06-20 19:45] binwang89 commented on #714
See story #651 for reference

[2018-06-22 14:40] binwang89 opened #715 "Bug: Typos on the app-info page that displays error message for fax number"
Bug description:
https://section14cdev.dol.gov/#!/section/app-info

System needs to display the following error message:
"If available, please provide a valid fax number."

please see the screenshot below:

![image](https://user-images.githubusercontent.com/25330625/41782645-ce0384aa-7608-11e8-957f-794e1e33d677.png)

[2018-06-22 14:45] binwang89 opened #716 "Bug: Typo on error message for SAC wage determination"
Bug description: Typo on the error message for SAC wage determination.  please remove the "survey" from the error message.

![image](https://user-images.githubusercontent.com/25330625/41782757-21baeeda-7609-11e8-9ae0-75ba51ba62d3.png)

[2018-06-22 14:55] binwang89 opened #717 "Bug: API - Error message missing for required field ( EIN) for employer and this field is not part of validation process."
related info in #717

**Requirements**
- [ ] Add EIN validation in API methods that Save/Submit data that includes EIN.

[2018-06-22 15:00] binwang89 opened #718 "Bug: UI - EIN validation is missing on employer tab."
Bug description:
under Employer ( https://section14cdev.dol.gov/#!/section/employer), if user did not enter the EIN information, the system won't not validate this field and no error message display for this required field.

**Requirements**
- [x] Add EIN required validation in validation JS file.
- [x] Add EIN regular expression validation in JS file.
- [x] Please display the following error mess

[2018-06-25 02:02] binwang89 opened #719 "Bug: Typo in the examples that we are providing for John Jones and for Sue Gomez."
Bug Description:
Typo in the examples that we are providing for John Jones and for Sue Gomez.

Should read: “Commensurate wage rate/average earnings per hour for job described above”
Instead of:  “Commensurate wage rate/average earings per hour for job described above”

Steps:
Add Employees

Fix: fix example content to read “earnings”

please see the screenshot below -
![image.png](https://images.

[2018-06-25 02:02] binwang89 opened #720 "Bug: Typo in the examples that we are providing for John Jones and for Sue Gomez."
related to #719

Bug Description:
Typo in the examples that we are providing for John Jones and for Sue Gomez.

Should read: “Commensurate wage rate/average earnings per hour for job described above”
Instead of:  “Commensurate wage rate/average earings per hour for job described above”

Steps:
Add Employees

Fix: fix example content to read “earnings”

please see the screenshot below -
![image.png

[2018-06-25 02:08] binwang89 opened #721 "Bug: Error message is missing for required field (How many workers with disabilities were paid an hourly subminimum wage during the most recently completed fiscal quarter?)"
Bug description: No error message is displaying if you don’t answer this question for required field.

Field: How many workers with disabilities were paid an hourly subminimum wage during the most recently completed fiscal quarter?

Steps:
Select Hourly > Save page

Fix: System should display the following error message:
Please indicate the number of workers.

![image.png](https://images.zenhubuse

[2018-06-25 02:27] binwang89 commented on #721
re-tested, the system will show the error message.  I will close this user story.

[2018-06-25 02:27] #721 closed, assigned to NathayaMDOL

[2018-06-25 02:42] binwang89 opened #722 "Bug: Employee page, radio button should not be default selection."
bug description: the radio button should be open for user to make selection and not default to piece rate.

Steps:
Add Employees

![image.png](https://images.zenhubusercontent.com/5887af0e51aa2c305772c053/04669023-3b83-4d06-8f16-5fc9b8cbb763)

The radio button selection should not have a default one, please see the below screenshot for
other radio selection.

![image](https://user-images.githubuse

[2018-06-25 20:41] binwang89 opened #723 "Provide screenshots as walk through the 14C Online application"
please provide  screenshots as you walk through the 14C Online application (banner page, user registration – before/after clicking on register, login as an invalid user, login as a valid user)

[2018-06-25 20:52] NathayaMDOL commented on #723
Hi @mmurthydol  and @binwang89
Please see the attached!
![1 registrationpage](https://user-images.githubusercontent.com/40499717/41875183-17b45462-7898-11e8-9b7c-4adf37d6b47e.png)
![2 fillformregistrationpage](https://user-images.githubusercontent.com/40499717/41875184-17bf5c90-7898-11e8-8d47-d22d70825dc8.png)
![3 afterclickingregister](https://user-images.githubusercontent.com/40499717/41875185-1

[2018-06-25 21:05] mmurthydol commented on #723
@NathayaMDOL Thanks. Could you also provide screen shots for (a) email already exists upon user registration (b) a sample user confirmation email (c) screen shot of the page that you see when you click on confirm link on the email.
Thanks.
@binwang89 Michelle - FYI

[2018-06-25 21:10] mmurthydol commented on #723
@NathayaMDOL (d) also the 2FA email (e) change/reset password email (f) reset/change password page when clicking on the link in the email. (g) screen shots from the admin functionality - Prabhakar can point out what needs to be done. Please provide d, e, f and g separately.
@PrabhakarThummalaDOL @binwang89 FYI

[2018-06-25 21:19] NathayaMDOL commented on #723
Here are screen shots for (a), (b) and (c)
![a email already exists upon user registration](https://user-images.githubusercontent.com/40499717/41876442-d1b86152-789b-11e8-8f16-65b558786089.png)
![b a sample user confirmation email](https://user-images.githubusercontent.com/40499717/41876446-d4cef9d2-789b-11e8-896a-3aca651175bd.png)
![c screen shot of the page that you see when you click on confirm

[2018-06-25 21:38] NathayaMDOL commented on #723
Here are the screen shot for d,e,f and g in zip file
[screen shots d, e, f and g.zip](https://github.com/18F/dol-whd-14c/files/2134836/screen.shots.d.e.f.and.g.zip)

[2018-06-25 21:54] PrabhakarThummalaDOL opened #724 "Implement search/filter/sort/page functionality on Admin page"
## Acceptance Criteria
- [x] Scope out whether to replace the grid to DataTable or not.
- [x] Implement search/filter/sort/page functionality like in the rest of the application.
- [x] 508 Compliance for data grid
Note from Madhu: Low priority, can be implemented closer to production.

@NathayaMDOL : To do only if its easy to implement.

[2018-06-25 22:05] mmurthydol opened #725 "Design and Implement streamlined API routes (API)"
## Acceptance Criteria
- [ ] List all the API methods/routes in the applications
- [ ] Streamline/Design the routes/parameters
- [ ] Implement these in API Controllers

[2018-06-25 22:07] mmurthydol opened #726 "Implement streamlined API routes (UI)"
## Acceptance Criteria
- [ ] revise calls on Angular side to the changed server side API routes/parameters.

[2018-06-25 22:12] mmurthydol opened #727 "Bug: Email confirmation - Clicking on Hyperlink shows a blank page in IE (Chrome is OK)."
Please see if this defect can be reproduced.

## Acceptance Criteria
- [x] Test on  IE
- [x] Test on Chrome
- [ ] Madhu to Test on IE if IE behavior works OK on Nathaya's machine.

[2018-06-25 22:23] mmurthydol opened #728 "Ensure 508 compliance for admin page"
#724 ensures compliance for Data grid part of admin page.

## Acceptance Criteria
- [ ] Ensure 508 compliance.

[2018-06-25 22:36] mmurthydol opened #729 "Bug: System Administrators must only be able to work with Admin pages."
Can be prioritized low.

## Acceptance Criteria
- [ ] System administrator must not be able to register an employer a 14C Application.
- [ ] System administrator must not be able to create/view  14C Application/s.
- [ ] System administrator musts not be able to view admin dashboard where list of all applications is displayed, where application status can be modified.
- [ ] System administrator mus

[2018-06-25 22:40] mmurthydol opened #730 "14C Online Application must only support User and Admin roles"
## Acceptance Criteria
- [x] Edit/View UI must only display Applicant, System Administrator roles.
- [x] Do not display 2FA check box.
- [x] API code must only support Applicant, System Administrator roles.
- [x] Remove all other roles (except Applicant and System Administrator) from the seed method(s).

[2018-06-25 23:06] mmurthydol opened #731 "Add server side validation to be consistent with client side validation"
Validation must be consistently implemented both at the UI and API level. This indirectly also helps with security.

## Acceptance Criteria
Ensure that all API calls that accept input parameters are validated if those parameters contain data  from client side fields that have validation performed against them.
- [ ] All Required validation (server side) must be consistent with client side required

[2018-06-25 23:12] mmurthydol opened #732 "Implement Data collection requirements"
@EStriegel Liz, We need to discuss how much we can or not do given that web pages went through OPA? approval process. If we are able to implement everything below, we would be more consistent with CAPS (cert team specialist phase). Let's discuss.

## Acceptance Criteria
- [ ] Person's Name wherever found in the application must use First/Middle/Last Name fields. Note (not middle initial)
- [ ] Add

[2018-06-26 05:22] mmurthydol commented on #723
@NathayaMDOL I need following pictures:
1)	Page after clicking Edit/View button in User Management
2)	All screen shots for changing password (not the same as reset password).
3)	Session Timeout popup dialog boxes – two of them (a) around 13 minutes popup (b) popup after 15 minutes when session timed out.
4)	Account Lockout screenshot on login page
5)	Disabled user attempts to login – screen shot n

[2018-06-26 14:32] NathayaMDOL commented on #727
Hi @mmurthydol ,
Yes, the defect can be reproduced. After clicking email confirmation on Hyperlink shows a blank page in IE but Chrome is OK.

Thanks,
Nathaya

[2018-06-26 15:05] NathayaMDOL commented on #723
@mmurthydol ,
The attached zip file is the screenshot of above lists.
[Screenshot 26Jun18.zip](https://github.com/18F/dol-whd-14c/files/2137687/Screenshot.26Jun18.zip)

Thanks,
Nathaya

[2018-06-26 20:01] mmurthydol opened #733 "Expire unsubmitted applications"
@EStriegel please scrub, label, prioritize. I added technical requirements and pseudo-business requirements.

## Acceptance Criteria
- [ ] UI should notify users that unsubmitted applications expire after 6 months. We’ll need to figure out where/how in the UI.
- [ ] When user logs in, we’ll need to ensure that user is forced to start a new application if previously unsubmitted application has expi

[2018-06-26 22:14] mmurthydol commented on #599
@NathayaMDOL Please reproduce this defect and provide screenshots to Liz for next steps.

[2018-06-26 22:22] mmurthydol commented on #603
@binwang89 @EStriegel Michelle/Liz: Problem must have resolved from 14c online sending emails to the logged in user instead of contact person email

[2018-06-27 09:07] mmurthydol commented on #723
@NathayaMDOL may I have following screenshots
1) After clicking on Edit/View page, could you please uncheck everything except "Email Confirmed".
Thanks

[2018-06-27 13:00] binwang89 commented on #603
@EStriegel @mmurthydol I have tested the application and this issue has been resolved.  I will close it.

[2018-06-27 13:00] #603 closed

[2018-06-27 13:58] NathayaMDOL commented on #723
@mmurthydol ,
![after clicking edit-view admin](https://user-images.githubusercontent.com/40499717/41978800-8e13b8ba-79f0-11e8-81be-4bb42c51ce25.png)

[2018-06-27 15:46] NathayaMDOL commented on #599
@EStriegel and @mmurthydol ,
The defect has been reproduced and below is the screenshot on Register Employer page.
When clicking the hyperlink, "What if the Employer's legal name changed since its last application?". The instruction message box should open.
![registeremployerpagedefect](https://user-images.githubusercontent.com/40499717/42590342-913dfb3c-8511-11e8-8909-59498db5b23d.png)

Thanks,
N

[2018-06-27 18:00] binwang89 commented on #665
@PrabhakarThummalaDOL i just tested it,  it looks like the issue is still there, please see the screenshot below, when i clicked on the email, the field is still editable.

![image](https://user-images.githubusercontent.com/25330625/41991093-560f34ae-7a12-11e8-9194-f70ee82d153a.png)

[2018-06-27 18:01] binwang89 commented on #665
sorry, error testing this one, i will put it back to code review.

[2018-07-02 14:40] binwang89 commented on #683
@EStriegel @mmurthydol  i have tested this user story by creating the new user, please see below screenshot for existing account. Please confirm the verbiage in the error message at the top of the screen:
![image](https://user-images.githubusercontent.com/25330625/42169100-d25230c6-7de0-11e8-9639-484a85147ab1.png)

Make the account disable:
![image](https://user-images.githubusercontent.com/253306

[2018-07-06 16:04] NathayaMDOL commented on #703
This function is working fine. Couldn't re-produce the bugs.

[2018-07-09 00:52] binwang89 commented on #368
@mmurthydol @PrabhakarThummalaDOL I tested this issue and see the screenshot below:
Application updates the current user's password when the email id entered correct email in 14c. if user enter wrong email address, the application won't update the password. it is also depends on another user story #665
![image](https://user-images.githubusercontent.com/25330625/42425841-29d3079e-82f0-11e8-95c5-bf5

[2018-07-09 02:04] binwang89 commented on #115
please see below screenshots for the delete confirmation message to the user.

![image](https://user-images.githubusercontent.com/25330625/42427001-2824d648-82fa-11e8-84d6-34d0db612f7a.png)

![image](https://user-images.githubusercontent.com/25330625/42427055-6872c098-82fa-11e8-97aa-04fe80ecd182.png)

![image](https://user-images.githubusercontent.com/25330625/42427076-8858b926-82fa-11e8-8b08-474e

[2018-07-09 17:07] mmurthydol commented on #368
@PrabhakarThummala Prabhakar, I thought we shouldn't be able to change the email on this page??
@binwang89 FYI

[2018-07-09 17:10] mmurthydol commented on #115
@binwang89 Apart from the screenshots, what is the conclusion? Are these *all* the places where we have delete confirmation? How about in the admin dashboard where where we delete a user?
@PrabhakarThummalaDOL  FYI

[2018-07-09 17:14] PrabhakarThummalaDOL commented on #368
@mmurthydol @binwang89
The fix for #665 in is code review section. Not yet moved to dev. site.

[2018-07-09 17:15] mmurthydol commented on #368
Thanks Prabhakar @PrabhakarThummala

[2018-07-10 17:18] PrabhakarThummalaDOL opened #734 "API and UI miscellaneous changes after code review"
- [x] adminDashboardTemplate: Manage Users menu - add comment to the code
- [x] add helper methods for custom 2FA implementation
- [x] change NewRegistration to UserRegistration
- [x] add enum/flags for LoginLogout activities
- [x] add MiddleName to the database tables where First and Last name columns exist
- [x] add helper method for LoginLogout (code 99).
- [x] add helper method for IsReturning

[2018-07-12 16:10] NathayaMDOL commented on #599
The hyperlink defect has been fixed and pushed to branch “whd-aqa-599-nmankong-register-employer-clicking-hyperlink”

[2018-07-13 19:17] PrabhakarThummalaDOL opened #735 "Update license file for section14c.log project"
- [x] Re-generate the dol.whd.section14c.log.dll.licenses file using commands provided by WHD.
- [x] Use the following commands to generate the .licenses files (for API, DataAccess and Log projects):

"C:\Program Files (x86)\Microsoft SDKs\Windows\v8.1A\bin\NETFX 4.5.1 Tools\lc.exe" /target:DOL.WHD.Section14c.Api.dll /complist:"C:\Program Files (x86)\Devart\dotConnect\DB2\Enterprise Library\NET4.5

[2018-07-13 21:00] NathayaMDOL commented on #551
The story has been fixed and completed, screenshot below.
![image](https://user-images.githubusercontent.com/40499717/42713607-0c61e924-86be-11e8-8d8b-a983278248d8.png)

[2018-07-16 01:41] binwang89 opened #736 "Bug: Typo on error message for "Basis for Conclusion Wage Rate is Not Based on Entry Level Note: Hourly and Per Piece selections.""
Bug description:
Field: Basis for Conclusion Wage Rate is Not Based on Entry Level
Note: Hourly and Per Piece selections.

Issue: The word ‘basis’ is misspelled. It reads: “Please provide a bassi for conclusion that the wage rate is not based on entry”

Steps:

Additional Correction:
Add the word ‘level’ at the end. Error message should read:
Please provide a basis for conclusion that the wage rat

[2018-07-16 01:45] binwang89 opened #737 "Bug: Typo on error message for Description of Work Performed on this Job Contract by Workers Paid Sub minimum Wage"
Bug description:
Field: Description of Work Performed on this Job Contract by Workers Paid Subminimum Wage
Issue: There is a typo in the error message:
The word “Assembly” is misspelled:  the “Hand Assebmly of Boxes (28" x 12").” (see screen shot)

Steps:

“Description of Work Performed on this Job/Contract by Workers Paid Subminimum Wages”,

![image.png](https://images.zenhubusercontent.com/5887a

[2018-07-16 01:48] binwang89 opened #738 "Bug: Typo on error message for Provide the commensurate wage rate for the job identified"
Screen / Page: Wage Data
Field:  Provide the commensurate wage rate for the job identified.
Issue:  typo – the word commensurate is misspelled. Error message reads:
“Please provide the commensurage wage rate for the job identified”

Steps:

Fix: Error message should display as follow:
Please provide the commensurate wage rate for the job identified
![image.png](https://images.zenhubusercontent.com

[2018-07-16 01:52] binwang89 opened #739 "Bug: Typo on error message for error message for: PREVAILING WAGE SURVEY FOR WORKERS PAID ON A PIECE RATE BASIS"
Field: error message for: PREVAILING WAGE SURVEY FOR WORKERS PAID ON A PIECE RATE BASIS

Issue: typo. Error message display: Please indicate if the employer employed workes with disabilities who received subminimum wages and were paid piece rates during the most recently completed fiscal quarter

Steps:

(a) Did this employer employ workers with disabilities who received subminimum wages and were

[2018-07-16 01:58] binwang89 opened #740 "Bug issue : No error message for the field: How did the employer pay sub minimum wage rates to workers with disabilities in the most recent fiscal quarter?"
Bug description:

Screen / Page: Wage Data

Field: How did the employer pay subminimum wage rates to workers with disabilities in the most recent fiscal quarter?

Issue: if no selection is made, system does not display error message.

Steps:
•	Go to Wage Data, but do not select any of the options.
•	Now go to Review & Submit  page
•	Select Wage Data >  click ‘Edit Responses’
•	No error message dis

[2018-07-16 02:04] binwang89 opened #741 "Bug : when entering an incorrect date (e.g., 13/13/2017), the system will display different date after display error message."
Bug description:
Screen / Page: Wage Data
Field: date field
Issue: when entering an incorrect date (e.g.,

Steps:
Select  the following:

1-13-2017
Entered and saved this date (entered incorrect month):
![image.png](https://images.zenhubusercontent.com/5887af0e51aa2c305772c053/0d6de4d8-201a-4d47-a48b-d43c780e2e41)
After saving date, viewed if system displayed error message, but this is what system

[2018-07-16 02:11] binwang89 opened #742 "Bug: No error message displays to indicate that user needed to select one of the three options."
Bug description:
Field:  How did the employer pay subminimum wage rates to workers with disabilities in the most recent fiscal quarter?
Issue:  No error message if user does not select any of the following options and saves the page:
O Prevailing Wage Survey
O Alternative Wage Data Source
O SCA Wage Determination

Steps:

Fix: display error validation message
![image.png](https://images.zenhubuser

[2018-07-16 02:14] binwang89 opened #743 "Bug: There is no error message. If checked, then user is required to enter the total number of workers with disabilities."
Bug description:
Section:  REPRESENTATIVE PAYEE FOR SOCIAL SECURITY BENEFITS
Field: [  ] Check here if the employer was a representative payee for any worker with disabilities and, as such…

Scenario: The user makes a selection to indicate that ‘yes’.

Issue: There is no error message. If checked, then user is required to enter the total number of workers with disabilities.

Fix:  When user check

[2018-07-16 02:19] binwang89 opened #744 "Bug:There is no error message for the field Section: CREDITING THE REASONABLE COST OF FACILITIES PROVIDED TOWARD MEETING THE MINIMUM WAGE Field: Type of deduction (i.e., transportation, rent, meals)"
Bug description
Section: CREDITING THE REASONABLE COST OF FACILITIES PROVIDED TOWARD MEETING THE MINIMUM WAGE
Field: Type of deduction (i.e., transportation, rent, meals)
Issue:  There is no error message. if yes, then user needs to type of deduction in the open field.

Fix: If user does not type anything, then the following error message should display:

“Please provide the type of deduction.”

[2018-07-16 02:21] binwang89 opened #745 "Bug: There is no error message for Section: REQUIREMENTS UNDER THE WORKFORCE INNOVATION AND OPPORTUNITY ACT (WIOA)"
Bug description:
Section: REQUIREMENTS UNDER THE WORKFORCE INNOVATION AND OPPORTUNITY ACT (WIOA)

Field:
Y/N/NR
  0  Yes
  0  No
0	NR

Issue:  There is no error message.

Fix:  Please display the following error message:

“Please indicate if the employer reviewed, verified, and maintained documentation showing that the worker received all services and counseling required by WIOA before paying the

[2018-07-16 02:24] binwang89 opened #746 "Bug: "Search" field should not display red frame, it should not be part of the validation scan."
Bug description:
Area: Work Sites & Employees > Add Work Site.
Field: Search field

Issue: Search field should not display red frame
Search button should not have a red frame around it.

Steps:
Go to Work Sites & Employees >  select Add Work Site > look at the Search field

Fix: it should not be part of the validation scan that is being done

![image.png](https://images.zenhubusercontent.com/5887a

[2018-07-16 02:27] binwang89 opened #747 "Bug: The system should not display a default selection (see screen shot). Please remove default selection. Area: Worker site/employee >Add New Employee. Field: Productivity measure/rating for job described above"
Bug description:
Issue: Should not have default selection. Should not default to n/a-piece rate (allow user to select)

Steps:
Worker site/employee > Add New Employee

 field.

Fix: Do not display a default selection (see screen shot), but allow user to choose. Please remove default selection.
![image.png](https://images.zenhubusercontent.com/5887af0e51aa2c305772c053/8a6c1931-e560-4906-a5f3-da2796

[2018-07-16 02:29] binwang89 opened #748 "Bug: No error message. Worker site/employee >Add New Employee Field: Productivity measure/rating for job described above"
Bug description:
Area: Worker site/employee >Add New Employee
Field: Productivity measure/rating for job described above

Issue: No Error validation message

Fix: The following error message should display:

“Please select the productivity measure/rating for job described above.”
![image.png](https://images.zenhubusercontent.com/5887af0e51aa2c305772c053/52569d3b-c771-4c1c-b81b-1e7e61496602)

[2018-07-16 02:33] binwang89 opened #749 "Bug: No error message is displaying if you don’t answer this question"
Bug description:
Field: How many workers with disabilities were paid an hourly subminimum wage during the most recently completed fiscal quarter?
Issue:  No error message is displaying if you don’t answer this question.

Steps:

No error message displays.

Fix: System should display the following error message:
“Please indicate if the employer paid hourly subminimum wage rates to workers with disa

[2018-07-16 02:37] binwang89 opened #750 "Bug: Typo in the error message. Field: Source Employer Contact First Name"
Bug description:
Field: Source Employer Contact First Name
Issue: Typo in the error message. it displays:
Please provide the first name of the Source Employer contac

Fix:  The error message should display the following:
“Please provide the first name of the Source Employer contact.”

[2018-07-16 02:41] binwang89 opened #751 "Bug: Typo in the error message for Field: Average Earnings per hour for all jobs at this work site."
Bug description:
Field: Average Earnings per hour for all jobs at this work site.
Issue: Typo in the error message. It displays:
Please provide the average earings per hour for this employee.

Fix: The error message should display the following:
“Please provide the average earnings per hour for this employee.”
![image.png](https://images.zenhubusercontent.com/5887af0e51aa2c305772c053/ff479aa9-6dc2

[2018-07-16 16:43] binwang89 commented on #746
@mmurthydol could you  please check this user story and provide the acceptance criteria.

[2018-07-16 17:10] PrabhakarThummalaDOL opened #752 "Re-generate the licenses files with DotConnect version 2.2.348"
Re-generate the licenses files with DotConnect version 2.2.348 for API, Dataaccess and Log projects.

[2018-07-16 22:19] NathayaMDOL commented on #722
This story has been completed and pushed to branch "whd-aqa-722-nmankong-pageaddemployees-radiobutton-productivitymeasure". The fixed are 3 parts, see screenshot below.
1. un-default productivity measure's radio button.
![add employer-productivity measure - no default selection](https://user-images.githubusercontent.com/40499717/42786517-959967e0-8924-11e8-98a3-2679f07e2f0b.png)

2. validation of

[2018-07-16 22:31] mmurthydol opened #753 "Enhance Activity Logging For Security Audits"
TODO: Madhu & Prabhakar discuss.

ActivityLog related tasks: (could likely pass ATO without this) TODO discuss later. M & P

**Requirements**

- [ ]  Update Activity logging to include UserRole column in the ActivityLog table.
- [ ] Write an API method that returns results for UserRole "SysAdmin" and a date range.
GetActivityLogsByPrivilegedUser - API method name
,,,./api/admin/activity-logs TODO

[2018-07-16 22:52] #723 closed, assigned to NathayaMDOL

[2018-07-17 02:42] binwang89 opened #754 "Bug : Issue for register an employer page – validation causing submit function."
Bug description:
When register an employer, after correct  the errors, hit the "Register Employer" button, the validation will cause the register function not working. User needs to refresh the page, and re-enter all the information to make the registration works again. Please see below screenshots:

Error happen in the registration process
![image.png](https://images.zenhubusercontent.com/5887af0

[2018-07-17 12:25] PrabhakarThummalaDOL opened #755 "Console application for testing DB2 connections"
Create a Visual Studio console application for testing DB2 connections with different connection strings.

[2018-07-17 14:40] NathayaMDOL commented on #718
EIN number need to be saved in a new column in DB and new story need to be created.

[2018-07-17 16:20] PrabhakarThummalaDOL opened #756 "Bug: API - EIN validation is missing on employer tab."
User should be able to submit section14c applications with different EIN numbers.
- [x] Add new column to employer_info database table.
- [x] Update the API save/submit methods to save/retrieve the EIN number.

[2018-07-17 16:24] PrabhakarThummalaDOL commented on #756
@binwang89  @NathayaMDOL
Please review and add dependency to #718

[2018-07-17 18:10] NathayaMDOL commented on #600
@binwang89 , @PrabhakarThummalaDOL
This story is duplicated with #722 which has been fixed and pushed to dev. @binwang89 , Can you please confirm?
Branch name: "whd-aqa-722-nmankong-pageaddemployees-radiobutton-productivitymeasure"

[2018-07-17 19:53] PrabhakarThummalaDOL commented on #647
Updated the CertificationTeamEmailAddress value to 14c-submitted-applications@dol.gov.

[2018-07-18 14:40] NathayaMDOL commented on #653
This story has been fixed and pushed to branch "whd-aqa-653-nmankong-errormsg-worksite-totalnumber".
![add worksite-error msg](https://user-images.githubusercontent.com/40499717/42889248-f5924956-8a77-11e8-8e47-f9a4b92d53ef.png)

[2018-07-18 19:05] EStriegel commented on #711
Confirmed complete during demo on 7/18

[2018-07-18 19:05] #711 closed, assigned to EStriegel, NathayaMDOL

[2018-07-18 19:07] EStriegel commented on #599
Confirmed complete during demo on 7/18

[2018-07-18 19:07] #599 closed

[2018-07-18 19:09] EStriegel commented on #715
Confirmed complete during demo on 7/18

[2018-07-18 19:09] #715 closed, assigned to NathayaMDOL

[2018-07-18 19:11] EStriegel commented on #716
Confirmed complete during demo on 7/18

[2018-07-18 19:12] #716 closed, assigned to EStriegel, NathayaMDOL

[2018-07-18 19:13] EStriegel commented on #719
Confirmed complete during demo on 7/18

[2018-07-18 19:13] #719 closed, assigned to EStriegel, NathayaMDOL

[2018-07-18 19:13] EStriegel commented on #720
Confirmed complete during demo on 7/18

[2018-07-18 19:13] #720 closed, assigned to EStriegel, NathayaMDOL

[2018-07-18 19:30] EStriegel commented on #706
Confirmed complete during demo on 7/18

[2018-07-18 19:30] #706 closed, assigned to PrabhakarThummalaDOL

[2018-07-18 20:03] EStriegel commented on #684
Confirmed and closed.

[2018-07-18 20:03] #684 closed

[2018-07-18 20:05] EStriegel opened #757 "Bug UI: Inactivity warning formatting issue"
Note from Madhu: Add extra spaces in front of the word "Your" to see if that works.

The black exclamation triangle is covering up the word "Your".

![image.png](https://images.zenhubusercontent.com/57e9239095e42b6c5ba972b8/ca685a26-f8de-4a93-9669-cf47ed83f049)

[2018-07-18 20:15] PrabhakarThummalaDOL opened #758 "Change password: Set the email id field grayed out."
Account change password:
-  [x] Set the email id field grayed out.

[2018-07-19 14:22] NathayaMDOL commented on #758
This issue has been fixed and pushed to a local branch "whd-aqa-758-nmankong-changepassword-disabled-emailfield", please see the screenshot below.
![account-disabled email](https://user-images.githubusercontent.com/40499717/42948453-849f7e28-8b3d-11e8-97a5-1429d18ca476.png)
![admin-edit account-disabled email](https://user-images.githubusercontent.com/40499717/42948471-8cd0c0f2-8b3d-11e8-8d3a-0c47

[2018-07-19 16:13] EStriegel commented on #746
@NathayaMDOL Please discuss with @mmurthydol and @PrabhakarThummalaDOL

[2018-07-19 16:15] EStriegel commented on #98
@NathayaMDOL Please discuss with @PrabhakarThummalaDOL

[2018-07-19 16:19] EStriegel commented on #504
@NathayaMDOL Please discuss with @PrabhakarThummalaDOL

Button should be disabled until all sections are completed.

[2018-07-19 16:22] EStriegel commented on #680
@PrabhakarThummalaDOL Please discuss with @mmurthydol

[2018-07-19 16:31] EStriegel commented on #628
@NathayaMDOL Please discuss with @binwang89

[2018-07-19 16:31] EStriegel commented on #704
Duplicate of #680.  Closed.

[2018-07-19 16:31] #704 closed, assigned to nobody

[2018-07-19 16:32] EStriegel commented on #717
Duplicate of #756.  Closed.

[2018-07-19 16:32] #717 closed, assigned to PrabhakarThummalaDOL

[2018-07-19 16:39] EStriegel commented on #570
Completed per @mmurthydol.  Closed.

[2018-07-19 16:39] #570 closed

[2018-07-19 16:44] EStriegel commented on #622
Liz will verify this has been fixed.

[2018-07-19 16:46] EStriegel commented on #297
Please check whether the defects you identified in an above comment have been fixed.

[2018-07-19 16:46] EStriegel commented on #652
Duplicate story.  Closed.

[2018-07-19 16:46] #652 closed

[2018-07-19 16:47] EStriegel commented on #480
@PrabhakarThummalaDOL and @mmurthydol, please discuss.

[2018-07-19 16:51] EStriegel commented on #681
Issued covered in #627.  Closed.

[2018-07-19 16:51] #681 closed

[2018-07-19 16:55] EStriegel commented on #708
Implementation story #707.  Closed.

[2018-07-19 16:55] #708 closed, assigned to EStriegel, mmurthydol

[2018-07-19 18:05] NathayaMDOL commented on #456
Hi @EStriegel  / @binwang89,
The unique title has been added to each page, please see the screenshot below and let me know if any title name needs changes before I push to Dev environment.
note: branch name "whd-aqa-456-nmankong-508-title-tag"

![login](https://user-images.githubusercontent.com/40499717/42961385-a7d72d36-8b5c-11e8-8448-d6cd85d689a7.PNG)
![review submit](https://user-images.githubu

[2018-07-19 18:54] PrabhakarThummalaDOL commented on #746
@NathayaMDOL  I discussed with Madhu, we can discuss later.

[2018-07-20 14:06] NathayaMDOL commented on #626
Hi @binwang89 ,
This issue has been fixed. The title of the browser tab will show properly when you click the "Next" or "Back" button on the page.
Branch "whd-aqa-626-nmankong-508-updatetitle-browsertab"

Thanks,
Nathaya

[2018-07-20 15:12] NathayaMDOL commented on #757
This issue has been fixed as a screenshot below.
![757 session time out](https://user-images.githubusercontent.com/40499717/43010186-c513fe22-8c0d-11e8-8e6b-419096fa28e2.png)

[2018-07-20 21:16] binwang89 commented on #456
@EStriegel @mmurthydol  The title looks good, however some breadcrumb is not match the link/title.

[2018-07-20 22:16] binwang89 commented on #628
@EStriegel @mmurthydol   I have demo and discussed this issue to @NathayaMDOL in appear.in.

[2018-07-20 22:23] binwang89 commented on #626
@EStriegel @mmurthydol I have walk through it with @NathayaMDOL at her local machine, everything looks good, however, there is one thing that she will need to fix. please see below screenshot:
After click on "Continue Current Application", the landing page  title is not show up on the tab page.

![image](https://user-images.githubusercontent.com/25330625/43027634-8c0f8290-8c49-11e8-949a-f0a37210b5

[2018-07-20 22:45] binwang89 commented on #297
@EStriegel @mmurthydol we should not close this user story, there is another 508 bug issue #535 for the worksite & employee table.

[2018-07-23 01:02] binwang89 commented on #197
@EStriegel @mmurthydol Tested this issue again, it is partially fixed. I will assign it to @NathayaMDOL .

Issue Steps:
when there is error message for the upload the file, the focus will focus to the error message and user be able to deleted it from the popup confirming message box. However, after deleted the file. The focus can moved to next text box, but the popup box won’t be able to closed by

[2018-07-23 15:07] NathayaMDOL commented on #456
Hi @binwang89 ,
Per our discussion on Friday, The breadcrumbs and page header have been changed. Please see screenshots below.
![456-change account-bc](https://user-images.githubusercontent.com/40499717/43085243-7a49d9cc-8e68-11e8-8b1d-8021e9279b54.PNG)
![456-change manageusers-bc](https://user-images.githubusercontent.com/40499717/43085244-7a615a66-8e68-11e8-917f-ccd2b7076c9c.PNG)

Thanks,
Nathay

[2018-07-23 16:28] mmurthydol opened #759 "Bug: Profile Password change email text box must be highlighted with gray background color"
- [x] Verify this text box is disabled already
- [x] set background color to standard gray
- [x] Ensure 508 compliance. @binwang89 Should tab to the email textbox or ignore? please let Nathaya know.

[2018-07-23 16:29] #665 closed

[2018-07-23 16:32] #683 closed

[2018-07-23 16:34] #701 closed, assigned to mmurthydol, PrabhakarThummalaDOL

[2018-07-23 16:40] NathayaMDOL commented on #759
This issue has been completed in story #758 and pushed to dev.

[2018-07-23 16:47] mmurthydol opened #760 "Security: Pull notification: DOL Security Reporting"
- [ ] Pull notification: Provide DOL reporting solution. Implementation order: Splunk, Admin reports, DB2 SQL to Excel.

[2018-07-23 17:09] mmurthydol opened #761 "Security: Push Notification: Email audit reports to the security team"
## Acceptance Criteria ##
- [x] Provide web.config entries for (a) email alias for security team (b) reporting frequency - 1st of the month;
- [x] Write logic that will be used in application_start to email audit reports to security team email_alias.
whd-modernization-admins@dol.gov and zzWHD-INFORMATION-SECURITY-ALL@dol.gov.
- [x] Audit reports are sent for the previous month (assuming default va

[2018-07-23 17:09] #78 closed

[2018-07-23 17:11] mmurthydol commented on #735
@PrabhakarThummalaDOL Prabhakar, Please document the commands in the description as indicated and then close this story. Thanks!

[2018-07-23 17:12] #734 closed, assigned to PrabhakarThummalaDOL

[2018-07-23 17:12] #710 closed, assigned to mmurthydol, PrabhakarThummalaDOL

[2018-07-23 17:12] #709 closed, assigned to PrabhakarThummalaDOL

[2018-07-23 17:13] #668 closed

[2018-07-23 17:14] #368 closed

[2018-07-23 17:23] binwang89 commented on #456
@NathayaMDOL the screenshots looks good, please push the code to DEV, i will testing it again.  Thanks

[2018-07-23 17:25] PrabhakarThummalaDOL commented on #735
@mmurthydol  Added the commands to the description and closed the story.

[2018-07-23 17:25] #735 closed, assigned to mmurthydol, PrabhakarThummalaDOL

[2018-07-23 17:27] binwang89 commented on #758
@NathayaMDOL the screenshot looks good, please push it to DEV.

[2018-07-23 17:40] binwang89 commented on #757
@EStriegel @mmurthydol @NathayaMDOL the screenshot looks good to me. i think we can push it to DEV.

[2018-07-23 17:49] NathayaMDOL commented on #456
@binwang89, All changes have been pushed to Dev.

[2018-07-23 17:50] NathayaMDOL commented on #757
@binwang89 , All changes have been pushed to Dev.

[2018-07-23 17:50] NathayaMDOL commented on #758
@binwang89 , All changes have been pushed to Dev.

[2018-07-23 19:14] NathayaMDOL commented on #626
@binwang89 ,
All browser tab title names have been fixed. They will be displayed properly in every step. Please see screenshot (capture just some pages as an example) below.

![626-home](https://user-images.githubusercontent.com/40499717/43096952-9ee8e744-8e88-11e8-879d-7ab4b978ce33.PNG)
![626-log in](https://user-images.githubusercontent.com/40499717/43096968-a5ee6442-8e88-11e8-82e6-a8a6e58c8bdc.

[2018-07-23 19:21] binwang89 commented on #626
@NathayaMDOL Thank you,  can you also checking to click on Next button to next page, the top tab title names is also corrrect ?

[2018-07-23 19:25] binwang89 commented on #626
@NathayaMDOL if click the Next button has been tested, you can push it to DEV. Thanks

[2018-07-23 20:56] NathayaMDOL commented on #626
@binwang89 , All changes have been pushed to Dev.

[2018-07-24 13:01] binwang89 commented on #115
@mmurthydol @PrabhakarThummalaDOL  i posted all the screenshots to verify all popup message are the same for delete confirmation.  it looks the same to me.  I also checked the admin user page, i did not find the delete function.  I only found edit/view button.

![image](https://user-images.githubusercontent.com/25330625/43139589-240ea6ce-8f20-11e8-9899-a93223512782.png)

[2018-07-24 13:07] binwang89 commented on #115
@mmurthydol @NathayaMDOL @PrabhakarThummalaDOL  the delete confirmation function looks good,however, it got 508 issue.  I have posted the same issue in another 508 bug already. The issue is after deleted the file, the tabbing key will jump to next text field but leave the delete confirmation box still open.

![image](https://user-images.githubusercontent.com/25330625/43139801-b71c63ca-8f20-11e8-86

[2018-07-24 13:10] PrabhakarThummalaDOL commented on #115
@binwang89 @mmurthydol
Michelle, a user can be deleted(soft delete) or disabled by using the check boxes from the Edit Account page. So there is no separate delete button/function available. Thanks.

[2018-07-24 13:43] binwang89 commented on #601
@mmurthydol   I did not see the inactivity warning message before i login to the 14c application. i think we can close it.

[2018-07-24 14:49] NathayaMDOL commented on #504
This issue has been fixed. Please see screenshot below.
Branch "whd-aqa-504-nmankong-reviewsubmitpage-sectionnotcompleted-disabledsubmitbtn"

![504-disabled submit button](https://user-images.githubusercontent.com/40499717/43146404-2d1adc2e-8f2f-11e8-82f2-642232516a48.png)

[2018-07-24 15:08] #601 closed

[2018-07-24 17:13] NathayaMDOL commented on #718
Hi @binwang89 ,
This issue has been completed. Screenshot below.
FYI: From Madhu email, "we don’t need popup on EIN validation".
Branch "whd-aqa-718-nmankong-ein-validation-onemployertab"

![718-ein1](https://user-images.githubusercontent.com/40499717/43154680-3abbfa52-8f43-11e8-9eaf-d6e3d68f8e91.PNG)
![718-ein2](https://user-images.githubusercontent.com/40499717/43154683-3d00577c-8f43-11e8-9b6c-2

[2018-07-25 21:48] NathayaMDOL commented on #654
Hi @EStriegel ,
Please explain more detail.

Thanks,
Nathaya

[2018-07-25 22:00] binwang89 commented on #628
move to ready to start after i talked to @NathayaMDOL

[2018-07-26 12:28] PrabhakarThummalaDOL opened #762 "Bug: UI - Validate column length for CITY and STREET_ADDRESS1 columns."
- [x] UI - Restrict user entering more than the size of the column for Addresses columns (City and Street_Address1).

[2018-07-26 12:31] PrabhakarThummalaDOL opened #763 "Bug: API - Validate column length for CITY and STREET_ADDRESS1 columns."
- [x] API: Restrict the column data length to the size of the database column (for Addresses.City and Addresses.Street_Address1).

[2018-07-26 12:36] PrabhakarThummalaDOL opened #764 "Bug: UI - Restrict user entering data more than the size of the database column"
- [ ] Restrict user entering data more than the size of the database column size.
- [ ] Application should not accept more characters than the column size.
- [ ] All the fields in the application.

@NathayaMDOL : Please talk to Madhu before starting.

[2018-07-26 12:38] PrabhakarThummalaDOL opened #765 "Bug: API - Restrict user entering data more than the size of the database column"
- [x] Application should not accept more characters than the column size.
- [x] All the fields in the application.

[2018-07-26 13:45] NathayaMDOL commented on #197
@binwang89 ,
Per our walked through the demo site for this issue yesterday, we found more issue after deleted the attached file need to be fixed also. Screenshot below.
![197-wage data-deleted attached file showing failed](https://user-images.githubusercontent.com/40499717/43266123-876333ae-90b8-11e8-832d-cbac03e466a3.png)

-Nathaya

[2018-07-26 14:04] binwang89 commented on #197
@NathayaMDOL Thank you for upload the screenshot.  As we talked, when you fixing the popup confirmation message issue, please also check the error message ( Failed to delete file), why this error message was displayed after we delete the file successfully. it should only be displayed when user failed to delete the file. Thanks

[2018-07-26 14:58] EStriegel commented on #654
@NathayaMDOL This story will enhance the Account page for the user.  Currently, when a user clicks the Account link (from the top right navigation), they only see change password functionality.  We'd like to add to the page so that it looks like the UXPin page designed by the previous vendor.(https://preview.uxpin.com/7560d7b8748cecf936982e02cb0dda4371113d92#/pages/77548394/simulate/no-panels).

I

[2018-07-26 18:34] mmurthydol commented on #654
@NathayaMDOL Nathaya: Let's discuss this sometime. Madhu

[2018-07-26 18:39] NathayaMDOL commented on #98
This issue has been fixed.
Branch "whd-aqa-98-nmankong-countyfieldissue-dc-usterritory"

[2018-07-26 19:19] EStriegel commented on #741
Let's scope out effort to add date control.  @NathayaMDOL @mmurthydol

[2018-07-26 19:31] EStriegel commented on #600
Duplicate of #722.  Closed.

[2018-07-26 19:31] #600 closed

[2018-07-26 19:32] EStriegel commented on #747
Duplicate of #722.  Closed.

[2018-07-26 19:32] #747 closed, assigned to NathayaMDOL

[2018-07-27 19:22] NathayaMDOL commented on #746
This issue has been fixed. See screenshot below.
![746-employees](https://user-images.githubusercontent.com/40499717/43342502-dd1bccb8-91b0-11e8-92a6-a5345a01cbf3.png)

[2018-07-30 17:33] PrabhakarThummalaDOL opened #766 "API: Update Parameters.xml"
- [x] Add all key-value pairs to the parameters.xml from web.config.

[2018-07-30 18:33] NathayaMDOL commented on #762
This issue has been fixed by using maxlength to specifies the maximum number of characters allowed in the input element.
Branch: "whd-aqa-762-nmankong-maxlength-streetaddress1-city"
![maxlength-city-street1](https://user-images.githubusercontent.com/40499717/43416012-1d2c2ca2-9405-11e8-95e6-d15670bc47e1.png)

[2018-07-31 17:48] PrabhakarThummalaDOL opened #767 "API: Split columns NAME and ADDRESS"
Split Name and StreetAddress fields into (FirstName, MiddleName and LastName) and (StreetAddress1 and StreetAddress2) for the following:
- [x] Users
- [x] ApplicationSubmissions
- [x] SourceEmployers
- [x] Employees
- [x] Signatures
- [x] WIOAWorkers
- [x] UserHistory
- [x] Addresses (for Address)
Also,
- [x] Modify API methods to update/retrieve the splitted columns

Refer #784  for PhoneExtensio

[2018-07-31 17:53] PrabhakarThummalaDOL opened #768 "UI: Split columns NAME and ADDRESS"
@NathayaMDOL Lets discuss before working on this story.
- [x] Provide screenshots
- [ ] Split the Name field into FirstName, MiddleName and LastName throughout the application.
- [ ] Split the Address field into StreetAddress1 and StreetAddress2 throughout the application.
- [ ] Zip code – split in the UI as well. The labels zip5 and Zip 4 will need more friendly names. Zip 4 is optional field.
-

[2018-07-31 19:40] binwang89 commented on #703
@NathayaMDOL @mmurthydol  i just tried and i can replicate the issue again. please see below screenshot
 https://section14cdev.dol.gov/#!/section/wage-data
1. create application ( Renew first)
2. go thru add your data for wage date page.
3. select the piece rate.
4. uploaded the PDF file, then deleted it
5. change the application from Renew to New.
6. go thru the application and add some informati

[2018-08-01 14:21] NathayaMDOL commented on #628
This issue has been fixed and reviewed with @binwang89.
Branch: "whd-aqa-628-nmankong-508-skiptomaincontent"

[2018-08-01 16:28] PrabhakarThummalaDOL commented on #763
Completed. Ready for code review.

[2018-08-01 18:06] NathayaMDOL commented on #654
@PrabhakarThummalaDOL, can you please create API to get Registered Employer?  Please see the data needed from here https://preview.uxpin.com/7560d7b8748cecf936982e02cb0dda4371113d92#/pages/77548394/simulate/no-panels.

[2018-08-01 18:42] PrabhakarThummalaDOL commented on #730
Completed. Ready for code review.

[2018-08-02 12:43] PrabhakarThummalaDOL commented on #655
Fixed.

[2018-08-02 12:44] PrabhakarThummalaDOL commented on #707
Completed.

[2018-08-02 13:52] PrabhakarThummalaDOL commented on #752
Completed.

[2018-08-02 13:52] #752 closed, assigned to PrabhakarThummalaDOL

[2018-08-02 13:54] PrabhakarThummalaDOL commented on #647
Updated the CertficationTeamEmailAddress value to 14c-submitted-applications@dol.gov.
Completed.

[2018-08-02 13:55] PrabhakarThummalaDOL commented on #756
Completed.

[2018-08-02 13:55] PrabhakarThummalaDOL commented on #755
Completed.

[2018-08-02 13:56] PrabhakarThummalaDOL commented on #763
Completed.

[2018-08-02 13:57] PrabhakarThummalaDOL commented on #730
Completed.

[2018-08-02 15:03] PrabhakarThummalaDOL opened #769 "Miscellaneous: code changes after review"
- [x] check authorization for database activities.
- [x] refactor the code for user history and user activity
- [x] other miscellaneous changes.

[2018-08-02 19:05] EStriegel commented on #628
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:05] #628 closed

[2018-08-02 19:05] EStriegel commented on #456
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:05] #456 closed

[2018-08-02 19:06] EStriegel commented on #758
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:06] #758 closed, assigned to NathayaMDOL

[2018-08-02 19:06] EStriegel commented on #759
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:06] #759 closed, assigned to NathayaMDOL

[2018-08-02 19:07] EStriegel commented on #626
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:07] #626 closed

[2018-08-02 19:08] EStriegel commented on #653
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:08] #653 closed

[2018-08-02 19:08] EStriegel commented on #551
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:08] #551 closed

[2018-08-02 19:12] EStriegel commented on #722
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:12] #722 closed, assigned to NathayaMDOL

[2018-08-02 19:16] EStriegel commented on #762
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:16] #762 closed, assigned to NathayaMDOL

[2018-08-02 19:18] EStriegel commented on #504
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:18] #504 closed

[2018-08-02 19:18] EStriegel commented on #718
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:18] #718 closed, assigned to NathayaMDOL

[2018-08-02 19:20] EStriegel commented on #98
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:20] EStriegel commented on #757
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:20] #757 closed, assigned to NathayaMDOL

[2018-08-02 19:21] EStriegel commented on #746
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:21] #746 closed, assigned to NathayaMDOL

[2018-08-02 19:23] EStriegel commented on #730
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:23] #730 closed, assigned to mmurthydol, PrabhakarThummalaDOL

[2018-08-02 19:31] EStriegel commented on #707
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:31] #707 closed, assigned to mmurthydol, PrabhakarThummalaDOL

[2018-08-02 19:32] EStriegel commented on #655
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:32] #655 closed

[2018-08-02 19:33] EStriegel commented on #763
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:33] #763 closed, assigned to PrabhakarThummalaDOL

[2018-08-02 19:33] EStriegel commented on #647
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:33] #647 closed

[2018-08-02 19:34] EStriegel commented on #755
Confirmed in demo on 8/2.  Closed.

[2018-08-02 19:34] #755 closed, assigned to PrabhakarThummalaDOL

[2018-08-02 19:58] PrabhakarThummalaDOL opened #770 "Implementation of #69 - API: As an applicant, I would like a user profile page within the online application so that I can change my password."
- [x] Write API method to retrieve the registered employer name, address information.

[2018-08-06 19:00] NathayaMDOL opened #771 "IE Compatibility View"
Temporary fix for the IE display problem:
IE->Tools->Compatibility View -> Compatibility View Settings -> uncheck Display intranet sites in Compatibility View

Here is Nathaya’s link the suggest a potential code fix:
https://stackoverflow.com/questions/43086130/ie11-angular-2-error-expected-identifier-string-or-number

There is considerable fine print about implementing the code fix above. The lin

[2018-08-06 19:26] binwang89 commented on #703
@EStriegel   Hi, Liz, could you please check this user story,  we ( @NathayaMDOL and I) could not re-produce it anymore,  even we follow the defect steps.  do you think that is low priority defect and we can work on other defect ?

[2018-08-06 19:39] EStriegel commented on #703
Cannot be reproduced.  Closed.

[2018-08-06 19:48] mmurthydol commented on #703
@EStriegel @binwang89
Hi Liz, the accurate statement is that Michelle can reproduce the steps but Nathaya could not. The implication being may be the user might not run in to the defect often. My suggestion is that Michelle can demo the repro steps and you can decide on its priority - which is your call. If you felt this was low enough priority that we won't fix for milestone 1, let's annotate the

[2018-08-06 19:55] mmurthydol commented on #703
@EStriegel @binwang89
Liz; Looks like Michelle cannot repro any more (I was off on this fact). She was able to repro last week. For now I will close this error. I have a feeling we have some problematic errors in file upload functionality. Hopefully we won't run in to them. Thanks and sorry for the bother both of you.

[2018-08-06 19:55] #703 closed, assigned to NathayaMDOL

[2018-08-06 21:02] binwang89 opened #772 "Bug : At any time, there is no visual indication of the current focus (loss of focus). Example: Work Sites & Employees: The focus is lost after last "Delete" button and before "Back" button in the table."
Bug description
508: Keyboard Access issue for Work Site & Employees table.

[2018-08-06 21:06] binwang89 commented on #627
close this user story, put the remaining item 2 to new user story #772

[2018-08-06 21:10] binwang89 commented on #772
closed story #627, put the item 2 in this user story.

[2018-08-06 21:21] NathayaMDOL commented on #627
All issues have been fixed (except #2) and pushed to Dev.
Branch "whd-aqa-627-nmankong-508-keyboard-access-issue"

[2018-08-07 15:32] PrabhakarThummalaDOL opened #773 "Security: API - Before performing a database retrieve or update operation verify if the logged in user is authorized."
- [x] Application Controller

1. Submit() *
2. GetApplication() - done
3. GetApplicationsSummary()
4. ChangeApplicationStatus() - done
5. GetApplicationDocument() - done
6. DownloadApplicationDocument() - done
- [x] Account Controller

1. Register()
2. UserInfo() *
3. SetUserEmployer()
4. CreateOrUpdateEmployerApplication() *
5. ResetPassword()
6. VerifyResetPassword()
7. ChangePassword()
8. Verif

[2018-08-07 19:08] binwang89 commented on #197
@NathayaMDOL please check all spots for upload file to make sure the popup confirming message box is section 508 compliance.  please reference to this user story #115 ( for all screenshot).

[2018-08-08 14:41] PrabhakarThummalaDOL opened #774 "Security Audit Reports: Generate .csv/.xls reports and send them via email to security team."
Security Audit Reports: Need audit log reports (.csv/.xls format) to be generated on application startup (on a specific date of the month - configurable) and to be send via email to the security team:
- [x] Login/logout Activity Report:
Report columns: Unique User Info  (email, name), User Role, User Activity (log in, log out), Date (includes time)
- [x] User Creation Activity Report:
Report colum

[2018-08-08 16:20] NathayaMDOL commented on #754
This issue has been fixed and pushed with branch "whd-aqa-627-nmankong-508-keyboard-access-issue"

[2018-08-08 19:58] binwang89 opened #775 "Bug: Accessibility: 508: Keyboard Access issue"
To replace the #627 item 2:
At any time, there is no visual indication of the current focus (loss of focus).
Example: Work Sites & Employees: The focus is lost after last "Delete" button and before "Back" button in the table.

[2018-08-08 19:58] binwang89 opened #776 "Bug: Accessibility: 508: Keyboard Access issue"
To replace the #627 item 2:
At any time, there is no visual indication of the current focus (loss of focus).
Example: Work Sites & Employees: The focus is lost after last "Delete" button and before "Back" button in the table.

[2018-08-08 19:59] binwang89 commented on #627
#776 will replace item 2.   we can close this user story.

[2018-08-08 20:10] binwang89 commented on #776
Duplicated user story, close it now

[2018-08-08 20:10] #776 closed, assigned to NathayaMDOL

[2018-08-08 20:11] binwang89 commented on #775
Duplicated user story, close it now

[2018-08-08 20:11] #775 closed, assigned to NathayaMDOL

[2018-08-08 21:34] mmurthydol commented on #492
@EStriegel Liz, can this defect be postponed to after milestone 1? If not will work with Prabhakar on a potential solution. Right now placed this in ready to start. Am assuming we need this one. Let's discuss as needed.

[2018-08-08 22:07] PrabhakarThummalaDOL opened #777 "Security: Send email to the deactivated users."
On application start:
- [x] Send an email to all the deactivated users. (email text, email subject - configurable)
- [x] On every email failure, log the error.
- [x] Avoid sending duplicate emails to the deactivated user. (can occur from servers on web farm). Check the database if the column (disabled) was already updated recently on the same day, prior to sending the email.

@EStriegel Need email

[2018-08-09 14:31] EStriegel commented on #492
@mmurthydol Yes, this can be pushed to after milestone 1.  We have a work around with the "clear application" option if this problem arises, right?

[2018-08-09 15:42] EStriegel commented on #777
@PrabhakarThummalaDOL

_Subject Line_
Disabled Account: Department of Labor Section 14(c) Online Certificate Application

_Email Body_
Your account with the Department of Labor Section 14(c) Online Certification Application has been disabled due to inactivity.

There is no action required at this time.  However, the next time you attempt to log-in to your account, you will be asked to reset your p

[2018-08-10 14:42] PrabhakarThummalaDOL opened #778 "SMTP email format HTML/TEXT"
Configure the application to send emails in HTML or TEXT formats.

[2018-08-10 15:18] NathayaMDOL commented on #749
Hi @binwang89, @EStriegel
For this issue, there are 2 sections.
1. On Hourly Tab.
2. On Piece Rate Tab.
Do both sections use the same Message? If not can you please provide each error message?

Thanks,
Nathaya

[2018-08-10 18:12] NathayaMDOL commented on #749
From @EStriegel  email.
The error messages for hourly and piece rate.
**For hourly:**
Please indicate how many workers with disabilities were paid an hourly subminimum wage during the most recently completed fiscal quarter.

**For Piece Rate:**
Please indicate how many workers with disabilities received subminimum wages and were paid a piece rate during the most recently completed fiscal quarter.

[2018-08-10 18:23] NathayaMDOL commented on #749
This issue has been fixed. Branch: "whd-aqa-749-nmankong-wagedata-errormsg-howmanyworkers"
![piecerate](https://user-images.githubusercontent.com/40499717/43974560-f62b2b4c-9ca8-11e8-9555-ff06c8a58323.PNG)
![hourly](https://user-images.githubusercontent.com/40499717/43974561-f639bb76-9ca8-11e8-9c56-7f6a40f62ebd.PNG)

[2018-08-10 19:37] NathayaMDOL commented on #197
The story#197 and #115 have been fixed and pushed to Dev. Let me know if any changes.
Branch "whd-aqa-197-nmankong-508-attachment-delete-function".
![popup message tab sequence](https://user-images.githubusercontent.com/40499717/43977808-37494294-9cb3-11e8-9b1f-baf81e2ac491.png)
![1dashboardpopup](https://user-images.githubusercontent.com/40499717/43977798-3020d5e0-9cb3-11e8-84f1-68cab11dd47e.PNG)

[2018-08-10 19:59] NathayaMDOL commented on #739
This issue has been fixed in #749

[2018-08-10 21:08] NathayaMDOL commented on #738
This issue has been fixed.
Branch: "whd-aqa-736-737-738-750-751-typo"

![image](https://user-images.githubusercontent.com/40499717/43981446-ec1bb9b6-9cbf-11e8-9d40-63207839f8dd.png)

[2018-08-10 21:10] NathayaMDOL commented on #737
This issue has been fixed. Branch: "whd-aqa-736-737-738-750-751-typo"

![image](https://user-images.githubusercontent.com/40499717/43981528-2ac11670-9cc0-11e8-9045-1daa87d0095e.png)

[2018-08-10 21:19] NathayaMDOL commented on #736
This issue has been fixed. Branch: "whd-aqa-736-737-738-750-751-typo"

![image](https://user-images.githubusercontent.com/40499717/43981826-71cfde74-9cc1-11e8-999e-7043a57d3aca.png)

[2018-08-10 21:21] NathayaMDOL commented on #751
Fixed! Branch: "whd-aqa-736-737-738-750-751-typo"
![image](https://user-images.githubusercontent.com/40499717/43981903-c912cc8c-9cc1-11e8-9f2c-c2fdd7535338.png)

[2018-08-10 21:24] NathayaMDOL commented on #750
Fixed! Branch: "whd-aqa-736-737-738-750-751-typo"
![image](https://user-images.githubusercontent.com/40499717/43982002-335faf9c-9cc2-11e8-9bcd-92014c30f80d.png)

[2018-08-10 21:36] NathayaMDOL commented on #115
This issue has been fixed and included in #197

[2018-08-13 16:35] NathayaMDOL commented on #772
closed. This is duplicated with #535

[2018-08-13 16:36] #772 closed, assigned to NathayaMDOL

[2018-08-13 21:28] NathayaMDOL commented on #197
For future reference: Regarding to the discussion from email "popup message issue", the team agreed to switch the order of No, Yes button to be Yes, No instead. Screenshot below.

![535-dashboardpopup](https://user-images.githubusercontent.com/40499717/44059066-306435d4-9f1e-11e8-9797-83a1d85ea43c.PNG)
![535-attachmentfilepopup](https://user-images.githubusercontent.com/40499717/44059078-37d4acf4-

[2018-08-13 21:59] NathayaMDOL commented on #535
The keyboard focus is lost after the last "Delete" button and before the "Back" button because of the tabbing is focusing on "Previous" button which is disabled.
After I investigated to the issue. The good solution for this one has little change on UI as screenshot below. Instead of disabled the “button (previous/next)”, UI has been changed to not showing the “Previous button” if at 1st page and n

[2018-08-14 14:15] NathayaMDOL commented on #748
Closed! This issue has been fixed in #722 .

[2018-08-14 14:16] #748 closed, assigned to NathayaMDOL

[2018-08-14 15:54] NathayaMDOL commented on #745
This issue has been fixed. See screenshot below.
Branch: whd-aqa-745-nmankong-wioa-errormsg

![wioa -error msg](https://user-images.githubusercontent.com/40499717/44102891-c67e3a8e-9fb8-11e8-9da4-2e60d8eb5a8e.png)

[2018-08-14 19:56] PrabhakarThummalaDOL opened #779 "API : GetEmployerInfo method fixes"
API should return registered employer's:
EIN
Employer Name

[2018-08-14 21:27] binwang89 commented on #535
@NathayaMDOL it looks fine.

[2018-08-14 22:24] PrabhakarThummalaDOL opened #780 "Bug: Application 'Not Found' error when getting the list of application for a user."
- [x] Determine the cause of the exception.
- [x] Ensure the Error Log does not get cluttered with this exception.

[2018-08-14 22:27] PrabhakarThummalaDOL opened #781 "Bug: Ensure the Error Log does not get cluttered with duplicate exceptions."
- [ ] Analyze the error log for duplicate exceptions.
- [ ] Ensure the Error Log does not get cluttered with duplicate exceptions.

[2018-08-14 22:33] PrabhakarThummalaDOL opened #782 "Bug: Ensure the Activity Log does not get cluttered with duplicate/undesired entries."
- [ ] Analyze Activity Log for duplicate entries
- [ ] Analyze duplicate API calls
- [ ] Analyze duplicate entries in LogOutput.txt

[2018-08-14 22:37] PrabhakarThummalaDOL opened #783 "Bug: Disable log tracing in Parameters.xml thru Jenkins"
@PrabhakarThummalaDOL  ToDo : Enter xpath information and other documentation.

[2018-08-14 22:43] PrabhakarThummalaDOL commented on #771
@NathayaMDOL  Please discuss with Madhu after going thru the links.

[2018-08-14 22:47] PrabhakarThummalaDOL commented on #727
Closing.
Duplicate of #771.

[2018-08-14 22:47] #727 closed, assigned to mmurthydol

[2018-08-15 14:57] PrabhakarThummalaDOL opened #784 "API: Add #PhoneExtension column."
- [ ] Add new database column.
- [ ] Validate the column value.

[2018-08-15 14:59] PrabhakarThummalaDOL opened #785 "UI: Add #PhoneExtension column."
- [ ] Add the field on the pages wherever Phone field exists.
- [ ] Validate the value format.

[2018-08-15 15:08] PrabhakarThummalaDOL commented on #712
Closed.
Duplicate of #767.

[2018-08-15 15:08] #712 closed, assigned to PrabhakarThummalaDOL

[2018-08-15 15:08] PrabhakarThummalaDOL commented on #714
Closed.
Duplicate of #767.

[2018-08-15 15:08] #714 closed, assigned to PrabhakarThummalaDOL

[2018-08-15 15:12] PrabhakarThummalaDOL commented on #713
Closing.
Duplicate. This is covered in #768.

[2018-08-15 15:12] #713 closed, assigned to NathayaMDOL

[2018-08-16 16:59] NathayaMDOL commented on #654
Completed! Note: URL has been updated from “/changepassword” to “/account”.
Branch: "whd-aqa-654-nmankong-account-registeredemployerviewinfo" and "whd-aqa-654-nmankong-changeurl-fixui"

![image](https://user-images.githubusercontent.com/40499717/44222940-28490900-a154-11e8-84e5-cc22acda4165.png)

[2018-08-16 21:46] NathayaMDOL commented on #768
The attached file is the screenshots of all pages that need changes. There are 15 pages.

[768-Add new field.zip](https://github.com/18F/dol-whd-14c/files/2295337/768-Add.new.field.zip)

[2018-08-17 15:05] NathayaMDOL opened #786 "Additional: YourAccount page-UI&URL changes"
Additional from team.
- [x] Update URL to “youraccount”. Also the top right link and breadcrumb to “Your Account”
- [x] Font size for “Registered Employer” and “Change Password” should be smaller than both the header we are adding, and the “Section 14(c) Certificate Application” header at the top.
- [x] 2 columns can be styled as follows (as w/ Netflix below): Line header of the “Registered Employ

[2018-08-20 20:31] binwang89 commented on #535
@NathayaMDOL it seems working good in Google Chrome, however, it is not working for IE. as we discussed, please make sure the IE will get the same result.  The tabbing is not working for data table in this page in IE.

[2018-08-21 15:48] binwang89 commented on #627
@NathayaMDOL
1.	An interactive element or function cannot be accessed or activated by keyboard.
1.1 Example: https://dol-whd-section14c-qa.aisdemos.com/#!/dashboard - "clear all responses" function brings up a popup screen, it is not available for keyboard users.
1.2 Work Sites & Employees: Employee data (in the table) can not be sorted by keyboard.
**Worked in Google Chrome, however, it is still

[2018-08-21 16:48] PrabhakarThummalaDOL opened #787 "TestDB2Connection: Close the database connection."
In the TestDB2Connection application:
- [x] On a new connection close the previous database connection.

[2018-08-21 17:01] PrabhakarThummalaDOL opened #788 "Bug: Default value for a datetime column causing error when generating the database."
Remove the DefaultValue clause for USERS.loggedin_at column in the code first script.
This is causing error on DB2 version 10.3.1. (Works fine in DB2 11.3.1)

[2018-08-21 17:33] PrabhakarThummalaDOL commented on #788
Fixed.

[2018-08-21 17:33] #788 closed, assigned to PrabhakarThummalaDOL

[2018-08-21 17:44] PrabhakarThummalaDOL commented on #787
Fixed.

[2018-08-21 17:44] #787 closed, assigned to PrabhakarThummalaDOL

[2018-08-21 19:01] binwang89 opened #789 "Bug: Accessibility: 508 Keyboard Access Issues"
Bug description : this bug issue related to #627  #535

1.	An interactive element or function cannot be accessed or activated by keyboard.
1.1 Example: https://dol-whd-section14c-qa.aisdemos.com/#!/dashboard - "clear all responses" function brings up a popup screen, it is not available for keyboard users.
1.2 Work Sites & Employees: Employee data (in the table) can not be sorted by keyboard.
Worke

[2018-08-21 19:03] binwang89 commented on #627
@NathayaMDOL I created #789 for remaining items. I will close this one for now.

[2018-08-21 19:06] binwang89 commented on #680
@NathayaMDOL when it is completed, please make sure test it by IE/Chrome both.  Thanks

[2018-08-21 19:19] binwang89 commented on #754
@NathayaMDOL Tested and Pass.

[2018-08-21 19:25] binwang89 commented on #749
@NathayaMDOL Working fine. Pass and moved to "Done'

[2018-08-21 19:27] binwang89 commented on #739
#749 completed and Done

[2018-08-21 19:32] binwang89 commented on #736
Tested and looks good. move it Done

[2018-08-21 19:35] binwang89 commented on #737
@NathayaMDOL tested and pass.  Moved to Done

[2018-08-21 19:38] binwang89 commented on #738
looks good, moved to done

[2018-08-21 19:39] binwang89 commented on #750
looks good, move to Done

[2018-08-21 19:41] binwang89 commented on #751
looks good, move to Done

[2018-08-21 20:15] binwang89 opened #790 "Bug: Accessibility keyboard Access -- Wage Data"
Bug Description:
Wage Date, select both hourly/piece rate.  after complete the hourly page, tabbed and clicked on "Next: Add Piece Rate", the piece rate page open,  tab again, the focus on piece rate footer, not in beginning of piece rate page.

![image.png](https://images.zenhubusercontent.com/5887af0e51aa2c305772c053/5f473381-457c-4464-87e1-46bd69e30627)

![image.png](https://images.zenhubuserco

[2018-08-21 20:19] binwang89 commented on #115
Tested and looks good. Move to Done

[2018-08-21 20:21] binwang89 commented on #197
move to done

[2018-08-21 20:26] binwang89 commented on #535
move it to done.

[2018-08-21 20:28] binwang89 commented on #745
looks good, move it to Done

[2018-08-21 20:28] #745 closed, assigned to NathayaMDOL

[2018-08-21 20:33] binwang89 commented on #654
looks good, move it Done.

[2018-08-22 21:08] PrabhakarThummalaDOL opened #791 "Security: Implement access control(password expiration, disable) by admin/non-admin roles"
Password Expiration:
- [x] Add new entries in the web.config
1.PasswordExpirationDaysAdminRole=45
2.PasswordExpirationDaysUserRole=90
Add a new method GetPasswordExpirationDays() to return the corresponding value (based on the role of the logged in user) to use it in VerifyPasswordExpiration().
(Remove the existing entry PasswordExpirationDays)

Disable Users:
- [x] Add new entries in the web.conf

[2018-08-22 21:12] PrabhakarThummalaDOL opened #792 "Security: Implement access control(delete) for admin roles"
Admin Roles:
- [x] Add a new entry in web.config AccountDeletionDaysAdminRole=90
- [x] A new method to Delete admin users in ApplicationStartEventHandler.cs

[2018-08-23 15:12] binwang89 commented on #768
@PrabhakarThummalaDOL please make sure the split columns will meet the 508 standards and unit test in IE.

[2018-08-23 15:13] binwang89 commented on #786
@NathayaMDOL Please make sure it will meet 508 standards, and pass the test in IE.

[2018-08-28 16:24] NathayaMDOL commented on #744
Hi @binwang89 ,
For this story, there is an error message and it's showing properly. Can you please confirm if it same field as the screenshot below. Then we can close this ticket.

![image](https://user-images.githubusercontent.com/40499717/44736470-51a35680-aabd-11e8-9121-19cffb2865f1.png)

Thanks,
Nathaya

[2018-08-29 17:13] NathayaMDOL commented on #743
@binwang89 , This has been fixed. See the screenshot below.
Branch:  "whd-aqa-743-nmankong-errormsg-totalnumber-disabilityworker"
![743](https://user-images.githubusercontent.com/40499717/44803527-b7aadf00-ab8c-11e8-9740-5467e3c514cc.PNG)

[2018-08-29 18:56] NathayaMDOL commented on #786
Completed and pushed to Dev. Screenshot below.
Branch: "whd-aqa-786-nmankong-youraccount-ui-url-changes"

![1](https://user-images.githubusercontent.com/40499717/44809032-acab7b00-ab9b-11e8-9d5e-2876aad0927b.png)
![2](https://user-images.githubusercontent.com/40499717/44809035-af0dd500-ab9b-11e8-86e7-14b5e5325e6a.png)

[2018-08-30 20:47] NathayaMDOL opened #793 "508: IE only: Data table on "Work Sites & Employees" and "WIOA""
There are 2 issues on IE that needs investigate.
- [ ] Data (in the table) cannot be sorted by keyboard.
- [x] The focus is lost out of the table after "Delete" data in the table.

[2018-08-30 21:00] NathayaMDOL commented on #680
This story has been completed. The screenshot below.
Branch: "whd-aqa-680-wioa-addworker-datatable"
Note: There is 508 datatable issue (on IE only) which needs more time for researching. So I have created the new story #793.

![680](https://user-images.githubusercontent.com/40499717/44878804-df29a680-ac75-11e8-95ce-83857350acee.png)

[2018-08-31 16:03] PrabhakarThummalaDOL commented on #791
Completed. Awaiting acceptance.

[2018-08-31 16:04] PrabhakarThummalaDOL commented on #792
Completed. Awaiting acceptance.

[2018-08-31 16:05] PrabhakarThummalaDOL commented on #761
Completed. Awaiting acceptance.

[2018-08-31 16:05] PrabhakarThummalaDOL commented on #774
Completed. Awaiting acceptance.

[2018-08-31 16:48] PrabhakarThummalaDOL opened #794 "Security: Set application user session time span"
- [x] In the web.config, change the value of AccessTokenExpireTimeSpanMinutes to 30 minutes (currently it is set to 20160 i.e. 14 days)

[2018-09-04 18:40] NathayaMDOL commented on #790
@binwang89 ,
This issue has been fixed. After clicking "Next: Add Piece Rate", the focus will be on help"?" button on Piece Rate tab (See screenshot below). This branch is also included fixing entering keyboard access on "Show Help for All Items" button to toggle all help message box.
Branch : "whd-aqa-nmankong-790-wagedata-a11y-keyboard-access"

![image](https://user-images.githubusercontent.com/

[2018-09-06 14:27] PrabhakarThummalaDOL opened #795 "Bug: Foreign key reference error on STATUS database table."
- [x] Remove the auto generation clause for ID column in STATUS table.

Ref:
ERROR [23503] [IBM][DB2/AIX64] SQL0530N  The insert or update value of the FOREIGN KEY "ZXWH14C1.ORGANIZATION_MEMBERSHIPS.FK_ORGANIZATION_MEMBERSHIPS_STATUS_A" is not equal to any value of the parent key of the parent table.

[2018-09-06 14:38] binwang89 commented on #743
@NathayaMDOL it looks good

![image](https://user-images.githubusercontent.com/25330625/45164655-ecd4b400-b1c0-11e8-82e9-f0d5748e5efa.png)

[2018-09-06 14:49] binwang89 commented on #786
@NathayaMDOL it looks good.
![image](https://user-images.githubusercontent.com/25330625/45165301-91a3c100-b1c2-11e8-8be6-cab28be5f73e.png)

[2018-09-06 14:55] binwang89 commented on #680
@NathayaMDOL it looks good
![image](https://user-images.githubusercontent.com/25330625/45165690-52c23b00-b1c3-11e8-9c26-e5dd796c777d.png)

[2018-09-06 15:53] binwang89 commented on #790
@NathayaMDOL it looks good

[2018-09-06 15:55] binwang89 commented on #744
@NathayaMDOL it looks good
![image](https://user-images.githubusercontent.com/25330625/45169527-cd8f5400-b1cb-11e8-84cc-7728ffb2954b.png)

[2018-09-06 16:03] EStriegel commented on #744
Confirmed on 9/6.  Closed.

[2018-09-06 16:03] #744 closed, assigned to NathayaMDOL

[2018-09-06 16:04] EStriegel commented on #743
Confirmed 9/6.  Closed.

[2018-09-06 16:04] #743 closed, assigned to NathayaMDOL

[2018-09-06 16:06] EStriegel commented on #786
Confirmed 9/6.  Closed.

[2018-09-06 16:06] #786 closed, assigned to EStriegel, binwang89, NathayaMDOL

[2018-09-06 16:08] EStriegel commented on #680
Confirmed 9/6.  Closed.

[2018-09-06 16:08] #680 closed

[2018-09-06 16:09] EStriegel commented on #790
Confirmed 9/6.  Closed.

[2018-09-06 16:09] #790 closed, assigned to NathayaMDOL

[2018-09-06 16:16] EStriegel commented on #761
Confirmed 9/6.  Closed.

[2018-09-06 16:16] #761 closed, assigned to mmurthydol, PrabhakarThummalaDOL

[2018-09-06 16:17] EStriegel commented on #774
Confirmed 9/6.  Closed.

[2018-09-06 16:17] #774 closed, assigned to PrabhakarThummalaDOL

[2018-09-06 16:18] EStriegel commented on #773
Confirmed 9/6.  Closed.

[2018-09-06 16:18] #773 closed, assigned to PrabhakarThummalaDOL

[2018-09-06 16:19] EStriegel commented on #770
Confirmed 9/6.  Closed.

[2018-09-06 16:19] #770 closed, assigned to PrabhakarThummalaDOL

[2018-09-06 16:20] EStriegel commented on #779
Confirmed 9/6.  Closed.

[2018-09-06 16:20] #779 closed, assigned to PrabhakarThummalaDOL

[2018-09-06 16:21] EStriegel commented on #777
Confirmed 9/6.  Closed.

[2018-09-06 16:21] #777 closed, assigned to PrabhakarThummalaDOL

[2018-09-06 16:22] EStriegel commented on #756
Confirmed 9/6.  Closed.

[2018-09-06 16:22] #756 closed, assigned to PrabhakarThummalaDOL

[2018-09-06 16:22] EStriegel commented on #791
Confirmed 9/6.  Closed.

[2018-09-06 16:22] #791 closed, assigned to PrabhakarThummalaDOL

[2018-09-06 16:22] EStriegel commented on #792
Confirmed 9/6.  Closed.

[2018-09-06 16:22] #792 closed, assigned to PrabhakarThummalaDOL

[2018-09-06 16:23] EStriegel commented on #780
Confirmed 9/6.  Closed.

[2018-09-06 16:23] #780 closed, assigned to mmurthydol, PrabhakarThummalaDOL

[2018-09-06 16:24] EStriegel commented on #769
Closed.

[2018-09-06 16:24] #769 closed, assigned to PrabhakarThummalaDOL

[2018-09-06 16:28] EStriegel commented on #480
Breadcrumb issues resolved in other stories.  Closed.

[2018-09-06 16:28] #480 closed

[2018-09-06 16:35] #627 closed

[2018-09-06 16:38] EStriegel commented on #749
Confirmed 9/6.  Closed.

[2018-09-06 16:38] #749 closed, assigned to NathayaMDOL

[2018-09-06 17:33] PrabhakarThummalaDOL commented on #795
Fixed.

[2018-09-06 18:41] PrabhakarThummalaDOL commented on #705
Breadscrums problem taken care in other stories.
Closing.

[2018-09-06 18:41] #705 closed, assigned to PrabhakarThummalaDOL

[2018-09-06 18:48] EStriegel commented on #754
Confirmed 9/6.  Closed.

[2018-09-06 18:48] #754 closed, assigned to NathayaMDOL

[2018-09-06 18:50] EStriegel commented on #739
Confirmed 9/6.  Closed.

[2018-09-06 18:50] #739 closed, assigned to NathayaMDOL

[2018-09-06 18:52] EStriegel commented on #736
Confirmed 9/6.  Closed.

[2018-09-06 18:52] #736 closed, assigned to NathayaMDOL

[2018-09-06 18:54] EStriegel commented on #737
Confirmed 9/6.  Closed.

[2018-09-06 18:54] #737 closed, assigned to NathayaMDOL

[2018-09-06 18:55] EStriegel opened #796 "Bug: Error message above question, instead of below."
Wage Data Section, both hourly and piece rate tabs.  The error message for the two questions below should be below the form question.

![image.png](https://images.zenhubusercontent.com/57e9239095e42b6c5ba972b8/91ef481f-0025-4056-8c70-6eaef40ee3d7)

[2018-09-06 19:00] EStriegel commented on #738
Confirmed 9/6.  Complete.

[2018-09-06 19:00] #738 closed, assigned to NathayaMDOL

[2018-09-06 19:01] EStriegel commented on #750
Confirmed 9/6.  Closed.

[2018-09-06 19:01] #750 closed, assigned to NathayaMDOL

[2018-09-06 19:10] EStriegel opened #797 "Bug: Error messages still display after clearing application"
Error messages seem to disappear when the user logs out and logs back in.

[2018-09-06 19:17] EStriegel commented on #778
Madhu email, 9/5:
1)	Currently 14C Online always sends emails in HTML Format.  Advantage to the user: They can click on the link provided. Disadvantage: Some companies disallow HTML Format emails to prevent phishing attacks.
2)	Alternative is to send the email always in Text format. Advantage: Will work with all company email policies. Disadvantage: Users will have to copy and paste the link provi

[2018-09-06 19:18] EStriegel commented on #778
Implement option 3.

[2018-09-06 19:21] EStriegel commented on #666
Moved to Icebox 9/6.

[2018-09-06 20:41] PrabhakarThummalaDOL opened #798 "Disable inactive users at application start."
- [x] IIS will restart application every AM. TODO: @mmurthydol

Refer: #77

[2018-09-06 20:44] PrabhakarThummalaDOL commented on #77
New story #798 for the last two items in the list (IIS related).
Closing the current story.

[2018-09-06 20:44] #77 closed

[2018-09-06 20:52] binwang89 commented on #297
#789 will keep open for IE related issue.

[2018-09-06 20:53] binwang89 commented on #297
close this one and keep #789 open to continue work on IE part.

[2018-09-06 20:55] binwang89 commented on #297
move it to Done.

[2018-09-07 19:08] NathayaMDOL commented on #742
@binwang89 , This issue has already been fixed in #197. Feel free to close it.
![image](https://user-images.githubusercontent.com/40499717/45237999-436bec00-b2ae-11e8-9af0-601d52225b00.png)

[2018-09-10 15:12] NathayaMDOL commented on #789
@binwang89 ,
This story issues have been fixed except 1.2 which is in new story #793.
Branch: "whd-aqa-nmankong-789-508-a11y-keyboard-access"

Thanks,
Nathaya

[2018-09-10 15:32] NathayaMDOL opened #799 "WebInspect scan: Low: Privacy Violation: Autocomplete"
Fix: From the web application perspective, the autocomplete can be turned at the form level or individual entry level by defining the attribute AUTOCOMPLETE="off".

< FORM AUTOCOMPLETE = "off" >
:
< /FORM >

https://technet.microsoft.com/en-us/windows/ms533032(v=vs.60)

[2018-09-10 15:35] NathayaMDOL opened #800 "WebInspect scan: Informational: System Information Leak: External"
Notes: Add a story to go through index.js and other js/css/html files that might contain informative comments (ex: file name/url). Don’t spend too much time. Not high enough priority.
Fix: A URL or filename was found in the comments of the file. Check index.js (or other html/js files).

[2018-09-10 16:29] PrabhakarThummalaDOL opened #801 "Security: Change the GET requests to POST"
Madhu's email (AnalysisOfWebInspectScanOnStaging.doc)

2.	High: Password Management: Insecure Submission

Notes: HTTPS already present. Sensitive information is on server already. I Identified/Implemented POST fix in one instance. Story in ZenHub to change GET to POST for other occurrences.
Fix: Recommendations include ensuring that login information is sent with a POST request over an encrypted c

[2018-09-10 16:33] PrabhakarThummalaDOL opened #802 "Security: Web server configuration and Cache management"
7.	Low: Web Server Misconfiguration: Unprotected Directory

Notes: This is a straight forward fix in IIS to disallow directory browsing of images.  And any other similar folders though not detected by WebInspect. Story needs to be added in ZenHub.

Fix: Directory Enumeration vulnerabilities (images, and other folders). Web Server Administrator TODO.
https://section14cstage.dol.gov:443/images/

10.

[2018-09-10 16:43] PrabhakarThummalaDOL opened #803 "Security: Cross-Frame Scripting"
5.	Medium Cross-Frame Scripting

Notes: Add a story to ZenHub for this possibility. Info below and Link suffice for implementation. Discuss with Prabhakar.
Fix: Browser vendors have introduced and adopted a policy-based mitigation technique using the X-Frame-Options header.
Developers can use this header to instruct the browser about appropriate actions to perform if their site is included inside

[2018-09-10 17:19] NathayaMDOL commented on #740
@binwang89 ,
This story has been fixed.
Branch: "whd-aqa-740-nmankong-wagedata-noerrormsg-on3radiobuttons"

![image](https://user-images.githubusercontent.com/40499717/45313158-085ef800-b4fc-11e8-93ec-5cf11e928f24.png)

[2018-09-10 17:34] NathayaMDOL commented on #796
@EStriegel ,
The issue has been fixed.
Branch: "whd-aqa-796-nmankong-wagedata-errormsg-abovequestion"

![image](https://user-images.githubusercontent.com/40499717/45313882-1dd52180-b4fe-11e8-82a2-412c4f83b9c6.png)

[2018-09-10 21:35] NathayaMDOL commented on #799
Not sure if this issue needs to apply to all input fields or just only password field. Also I have found AUTOCOMPLETE="off" has no longer support on IE and Edge but works fine on Chrome68. Needs to discuss with the team.
References: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/9847360/

![autocomplete off and fields still autopopulate microsoft edge development](https://use

[2018-09-11 20:17] NathayaMDOL commented on #800
This issue has been performed and pushed to Dev.
Branch: whd-aqa-800-nmankong-remove-comment-sensitiveinfo

[2018-09-14 16:24] NathayaMDOL commented on #799
This issue has been pushed to Dev.
Fixed: set autocomplete off on HTML form and field
Branch: whd-aqa-799-nmankong-autocomplete-off

[2018-09-17 19:51] PrabhakarThummalaDOL commented on #778
Implemented.

[2018-09-18 23:05] NathayaMDOL opened #804 "508 Scan: All 508 issues after 508 testing have been fixed"
[https://app.zenhub.com/files/68946896/aeb377cb-4046-4111-a123-a5753fe589c0/download](https://app.zenhub.com/files/68946896/aeb377cb-4046-4111-a123-a5753fe589c0/download)

[2018-09-19 14:34] binwang89 commented on #742
@NathayaMDOL looks good

[2018-09-19 14:36] binwang89 commented on #789
@NathayaMDOL Okay.  I will move it to next pipeline.

[2018-09-19 14:37] binwang89 commented on #740
@NathayaMDOL looks good, move it to next pipeline

[2018-09-19 15:28] PrabhakarThummalaDOL commented on #492
'Clear application' for a Renew Application works fine.
Can be closed.

[2018-09-19 16:13] PrabhakarThummalaDOL opened #805 "Security: Change the ResponseController request from POST to GET."
Change the ResponseController request from POST to GET.

[2018-09-19 16:22] NathayaMDOL commented on #740
Just found some bugs on this function. Will take a look later after 508 fix.

[2018-09-21 21:08] NathayaMDOL commented on #740
fixed and pushed to dev

[2018-09-24 14:15] PrabhakarThummalaDOL opened #806 "Security: Write SQL scripts for Audit Reports"
- [x] Write SQL scripts for Audit Reports 1. To generate csv file. 2. To generate the result in data studio.

[2018-09-24 15:57] PrabhakarThummalaDOL opened #807 "Bug: Incorrect server side validation when User Registration"
At user registration:
API returns error even when all the user input is valid.

[2018-09-24 17:49] NathayaMDOL commented on #804
Note: For first round 508 fixed has been deployed on 9/21/2018 are included.
1. DHS Test #3 (Added Label,Id,field,legend), #5 (Added password validation on Create account), #8 (Added Table Header)
2. DHS Test #2 (focus does not remain within a modal dialog box): this issue has been fixed on all pop up except on Attachment File pop up box.
See attached (Highlight issues are remaining issue, Strikeo

[2018-09-24 18:14] binwang89 commented on #804
@NathayaMDOL  thanks, i have forwarded to DHS tester for re-test.

[2018-09-24 21:34] PrabhakarThummalaDOL opened #808 "Enhancement: Configure IIS/Application for handling Application Start failure boundary conditions"
- [ ] Provide solution for application start logic getting heavy and crashing the application.

Refer: #77.

[2018-09-25 15:40] PrabhakarThummalaDOL opened #809 "Implement password complexity when changing user password."
- [x] Implement password complexity when changing user password.

[2018-09-26 15:47] NathayaMDOL commented on #799
Note: I have tried to use jQuery (code below) before but the field still auto filling.
•	$(document).ready(function () { $("input").attr("autocomplete", "off"); });
•	$('form').attr('autocomplete','off');

So I just applied to each page directly and tested on VM. Some input didn’t work with  autocomplete =  “off”, but it worked with autocomplete =  “nofill”.
Chrome was working fine but not IE. Aft

[2018-09-26 16:15] NathayaMDOL opened #810 "WebInspect fixes: Autocomplete off"
Regarding to the story #799
I have tried to use jQuery (code below) before but the text field still in auto filling.
•	$(document).ready(function () { $("input").attr("autocomplete", "off"); });
•	$('form').attr('autocomplete','off');

So I just applied to each page directly and tested on VM. Some input didn’t work with autocomplete = “off”, but it worked with autocomplete = “nofill”.
Chrome was w

[2018-09-27 14:50] PrabhakarThummalaDOL opened #811 "Security: Remove the DisableCache entry from web.config"
- [x] Remove the DisableCache entry from web.config. Configured at IIS now.

Refer: #802.

[2018-09-27 18:07] PrabhakarThummalaDOL commented on #807
Fixed.

[2018-09-27 18:07] PrabhakarThummalaDOL commented on #811
Completed.

[2018-09-27 18:19] NathayaMDOL commented on #804
All 508 feedback from Darya email (see attached file) and popup focusing issues have been fixed. There is an issue on Anchor tags without HREF (DHS Test#4) need to investigate and talk @binwang89.

[RE_ remaining 508-Scan issue.pdf](https://github.com/18F/dol-whd-14c/files/2425336/RE_.remaining.508-Scan.issue.pdf)
[508 scan - 14C - round 4 testing - version 2.docx](https://github.com/18F/dol-whd-1

[2018-09-27 20:08] PrabhakarThummalaDOL commented on #806
Created the following script files:

14cOnline_AuditReport_CSV_ActiveUsers.sql
14cOnline_AuditReport_SQL_ActiveUsers.sql

14cOnline_AuditReport_CSV_DeactivatedAndReactivatedUsers.sql
14cOnline_AuditReport_SQL_DeactivatedAndReactivatedUsers.sql

14cOnline_AuditReport_CSV_DeletedUndeletedUsers.sql
14cOnline_AuditReport_SQL_DeletedUndeletedUsers.sql

14cOnline_AuditReport_CSV_LoginLogoutUsers.sql
14c

[2018-09-28 14:32] PrabhakarThummalaDOL opened #812 "Enhancement: APILogs data need to be parse-able by Splunk."
APILogs data need to be parse-able by Splunk.

[2018-09-28 14:47] PrabhakarThummalaDOL opened #813 "Bug: Deactivated/Reactivated User Report - include Admin's ENABLE condition to the report logic"
Deactivated/Reactivated User Report:
- [x] Include Admin's ENABLE condition to the report logic.

[2018-09-28 15:13] PrabhakarThummalaDOL commented on #813
Fixed.

[2018-09-28 15:13] #813 closed, assigned to PrabhakarThummalaDOL

[2018-10-01 22:04] #728 closed, assigned to nobody

[2018-10-02 15:12] NathayaMDOL opened #814 "Add New Employee: Need validation on option (other, please specify:)"
On Add New Employee
Question: "Primary disability that affects productivity for job described above. Pick only one. "
Need validation when choosing option  "Other, please specify:"

![image.png](https://images.zenhubusercontent.com/5b2d31b202104679709f357e/50d7c226-03ea-4700-a76b-da30a994db83)

[2018-10-02 15:16] NathayaMDOL commented on #814
Hi @EStriegel  / @binwang89 ,
Can I have the validation message for the question above?

Thanks,
Nathaya

[2018-10-02 16:02] EStriegel commented on #814
@NathayaMDOL

If other is selected, and nothing is provided in the text box, the validation message should be:
"Please specify the primary disability"

Also, please update the general validation message to:
"Please select the primary disability that affects productivity"
![image](https://user-images.githubusercontent.com/19496579/46361073-c75d8d80-c63a-11e8-82f1-c5ac5aeeefc4.png)

[2018-10-02 18:30] NathayaMDOL commented on #741
This issue has been fixed and reviewed with Michelle. The behavior will be
1. All field: Can enter number only
2. Month: Can enter up to 12 maximum
3. Day: Can enter up to a maximum of last day of that month
4. Year: Can enter up to a maximum of the current year
5. If you enter any field more than limit it will automatically adjust to a maximum
Branch: "whd-aqa-741-nmankong-bug-date-field"

[2018-10-03 14:33] NathayaMDOL commented on #804
- For an issue DHS Test#4, A link does not have a unique and meaningful description.
The fix I have found is using aria attributes for SCREEN READER to read out the meaningful description. References: https://www.levelaccess.com/indicating-link-purpose-aria/
Example: <a href="" aria-label="Close button"............></a>  -->SCREEN READER will read "Close button"

- For testing, @binwang89 recommen

[2018-10-03 20:33] NathayaMDOL commented on #797
This issue has been fixed. "Error messages" and tab "Review&Submit" will be disappear after clearing the application.
Branch: "whd-aqa-797-nmankong-clear-errormsg-after-clearing-application"

[2018-10-04 14:50] NathayaMDOL opened #815 "Bug: Add New Employee: On option other, please specify"
On add employee tab:
- Choosing an option other, the description not showing properly in the table. It should show "Other".

![image.png](https://images.zenhubusercontent.com/5b2d31b202104679709f357e/96afffad-ff62-4b98-9376-063ecff1dd41)
- When specifying the primary disability detail then save. The radio button lost the focus.

![image](https://user-images.githubusercontent.com/40499717/46482485-

[2018-10-04 15:29] NathayaMDOL commented on #814
This issue has been fixed.
Branch: "whd-aqa-814-nmankong-addnewemployee-validation-option-other"

![image](https://user-images.githubusercontent.com/40499717/46482753-30244180-c7c4-11e8-97b8-0819439bbd5e.png)

![image](https://user-images.githubusercontent.com/40499717/46482681-108d1900-c7c4-11e8-8c05-d0c77aaed170.png)

[2018-10-09 22:09] NathayaMDOL commented on #815
This issue has been completed. If you choose option "Other, please specify" input text field will be active otherwise it will be disabled. Screenshot below.
Branch: "whd-aqa-815-nmankong-addnewemployee-bug-option-other"

![image](https://user-images.githubusercontent.com/40499717/46701012-5e52b880-cbec-11e8-846d-832d84e8619a.png)
![image](https://user-images.githubusercontent.com/40499717/46701040

[2018-10-10 16:01] PrabhakarThummalaDOL opened #816 "TestDB2Connection: Changes"
- [x] User should not be able to save the database login credentials.

[2018-10-15 20:14] PrabhakarThummalaDOL commented on #731
Completed.

[2018-10-15 20:15] PrabhakarThummalaDOL commented on #816
Completed.

[2018-10-15 20:20] PrabhakarThummalaDOL opened #817 "Security: Set expiration time for the reset password"
- [x] When admin resets a user/admin password, set expiration duration for the new password.
- [x] Configure the expiration duration in the web.config (new entry: TempPasswordExpirationHours) : Set the value to 0, which forces the user to change the password.

[2018-10-16 17:09] PrabhakarThummalaDOL opened #818 "Enhancement: Ability to import excel file with list of employees."
- [ ] Import comma separated excel file (list of employees) to the Data Table.
- [ ] Create a log file with the list of failed records.

[2018-10-16 19:35] NathayaMDOL opened #819 "Bug: Clear all the error logs"
Debug the site and clear all the error message. For an example, see the screenshot below.
![image.png](https://images.zenhubusercontent.com/5b2d31b202104679709f357e/5f7ac509-d39d-4179-a868-77e35a1e695f)

[2018-10-18 15:53] NathayaMDOL opened #820 "Implement: Your Account page when password expired"
Implement "Your Account page" when a password is expired and need to reset.

[2018-10-19 15:40] NathayaMDOL commented on #819
All the following error logs have been cleared.
Branch: "whd-aqa-819-clear-error-logs"

- TypeError:   Cannot read property 'status' of undefined
- TypeError: Cannot read   property 'category' of undefined
- TypeError: Cannot read   property 'length' of undefined
- SyntaxError: Unexpected end of   JSON input
- TypeError: Cannot read   property 'state' of undefined
- TypeError: Cannot read   proper

[2018-10-19 15:54] NathayaMDOL commented on #820
Completed. Screenshot below.
Branch: "whd-aqa-820-youraccountpage-resetpassword-expired"

![image](https://user-images.githubusercontent.com/40499717/47229428-b9776e80-d395-11e8-8283-c0fb1e54b04c.png)

[2018-10-19 16:57] PrabhakarThummalaDOL opened #821 "Bug: Restrict access to the application using help hyperlinks"
- [x] Clicking on help links should not give access to the application.

[2018-10-19 20:56] PrabhakarThummalaDOL commented on #821
Fixed.

[2018-10-23 17:08] PrabhakarThummalaDOL opened #822 "Enhancement: Validate email id for dol.gov for admin users"
- [x] Validate email id for dol.gov for admin users, for new users and when changing the roles.

[2018-10-23 22:07] PrabhakarThummalaDOL opened #823 "Integration Controller: Generate new API"
Generate new API:
- [ ] Write a new API method to return Effective Data and Expiration Date for a given Certificate Number.
- [ ] ECF service account initiates the request

[2018-10-24 15:51] PrabhakarThummalaDOL opened #824 "Configure different ConnectionStrings for Dev, Test, Staging environments"
In the TestDb2Connection:
- [x] Add a new tab for creating a new web.config file.
- [x] Ability to select an existing web.config based on which the new web.config will be created.
- [x] Ability to select a target environment (Dev, Test, Staging, Production).
- [x] Ability to provide a name (and save) to the resultant web.config file.

Also,
- [x] Include Log databases to the list in the TestDb2Con

[2018-10-24 15:54] PrabhakarThummalaDOL opened #825 "Bug: Duplicate records in Addresses, Employers and Organization_Memberships"
Sometimes application inserts duplicate rows in Addresses, Employers and Organization_Memberships tables.
- [x] Troubleshoot and fix.

@NathayaMDOL1
On the employer registration page:
- [x] Restrict the user to click on the 'Register Employer' button only once.

[2018-10-24 15:56] PrabhakarThummalaDOL opened #826 "Generate SQL script from Entity framework"
Generate SQL script from Entity framework outside Visual Studio environment (like command prompt window).

[2018-10-25 21:34] PrabhakarThummalaDOL opened #827 "Security: Remember user password history"
- [x] Application should remember user password history.
- [x] #n number of passwords to remember. #n should be configurable.

[2018-10-25 21:55] PrabhakarThummalaDOL opened #828 "Console Application: Configure different ConnectionStrings for Dev, Test, Staging environments"
- [ ] Create a console application for configuring the web.config settings.
- [ ] Should have option to pass three parameters:
-e : for environment
-s : source web.config file with path
-o : output web.config file with path.

[2018-10-26 20:12] NathayaMDOL commented on #818
@mmurthydol ,
From researching. there is no plugin/builtin to import file to datatable.
I found couples article that related to our environment. #2. seems interesting.  Please see below.
1. Read Excel Data in AngularJS using Asp.Net Web API in MVC 4 and Show Data in HTML Table
- https://www.encodedna.com/angularjs/tutorial/read-excel-in-angularjs-using-webapi-and-show-data-in-html-table.htm
2. Rea

[2018-10-29 16:45] NathayaMDOL commented on #724
This story has been completed by using datatable.
Reason to replace grid table to DataTable: Datatable pattern already have all features, no need to customize for filter searching, copy, or CSV. Also, all table will be consistent using datatable.
Branch: "whd-aqa-724-nmankong-implement-admin-datatable"

[2018-10-29 21:56] mmurthydol commented on #818
@NathayaMDOL  Thanks for analysis. Please provide an LOE - level of effort and any technical risks/challenges that you think we might face.

[2018-10-29 22:02] mmurthydol commented on #818
@NathayaMDOL Need analysis on what we can do if data is incomplete/incorrect; how do we report back, etc. Also LOE.

@PrabhakarThummalaDOL Could you please also review. How about Application_Save - what limits does the API support for Upload? What happens on failure in this context?

[2018-10-31 14:28] PrabhakarThummalaDOL opened #829 "Security: UI - Password Complexity Score"
- [x] Set the Password Complexity Score to 5.
- [x] Show user friendly warning messages to the user.
- [x] Remove 'Good' word in the current existing check list.

[2018-10-31 17:15] PrabhakarThummalaDOL opened #830 "Security: Encrypt EIN."
- [x] Encrypt/Decrypt EIN number.
- [x] Application PDF: Mask the EIN number (except the last 4 digits) for the employer. Do not mask for Certification Team.
- [x] Encrypt/Decrypt Application_State column in the Application_Saves table.

[2018-10-31 17:22] PrabhakarThummalaDOL opened #831 "Security: UI - Mask EIN number."
@NathayaMDOL
- [x] Mask EIN number.

[2018-11-01 20:49] NathayaMDOL commented on #831
This issue has been completed. Using password type to mask the field and have a hyperlink to show/hide EIN number. See screenshot below.

![hideein](https://user-images.githubusercontent.com/40499717/47879043-0f1c3400-ddf6-11e8-9ac0-d3b7e9b4cffe.jpg)
![showein](https://user-images.githubusercontent.com/40499717/47879059-14797e80-ddf6-11e8-97a6-a7d5992dcb98.jpg)

Branch: "whd-aqa-831-nmankong-mask-

[2018-11-01 21:04] NathayaMDOL opened #832 "Employer Registration: Add checkbox if employer have only SSN"
- [ ] Add a checkbox if the employer has only SSN.
The caption will be something like -- > "Check this box if this is Social Security Number (SSN)"/"Is this SSN"
Will confirm with Liz

[2018-11-05 18:47] NathayaMDOL opened #833 "Update the Banner page verbiage"
Update the Banner page. From Lliz'email, this should be sufficient.
“Please do not upload Personal Identifying Information (PII) about a section 14(c) certificate holder or any employees to the Section 14(c) Online Application. PII refers to information which can be used to distinguish or trace an individual's identity, such as their name, social security number, biometric records, etc. alone, or

[2018-11-05 19:30] NathayaMDOL commented on #833
Banner page verbiage has been updated.
![image](https://user-images.githubusercontent.com/40499717/48021742-514fb900-e107-11e8-911d-6803f33a2501.png)
Branch: "whd-aqa-833-nmankong-update-bannerpage-verbiage"

[2018-11-05 21:53] NathayaMDOL opened #834 "Update the 14C Helpdesk Email/Phone"
- [x] On all page that have helpdesk email, Update it from "14c-help@dol.gov" to "WHD.14cOnlineApplication.Help@dol.gov"
----------------------------------
- [x] On submission page update as below
“You will receive an email confirming this submission with a PDF attachment of your submitted application.  If you do not receive the email confirmation within an hour, please contact our IT support team

[2018-11-07 23:56] NathayaMDOL opened #835 "Add a note "do not enter SSN" to EIN input field"
Need to confirm with Liz on the note text. "* Please do not enter SSN"
Add a note to EIN input field on page below
- [x] Employer Registration Page
- [x] Employer Tab

[2018-11-07 23:59] #832 closed, assigned to NathayaMDOL

[2018-11-08 00:00] NathayaMDOL commented on #832
Pushed back and no need to do anymore. Closed!

[2018-11-08 00:07] NathayaMDOL commented on #831
The request has been canceled. Closed!

[2018-11-08 00:07] #831 closed, assigned to NathayaMDOL

[2018-11-08 14:48] EStriegel commented on #835
@NathayaMDOL The text for the registration page is:  "If you do not have an EIN, do not enter your social security number.  Please contact the Certification Team at (312) 596 - 7195 before creating an account."

For the employer page, I'm hoping the text does not need to be added.  Please discuss with @mmurthydol.  If text is necessary, please create an instruction (blue i symbol that expands with

[2018-11-08 16:26] NathayaMDOL commented on #834
For a phone#, there are 2 pages.
1. Help page
2. Submission page

For an email, there are 3 pages.
1.	Help page
2.	User Registration Page
3.	Employer Registration Page

Screenshot in the attached file.
[Screenshot of help email-phone.docx](https://github.com/18F/dol-whd-14c/files/2562565/Screenshot.of.help.email-phone.docx)

[2018-11-13 19:14] NathayaMDOL commented on #835
Completed!
![1](https://user-images.githubusercontent.com/40499717/48437072-67d0c280-e74e-11e8-9541-c8774c7d406a.PNG)
![2](https://user-images.githubusercontent.com/40499717/48437073-67d0c280-e74e-11e8-94d7-70361dcf41b5.PNG)
![3](https://user-images.githubusercontent.com/40499717/48437074-67d0c280-e74e-11e8-8e08-25cf6407b3d9.PNG)

[2018-11-13 19:32] NathayaMDOL commented on #834
New language updated from Liz
[Screenshot of help email-phone ERS edits.docx](https://github.com/18F/dol-whd-14c/files/2577716/Screenshot.of.help.email-phone.ERS.edits.docx)

[2018-11-14 15:18] PrabhakarThummalaDOL opened #836 "Security: Email notification to users x days before disabling the account"
Security: Email notification to users x days before disabling the account

[2018-11-14 19:33] NathayaMDOL commented on #834
Completed!  Screenshot below
**1. Help Page**
![help page](https://user-images.githubusercontent.com/40499717/48507197-3e309d80-e819-11e8-9678-1cf9760e0b4c.PNG)
----------------------------------------
**2. Submission page**
![success submit application](https://user-images.githubusercontent.com/40499717/48507217-4be62300-e819-11e8-981b-2c1e09ee68e2.PNG)
----------------------------------------
**

[2018-11-15 22:29] NathayaMDOL opened #837 "Add Google Analytic in 14C Section application"
Header:
<script async language="javascript" id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOL&subagency=SECTION14C&yt=true"></script>

[2018-11-16 18:54] NathayaMDOL commented on #837
completed!
Branch: "whd-aqa-837-nmankong-google-analytics"

[2018-11-20 17:15] PrabhakarThummalaDOL opened #838 "Section14c Dev: Set email for CertificationTeamEmailAddress in web.config"
In the Dev web.config, set the value for CertificationTeamEmailAddress as '14c-test-submit-appl@DOL.gov'

[2018-11-21 15:59] NathayaMDOL commented on #829
**Below is the text for Password Complexity Help tooltip:**
A strong password consists of 8 or more characters (combination of letters, numbers and special characters like #,$,@ etc.). Strong passwords are case-sensitive and they do not contain common dictionary words. [Show more](url)

**Below is the text for Password Complexity detailed help:**
**Combine different types of characters**
Use a pas

[2018-11-21 18:55] mmurthydol opened #839 "As an Application Architect I would like to ensure Application/API Health Check Status is implemented"
## Acceptance Criteria

#### Functionality

**AQA**
- [x] Web: Write keep-alive-status.html page that displays "WHD High Code Web Server Status Check. The Server is online and the 14C Online Web App is running."
- [x] Web API: Write keep-alive-status.html page that displays "WHD High Code Web Server Status Check. The Server is online and the 14C Online Web API is running."

**OCIO**
- [ ] Configur

[2018-11-21 20:48] NathayaMDOL commented on #837
Track your site using DOL’s Google Analytics code please place this in all pages:

<!'-- body -->
<!'-- start WHD and DOL All Google Analytics  -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

[2018-11-21 21:07] PrabhakarThummala opened #840 "Section14c API Log File Content Format"
- [x] API Log file (text) content format: Add prefix 'ApiLogEntry' to each entry in the file.

[2018-11-21 21:13] NathayaMDOL commented on #837
Completed! GA script above has been added to the application

[2018-11-21 21:22] NathayaMDOL commented on #829
Completed! The changes have been applied to all pages below
1. Manage Users page(Admin)
2. User Registration/Create an Account page
3. Reset Password page
4. Change Password page
5. Reactivate Account page

Here are the screenshots for password complexity section
1. The complexity div with the arrow checks
![image](https://user-images.githubusercontent.com/40499717/49033733-ef222b00-f17d-11e8-879a

[2018-11-26 19:16] EStriegel commented on #829
@NathayaMDOL A couple minor changes -

- First sentence in the tool tip.  Please change to, "A strong password consists of 8 or more characters, using a combination of letters, numbers and special characters."

- First sentence in show more.  Please change to, "Use a password with combination of uppercase and lowercase letters, numbers and special characters (e.g. #@$&, etc.)."

- In the show more

[2018-11-26 19:21] NathayaMDOL opened #841 "Update: Crumb trail for 14c app"
<a href="https://www.dol.gov/">DOL</a> > <a href="https://www.dol.gov/whd/">WHD</a> > <a href="https://www.dol.gov/whd/specialemployment/14cpra.htm">Employment of Workers with Disabilities</a> > <a href="https://section14c.dol.gov/#!/">14(c) Home</a>
to
<a href="https://www.dol.gov/">DOL Home</a> > <a href="https://www.dol.gov/WHD/">WHD</a> > <a href="https://www.dol.gov/whd/workerswithdisabilitie

[2018-11-26 21:29] NathayaMDOL opened #842 "Remove: EIN on the dashboard"
Remove the EIN column from the dashboard.

[2018-11-26 21:31] NathayaMDOL commented on #829
The changes above have been performed and pushed to Dev.

[2018-11-26 21:32] NathayaMDOL commented on #841
Completed!
Branch: whd-aqa-841-nmankong-crumb-update

[2018-11-26 22:23] EStriegel commented on #833
@NathayaMDOL Please update so that the following is included on the banner page:

-------
You are accessing a U.S. Government information system that is owned and operated by the Department of Labor. There is no expectation of privacy when accessing this system. The Department of Labor information systems are provided for the processing of official U.S. Government information only, and are therefo

[2018-11-26 23:09] PrabhakarThummalaDOL opened #843 "API: Include PDF to change the name from Section 14(c) Application to Section 14(c) Online Application"
- [x] Include PDF to change the name from Section 14(c) Application to Section 14(c) Online Application

[2018-11-26 23:19] NathayaMDOL commented on #833
![image](https://user-images.githubusercontent.com/40499717/49048144-c3b43600-f1a7-11e8-9831-17f0337e59a5.png)

[2018-11-27 14:37] binwang89 commented on #789
@NathayaMDOL  I retested the data table area, it seems item 2, 4 are still not working.

[2018-11-27 14:55] binwang89 commented on #835
@NathayaMDOL @EStriegel I tested this user story, it looks fine, however, there is some minor 508 issues we need to document them.
508 Issues: Lost focus after exit out the blue i symbol text. And the link inside the text box is not clickable.
@NathayaMDOL Please create a user story for the 508 issues.

[2018-11-27 15:03] binwang89 commented on #742
@NathayaMDOL @EStriegel tested it, it looks good, move to "Done"

[2018-11-27 15:20] NathayaMDOL commented on #835
@binwang89 For this issue, we have already discussed. Jaws will read everything in the tooltip and the focus after exit the blue box will go to the phone link. On my end, the phone link inside the text box is clickable.

[2018-11-27 15:26] binwang89 commented on #834
@NathayaMDOL @EStriegel @mmurthydol i tested it and it looks good, move to "Done"

[2018-11-27 15:35] binwang89 commented on #835
@NathayaMDOL @EStriegel @mmurthydol  re-tested it, yes, the phone link is clickable, however, the text box will disappeared when user tab to the phone link. we can document this behavior for now. it is only minor issue from 508 perspective.   I will move it to "Done".

[2018-11-27 17:20] EStriegel commented on #833
Looks good!  Complete.

[2018-11-27 17:25] #833 closed, assigned to NathayaMDOL

[2018-11-27 17:36] NathayaMDOL commented on #842
Completed! The EIN column has been removed. Screenshot below.

![image](https://user-images.githubusercontent.com/40499717/49100064-0118d200-f241-11e8-82fb-b73f304f4bc7.png)

[2018-11-27 17:48] NathayaMDOL commented on #841
The header of each page has been updated from "Section 14(c) Certificate Application" to "Section 14(c) **Online** Certificate Application" to be consistent with the breadcrumb verbiage.  Please see the screenshot from some pages below.

![image](https://user-images.githubusercontent.com/40499717/49100460-01fe3380-f242-11e8-983c-6cc2cffc60e9.png)
![image](https://user-images.githubusercontent.com/

[2018-11-27 17:55] NathayaMDOL commented on #724
![image](https://user-images.githubusercontent.com/40499717/49101210-a46ae680-f243-11e8-8770-fd42756286d1.png)

[2018-11-27 17:57] PrabhakarThummalaDOL opened #844 "Create SQL scripts to retrieve log information."
- [x] SQL Script to retrieve Error log information for the past month.
- [x] SQL Script to retrieve Activity log information for the past month.
- [x] SQL Script to retrieve Error log information for a date range (from and to dates)
- [x] SQL Script to retrieve Activity log information for a date range (from and to dates)

[2018-11-27 18:38] binwang89 commented on #842
Tested, it looks good

[2018-11-27 18:39] #842 closed, assigned to NathayaMDOL

[2018-11-27 18:44] NathayaMDOL commented on #829
Here are the screenshots after changes above
![image](https://user-images.githubusercontent.com/40499717/49103816-5c9b8d80-f24a-11e8-9a20-28c335570aef.png)
![image](https://user-images.githubusercontent.com/40499717/49103874-8785e180-f24a-11e8-982d-3aa4e4d04488.png)

[2018-11-27 18:46] binwang89 commented on #829
looks ok, move to closed

[2018-11-27 18:46] #829 closed, assigned to PrabhakarThummalaDOL, NathayaMDOL

[2018-11-27 22:18] PrabhakarThummalaDOL opened #845 "Section 14c Application: Web standard and UI guideline fixes"
Section 14c Application: Web standard and UI guideline fixes.

[2018-11-27 22:42] binwang89 commented on #789
@NathayaMDOL @EStriegel @mmurthydol  re-tested item 2, 4 with different laptop ( same version IE browser), the issues have been fixed. The only issue left is 1.2  Work Sites & Employees: Employee data (in the table) can not be sorted by keyboard. Worked in Google Chrome, however, it is still not working in IE.  This issue also apply to any Data table (admin/User).  I will document it, and move thi

[2018-11-27 22:42] #789 closed, assigned to NathayaMDOL

[2018-11-27 23:05] binwang89 opened #846 "Bug: Accessibility: data table sorting Issues for user story"
#789  1.2 Work Sites & Employees: Employee data (in the table) can not be sorted by keyboard. Worked in Google Chrome, however, it is still not working in IE.  This issue also apply to other Data table (admin/User).

[2018-11-27 23:07] #197 closed

[2018-11-27 23:07] #535 closed

[2018-11-27 23:07] #297 closed

[2018-11-27 23:09] binwang89 commented on #804
@NathayaMDOL  please create a user story for  CSS-off items and reference to this user story, i will close this one.

[2018-11-27 23:09] #804 closed, assigned to NathayaMDOL

[2018-11-27 23:15] binwang89 commented on #841
@NathayaMDOL @EStriegel @mmurthydol tested it and looks good, i will move it to closed

![image](https://user-images.githubusercontent.com/25330625/49117889-4a344a80-f270-11e8-813e-697a6ce8fd00.png)

[2018-11-27 23:16] #841 closed, assigned to NathayaMDOL

[2018-11-28 01:20] mmurthydol opened #847 "Ensure section14c footer conforms to DOL footer."
##Header
- [x] Do not bother to implement "search" as it is not supported in 14c
- [ ] If "engage + share" are ez to implement, go ahead.
- [x] WHD styling and WHD icon would be good to add based on the DOL look.

##Footer
Ensure section 14c footer **looks and behaves** exactly like the DOL footer as shown on this DOL-WHD page: https://www.dol.gov/WHD/

Do a get latest prior to working on this sto

[2018-11-28 01:39] mmurthydol opened #848 "Link DOL seal and US DOL text to DOL URL in Header and Footer"
- [x]  Link any (a) DOL seal and (b) "United States Department of Labor" text in DOL header to the DOL homepage, which is: https://www.dol.gov/

![image](https://user-images.githubusercontent.com/25183303/49122854-3e528380-f284-11e8-8402-cb7380fe1d39.png)

- [x] Link any (a) The DOL seal and (b) "United States Department of Labor" text in DOL footer to the DOL homepage, which is: https://www.dol.g

[2018-11-28 01:52] mmurthydol opened #849 "Ensure email validation rules are implemented correctly. Use OWASP email validation rule."
https://www.owasp.org/index.php/OWASP_Validation_Regex_Repository
Email validation regex:
^[a-zA-Z0-9_+&*-]+(?:\.[a-zA-Z0-9_+&*-]+)*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,7}$]

## Acceptance Criteria
- [ ] Ensure this email validation rule detects Stan's catch. Try this regex on a Web site (do not write a program).
- [ ] Use OWASP email validation rule (client side).
- [ ] Use OWASP email validation rule

[2018-11-28 01:56] mmurthydol opened #850 "Clicking on ShowPassword must show/hide both passwords"
Do not create another ShowPassword link (contrary to what you might have heard from me).

Please feel free to assign between yourselves based on workload. Thanks,

## Acceptance Criteria

#### Functionality

[2018-11-28 02:33] mmurthydol opened #851 "Help email address must be consistent across app"
- [x] Ensure that all occurrences of 14c-help@dol.gov, 14c-admin@dol.gov are replaced by WHD.14cOnlineApplication.Help@dol.gov

![image](https://user-images.githubusercontent.com/25183303/49127799-c93c7980-f296-11e8-9a2d-90874fb132cc.png)

[2018-11-28 02:44] mmurthydol opened #852 "Your Account Page Defects"
- [x] Missing an h2 section at top of the page (similar to the updated Help page). Do not need an "hr" element after.
 &lt;legend&gt; &lt;h2&gt; Your Account &lt;/h2&gt;&lt;/legend&gt;
- [x] "Your Account" Page should not be accessed by user when not logged in (like all the other pages in the App).

[2018-11-28 02:52] mmurthydol opened #853 "Reset Password Page doesn't compare passwords entered for equality"
- [ ] When you try to change your password and the Confirm Password field value doesn’t match the New Password field value, there is no validation. The App seems to accept the Password entered in the "Password" field!!!!
Please use code snippet from User Registration Page which seems to work correctly.

- [ ] The error messages isn’t helpful in this particular error condition. Change the error mes

[2018-11-28 02:57] mmurthydol opened #854 "Register An Employer page: Help Link doesn't work for logged in user."
This might potentially be a tricky story. Work on other stories before scoping this one out.

When you’re logged in but have not completed the “Register An Employer” page, you can’t go to the Help page (https://section14c.dol.gov/#!/help). When you click on Help, the page loads and then re-directs back to the Register An Employer page.

![image](https://user-images.githubusercontent.com/25183303/4

[2018-11-28 03:10] mmurthydol opened #855 "Employer Registration Page Certification Number text box is not wide enough"
In Microsoft Edge (Windows 10 / ver. 38.14393.2068.0), the full entered establishment certificate number can’t be viewed while you are entering the number because the field is not wide enough due to that “X” that is used to clear the field.

- [x] Please make the textbox field wide enough to allow for problem in Microsoft Edge.
- [x] Test what happens in Chrome F12 using different browser/device t

[2018-11-28 03:16] mmurthydol opened #856 "Forgot Password Page defects"
- [x] The page content is indented on this page, unlike the others.
![image](https://user-images.githubusercontent.com/25183303/49126454-a22f7900-f291-11e8-83b7-e4225cd11ff1.png)

- [x] This error message doesn't seem right if you don't enter an email address:
An error occurred while connecting to the server. Please try again later if the error persists.
Change the error message on client side val

[2018-11-28 03:48] mmurthydol opened #857 "Data table grid displays "nullN/A" instead of blank"
WORK SITES AND EMPLOYEES
https://section14c.dol.gov/#!/section/work-sites

After entering a Work Site, the Number of employees is listed as “nullN/A”.

- [ ] Please display blank instead.

![image](https://user-images.githubusercontent.com/25183303/49127764-ab6f1480-f296-11e8-805d-a4372a323b2f.png)

[2018-11-28 04:00] mmurthydol opened #858 "Submit page back button must be hidden after successful submission"
- [x] back button must be hidden after successful submission.

[2018-11-28 04:20] mmurthydol opened #859 "Disable 2FA for non-admin users"
As things stand 2FA is needed only the first time around after login and for password reset/change pwd for non-admin users.

This is a config setting to disable this feature.
Prabhakar discuss with me please before we turn this off.

[2018-11-28 19:11] NathayaMDOL commented on #848
@binwang89 , @EStriegel  This issue has been completed!

[2018-11-28 19:16] NathayaMDOL commented on #850
@binwang89 , @EStriegel This issue has been completed!

The changes are applied to pages below
•        Manage Users page (Reset Password)
•        User Registration/Create an Account page
•        Reset Password page
•        Change Password page
•        Reactivate Account page

![image](https://user-images.githubusercontent.com/40499717/49179606-a0f95d00-f320-11e8-9d61-373c41a3f15b.png)

[2018-11-28 19:16] NathayaMDOL commented on #851
@binwang89 , @EStriegel This issue has been completed!

![image](https://user-images.githubusercontent.com/40499717/49179020-5cb98d00-f31f-11e8-9502-2dedf835758a.png)

[2018-11-28 20:12] binwang89 commented on #848
@NathayaMDOL @EStriegel I tested it, but it does not working.

[2018-11-28 20:17] binwang89 commented on #848
@NathayaMDOL @EStriegel it works now. Thanks

[2018-11-28 20:20] binwang89 commented on #851
@NathayaMDOL @EStriegel it looks fine now
![image](https://user-images.githubusercontent.com/25330625/49179808-1cf3a500-f321-11e8-9365-739e7f007e9e.png)

[2018-11-28 20:21] binwang89 commented on #851
![image](https://user-images.githubusercontent.com/25330625/49179864-3ac10a00-f321-11e8-94be-222585062e7e.png)

[2018-11-28 20:24] EStriegel commented on #848
@NathayaMDOL @binwang89 Confirmed.  Issued closed.

[2018-11-28 20:24] #848 closed, assigned to NathayaMDOL

[2018-11-28 20:55] binwang89 commented on #850
@NathayaMDOL @EStriegel looks good
![image](https://user-images.githubusercontent.com/25330625/49181317-0b140100-f325-11e8-8c8b-b3254fa101e1.png)
![image](https://user-images.githubusercontent.com/25330625/49181383-3dbdf980-f325-11e8-95e4-c989f2a87778.png)

![image](https://user-images.githubusercontent.com/25330625/49181587-c472d680-f325-11e8-87da-adc53fa8a600.png)

[2018-11-28 22:45] EStriegel commented on #850
Confirmed and closed.

[2018-11-28 22:45] #850 closed, assigned to PrabhakarThummalaDOL, NathayaMDOL

[2018-11-28 22:46] EStriegel commented on #851
@NathayaMDOL Can you confirm that the correct email address shows when we confirm an account has been created?  I unfortunately have run out of email addresses to check.  :)

[2018-11-28 22:48] mmurthydol opened #860 "Implement all the OPA Text Edits"
Liz, please let me/us know which edits are missing/off. Thanks!

[2018-11-28 23:15] NathayaMDOL commented on #851
@EStriegel Confirm! All help email address has been replaced with the correct one.
Ref: #834

[2018-11-28 23:26] EStriegel commented on #851
Thanks! Confirmed and Closed.

[2018-11-28 23:26] #851 closed, assigned to NathayaMDOL

[2018-11-29 00:33] NathayaMDOL commented on #855
Completed

[2018-11-29 00:34] NathayaMDOL commented on #857
Completed

[2018-11-29 00:35] NathayaMDOL commented on #858
Completed

[2018-11-29 00:49] PrabhakarThummalaDOL commented on #853
The 'new password' and 'confirm password' functionality to be review all the following scenarios:
1. User Registration
2. Change Password (Your Account)
3. Forgot/Reset Password
4. Change Password (from Admin page)
5. Reactivate a User.

[2018-11-29 15:27] binwang89 commented on #855
@NathayaMDOL @EStriegel I tested in DEV environment. It looks good now.  Please see below screenshot.
![image](https://user-images.githubusercontent.com/25330625/49232114-55e35680-f3c1-11e8-9a55-98f083e579ac.png)

[2018-11-29 15:28] binwang89 commented on #855
move to closed

[2018-11-29 15:28] #855 closed, assigned to NathayaMDOL

[2018-11-29 15:33] binwang89 commented on #857
@NathayaMDOL @EStriegel tested it and it looks good, please see below screenshot. I will move it to closed.
![image](https://user-images.githubusercontent.com/25330625/49232559-300a8180-f3c2-11e8-93e8-601ca495cf56.png)
![image](https://user-images.githubusercontent.com/25330625/49232934-e706fd00-f3c2-11e8-800a-087e94de6d1e.png)

[2018-11-29 15:33] #857 closed, assigned to NathayaMDOL

[2018-11-29 15:45] binwang89 commented on #858
@NathayaMDOL @EStriegel tested it, it failed, I still see the back button.
![image](https://user-images.githubusercontent.com/25330625/49233349-d5722500-f3c3-11e8-8567-0f55093963a5.png)

[2018-11-29 15:54] NathayaMDOL commented on #858
I just tested it on Dev. It works fine on my end. @binwang89 Please make sure you test on DEV site!

![2 successful submitted application](https://user-images.githubusercontent.com/40499717/49233981-26cee400-f3c5-11e8-8742-385904fc938a.png)

[2018-11-29 16:17] EStriegel commented on #860
@mmurthydol Edits still needed: (I don't know what I did to make the formatting so wonky)
----
YOUR ACCOUNT PAGE
https://section14cdev.dol.gov/#!/youraccount

Page should have an <h2> with the text of “Your Account”

----
EMPLOYER SECTION
https://section14c.dol.gov/#!/section/employer

Update the validation error messages for the Zip Code field for physical address and parent organization address

[2018-11-29 16:19] EStriegel commented on #860
Unable to confirm edits on the following pages because I am out of email addresses to create a new account:
-----
AFTER CLICKING THE ACCOUNT CONFIRMATION LINK

Can we make the following copy edits?
From:
Account Confirmed!
Thank you for confirming your account. You may now log in .
To:
Account Confirmed!
Thank you for confirming your account. You may now log in.
-----
REGISTER AN EMPLOYER PAGE
htt

[2018-11-29 17:09] EStriegel commented on #858
Confirmed in Chrome.  @binwang89 Can you confirm in IE?

[2018-11-29 17:39] EStriegel commented on #853
@PrabhakarThummalaDOL

Please put the new error message in the red box (and delete "An error occurred while resetting your password, Please try again later if the error persists).  We do not need the smaller error message under password.

![image](https://user-images.githubusercontent.com/19496579/49240641-aa8fcd00-f3d3-11e8-8368-e5290a327b44.png)

[2018-11-29 17:43] EStriegel commented on #853
@PrabhakarThummalaDOL

Tested the Your Account page.  Only edit would be to remove the smaller red exclamation point.

![image](https://user-images.githubusercontent.com/19496579/49240893-55a08680-f3d4-11e8-984b-69527a126b6e.png)

[2018-11-29 17:46] EStriegel commented on #853
@PrabhakarThummalaDOL User Registration looks good.

@mmurthydol @binwang89 Can you test the below change password occurrences?  Not critical for launch as they are internal.
Change Password (from Admin page)
Reactivate a User.

[2018-11-29 17:52] PrabhakarThummalaDOL commented on #849
Fixed.
Now the User Registration Email is validated same as Application Contact Email.

[2018-11-29 17:53] PrabhakarThummalaDOL commented on #859
Completed.

[2018-11-29 18:11] binwang89 commented on #858
@EStriegel @NathayaMDOL confirmed in IE. it looks good
![image](https://user-images.githubusercontent.com/25330625/49242214-3a377a80-f3d8-11e8-99b8-d9106ea38190.png)

[2018-11-29 18:11] #858 closed, assigned to NathayaMDOL

[2018-11-29 18:11] EStriegel commented on #860
@NathayaMDOL Please make the following text edits:

1. Employer Section **CONFIRMED**
- Update the validation messages for the zip code fields (physical address and parent organization) so that Zip Code is capitalized.  Pleas ensure this edit is consistent throughout the application.

2.  Review & Submit Page **CONFIRMED**
- Within the Public Burden Statement (bottom of page), please remove the co

[2018-11-29 18:21] binwang89 commented on #853
@EStriegel @PrabhakarThummalaDOL the small error message above the password has been removed.
however, the smaller red exclamation point is still there.
![image](https://user-images.githubusercontent.com/25330625/49242767-90f18400-f3d9-11e8-9912-e56f608f4b14.png)

![image](https://user-images.githubusercontent.com/25330625/49242808-aebee900-f3d9-11e8-8326-feeb81d6063b.png)

[2018-11-29 18:24] binwang89 commented on #853
@EStriegel @PrabhakarThummalaDOL  tested it in user registration and where should we show the error message ?  the smaller error message under password ?
![image](https://user-images.githubusercontent.com/25330625/49242944-14ab7080-f3da-11e8-9a34-614763359172.png)

[2018-11-29 18:31] binwang89 commented on #853
@PrabhakarThummalaDOL @EStriegel tested in Change Password (from Admin page), see below for screenshot
![image](https://user-images.githubusercontent.com/25330625/49247548-8f2dbd80-f3e5-11e8-9e15-b8a38a374a81.png)
![image](https://user-images.githubusercontent.com/25330625/49247562-981e8f00-f3e5-11e8-8922-c29eacfcfdf3.png)

[2018-11-29 19:27] binwang89 commented on #853
@EStriegel @PrabhakarThummalaDOL tested it for Reactive account, please see the screenshot below

![image](https://user-images.githubusercontent.com/25330625/49246429-e67e5e80-f3e2-11e8-8d93-a418e7fcef5b.png)

[2018-11-29 19:41] binwang89 commented on #853
@PrabhakarThummalaDOL @EStriegel tested in  Forgot/Reset Password, please see the result

![image](https://user-images.githubusercontent.com/25330625/49247221-bfc12780-f3e4-11e8-93f7-1a63500fcefb.png)

[2018-11-29 19:57] NathayaMDOL commented on #853
Completed!

[2018-11-29 21:21] EStriegel commented on #852
@mmurthydol @PrabhakarThummalaDOL @binwang89 @NathayaMDOL

Seeing an extra change password section.  See screenshot.

![image](https://user-images.githubusercontent.com/19496579/49252561-59430600-f3f2-11e8-837b-812a9fb0c8b2.png)

[2018-11-29 21:28] EStriegel commented on #860
@NathayaMDOL @mmurthydol Have reviewed all text edits (see confirmation in comment above).

One remaining text edit - For the password reset email, the subject line is still, "Reset Password".  Please change the subject line to, "Reset Password: U.S. Department of Labor's Section 14(c) Online Certificate Application"

[2018-11-29 21:51] binwang89 commented on #853
@mmurthydol @PrabhakarThummalaDOL @NathayaMDOL  retested the Reactivate a User,  i did not get the email to reset the password last time.

[2018-11-29 22:01] binwang89 commented on #853
@mmurthydol @PrabhakarThummalaDOL @NathayaMDOL done on testing, i uploaded the latest screenshots for each test case.
[#853.docx](https://github.com/18F/dol-whd-14c/files/2631042/853.docx)

[2018-11-29 22:07] binwang89 commented on #849
@PrabhakarThummalaDOL @mmurthydol see the screenshot from testing
![image](https://user-images.githubusercontent.com/25330625/49254992-c063b900-f3f8-11e8-88fb-2c64a6143a77.png)

after i corrected the email address
![image](https://user-images.githubusercontent.com/25330625/49255165-2f411200-f3f9-11e8-8d9f-71e1c9efd6b8.png)

[2018-11-30 01:18] binwang89 commented on #853
@NathayaMDOL @PrabhakarThummalaDOL @mmurthydol Re-tested, it looks good now.

[2018-11-30 01:18] #853 closed, assigned to PrabhakarThummalaDOL, NathayaMDOL

[2018-11-30 03:33] mmurthydol opened #861 "Bug: Employer Registration EIN "i" tool tip is not working correctly"
related to story #835. Thanks to Michelle for finding this defect.

@EStriegel please rate severity of this defect: (Critical, Major, Minor).

## Bug Description
in Employer Registration page:
1)	“i” icon is missing.
2)	The tooltip for EIN shows up as soon as the page loads.
3)	Unrelated to the reported problem, please remove the “hyperlink” for the phone number to get around the weird focus probl

[2018-11-30 16:03] NathayaMDOL commented on #861
This issue is not a defect regarding the requirement below.
1)     Please add this under EIN in the Employer Registration Page.
If you do not have an EIN, do not enter your social security number.  Please contact the Certification Team at (312) 596 - 7195 before creating an account.
2)     In the employer tab next to EIN please add an “i” with the same verbiage as above.
3)     Approval screenshot

[2018-11-30 16:08] binwang89 commented on #861
@NathayaMDOL @mmurthydol i will close this item.

[2018-11-30 16:08] #861 closed, assigned to EStriegel, NathayaMDOL

[2018-11-30 16:46] NathayaMDOL commented on #845
Closed! All changes from OPA have been separated in each issue story#.

[2018-11-30 16:47] #845 closed, assigned to PrabhakarThummalaDOL, NathayaMDOL

[2018-11-30 16:49] #115 closed

[2018-11-30 17:14] NathayaMDOL opened #862 "508 Scan: CSS-off issues"
The attached file is the 508-scan that still have CSS off issues need to check (#6, #7)

[https://app.zenhub.com/files/68946896/aec4ab0e-1a02-40e6-948c-d37e9b4b80c7/download](https://app.zenhub.com/files/68946896/aec4ab0e-1a02-40e6-948c-d37e9b4b80c7/download)

[2018-11-30 17:14] NathayaMDOL commented on #862
Ref: #804

[2018-11-30 18:47] PrabhakarThummalaDOL opened #863 "Update web.config and parameters.xml"
Update web.config and parameters.xml

[2018-12-03 17:14] NathayaMDOL commented on #847
Completed.
The header has been updated with WHD styling and WHD icon in a grey box.
![image](https://user-images.githubusercontent.com/40499717/49389683-ea68f400-f6f4-11e8-8ccf-424a9333fc25.png)

The footer has been updated to looks and behaves exactly like the DOL footer. Screenshot below.
![image](https://user-images.githubusercontent.com/40499717/49389550-9b22c380-f6f4-11e8-8d95-a7785e540c9f.pn

[2018-12-03 18:58] mmurthydol opened #864 "Bug: Employer Registration Page: Help link is not usable."
When you’re logged in but have not completed the “Register An Employer” page, you can’t go to the Help page (https://section14c.dol.gov/#!/help). When you click on Help, the page loads and then re-directs back to the Register An Employer page.

![image](https://user-images.githubusercontent.com/25183303/49394982-4175c580-f703-11e8-9350-d7178ed7c1da.png)

## Acceptance Criteria

- [x] Help link mus

[2018-12-03 19:05] mmurthydol opened #865 "Bug: Certificate Number "Character" must be converted to upper case."
Certificate number's letter isn't accepted if user enters valid lower case letter. Please change the case to upper,

![image](https://user-images.githubusercontent.com/25183303/49395315-222b6800-f704-11e8-9d52-4d64e4fa900e.png)

## Acceptance Criteria
- [x] As indicated above.

[2018-12-03 19:10] mmurthydol opened #866 "Bug: Forgot Password Email text field default verbiage is incorrect."
![image](https://user-images.githubusercontent.com/25183303/49395512-b39ada00-f704-11e8-917c-b37178dd2343.png)

Usually, you don’t use both form labels and placeholders with the same text.
![image](https://user-images.githubusercontent.com/25183303/49395534-c6adaa00-f704-11e8-907b-e5eb74212441.png)

Please use text that is standardized for all text fields. (please ask Liz/Madhu for input).
Should

[2018-12-03 19:47] NathayaMDOL opened #867 "Update: Title text + Favicon (OPA)"
- [x] For the title tag text <'title'>, can we change the text to something like this?
*Page Name* - Section 14(c) Online Certificate Application | U.S. Department of Labor

- [x] Can we add the attached "favicon.ico" file to the root directory of the site, so that it would be accessible at the following URL (that way, we don't need to add anything to the code)? If we can't put the file at that lo

[2018-12-03 20:02] NathayaMDOL commented on #867
Completed!
The screenshot below is an example of title updates.
![image](https://user-images.githubusercontent.com/40499717/49398342-fdd38980-f70b-11e8-8bf8-79d263c21398.png)

Below is a screenshot of favicon
![image](https://user-images.githubusercontent.com/40499717/49473276-9981fa00-f7df-11e8-9e14-d8e763fee52d.png)

[2018-12-03 22:29] binwang89 opened #868 "Bug: Account locked language"
Bug Description:
        Change subject line to, “Account Locked:  U.S. Department of Labor's Section 14(c) Online Certificate Application”
        Change email body to, “Your account has been locked for 15 minutes due to multiple failed log in attempts.  Please wait 15 minutes before attempting to log in again.”
![image.png](https://images.zenhubusercontent.com/5887af0e51aa2c305772c053/8922505e

[2018-12-04 16:04] PrabhakarThummalaDOL opened #869 "Security: Encrypt Configuration (web.config) Information Using Protected Configuration"
Encrypt Configuration (web.config) Information Using Protected Configuration

[2018-12-04 16:07] PrabhakarThummalaDOL opened #870 "Application Submission: Save consolidated PDF file to file server"
When an Application is submitted
- [x] Encrypt the PDF file.
- [x] Save the PDF file to a folder on Server.
- [x] If there is any error when submitting the application send an alert email to the team.

System Admin should be:
- [x] Able to generate and email the PDF file to the employer, to the certification team.
- [x] If the file(s) doesn't already exists, then Admin should be able to generate t

[2018-12-04 16:09] PrabhakarThummalaDOL opened #871 "Bug: 'You are already logged in' is displayed even when the user is not logged in."
'You are already logged in' is displayed even when the user is not logged in. This happens even when the user is logging in (after a long time) for the first time on a day.

[2018-12-04 16:45] PrabhakarThummalaDOL commented on #868
Fixed.

[2018-12-04 19:54] PrabhakarThummalaDOL commented on #871
Fixed.

[2018-12-04 20:11] NathayaMDOL commented on #864
Fixed

[2018-12-04 20:12] NathayaMDOL commented on #865
Fixed

[2018-12-04 20:41] NathayaMDOL commented on #866
For this issue, most of the fields are blank (no placeholder). So I decided to go with blank and make it as a standard for the whole site (remove a placeholder). The screenshot below is an example.
@EStriegel let me know if this issue needs to apply with any text pattern in the future.

![image](https://user-images.githubusercontent.com/40499717/49471051-dea32d80-f7d9-11e8-9ccb-a251a6250cd8.png)

[2018-12-04 21:05] PrabhakarThummalaDOL commented on #871
@EStriegel
This is fixed.

[2018-12-04 21:06] PrabhakarThummalaDOL commented on #868
@EStriegel @binwang89
Fixed.

[2018-12-04 21:21] EStriegel commented on #866
@NathayaMDOL Sounds good.  Yes, let's keep this pattern in the future.

[2018-12-05 00:43] mmurthydol commented on #866
@NathayaMDOL : How many other places are there to change in the App? If there aren't many, let's go ahead and make the change. We can discuss during stand up if there are any questions. We will add this to the other patches that I am planning for production next Monday - which means we should be done with this on Thu + testing.

[2018-12-06 15:28] NathayaMDOL commented on #866
@mmurthydol, the fixes are already on dev. The changes are below.

1. Manage Users page: Reset password
2. Your Account page: Change password
3. Reactivate page
4. Forgot password/Reset password page

[2018-12-06 17:57] EStriegel commented on #864
Confirmed and closed.

[2018-12-06 17:57] #864 closed, assigned to EStriegel, PrabhakarThummalaDOL, NathayaMDOL

[2018-12-06 18:00] EStriegel commented on #865
@NathayaMDOL @binwang89

Confirmed that this works on Application Info tab within application.

However, having an issue on Registration page.  When you type the certificate number, the letter defaults to capitalized (correctly, as per this story), but if I type 12-34567-H, the H remains selected and the next number you try and type replaces the letter.  You have to type the letter, hit the right

[2018-12-06 18:03] EStriegel commented on #866
@NathayaMDOL @binwang89
Confirmed on application pages (your account page and forgot password).

Michelle, can you confirm on admin screens and close this story?

[2018-12-06 18:04] EStriegel commented on #871
@PrabhakarThummalaDOL @mmurthydol @binwang89

I haven't experienced this problem again, but not sure how to test.  Any thoughts, Madhu or Michelle?

[2018-12-06 18:07] EStriegel commented on #868
@PrabhakarThummalaDOL @binwang89

Confirmed message at log in attempt.

Please remove 'Sincerely' from the email message.

![image](https://user-images.githubusercontent.com/19496579/49602945-6b232c80-f94f-11e8-9062-1e1b5de001eb.png)

[2018-12-06 19:24] binwang89 commented on #866
@NathayaMDOL @EStriegel  tested in admin account for Manage user page:reset the password.

![image](https://user-images.githubusercontent.com/25330625/49605785-767e5400-f95f-11e8-81cb-be004dd2ec04.png)

[2018-12-06 20:27] PrabhakarThummalaDOL commented on #868
Fixed.
(removed 'sincerely')

[2018-12-06 23:16] NathayaMDOL opened #872 "Modified: Webpack for deployment the new files in the root directory"
There are 2 new files that need to add in the root web folder. So webpack.prod.config.js needs to modified.
- [x] Favicon.ico
- [x] keep-alive-status.html

[2018-12-07 15:10] binwang89 commented on #866
@NathayaMDOL @EStriegel Reactivate the account,  please see below screenshots

![image](https://user-images.githubusercontent.com/25330625/49607692-bf84d700-f964-11e8-8cd5-c919aecadce4.png)

![image](https://user-images.githubusercontent.com/25330625/49655285-417a0c00-fa08-11e8-988b-225e236712fb.png)

![image](https://user-images.githubusercontent.com/25330625/49655367-7d14d600-fa08-11e8-886d-4213

[2018-12-07 15:13] NathayaMDOL commented on #872
Completed.

[2018-12-07 15:31] #866 closed, assigned to EStriegel, NathayaMDOL

[2018-12-07 20:45] binwang89 commented on #868
@PrabhakarThummalaDOL @PrabhakarThummalaDOL @EStriegel  please see the screenshot below.
I still see the "sincerely" there.

![image](https://user-images.githubusercontent.com/25330625/49671793-004d2080-fa37-11e8-8f20-ca1005ef7dd9.png)

[2018-12-07 21:18] PrabhakarThummalaDOL commented on #868
The fix was updated to gitlab. Somehow its not updated by Jenkins.
(file: \App_Data\AccountLockedOutEmailTemplate.txt)

[2018-12-10 01:20] binwang89 commented on #871
@PrabhakarThummalaDOL @mmurthydol @EStriegel i got this issue before and i can't reproduce the same issue anymore.

[2018-12-11 15:18] NathayaMDOL commented on #865
The issue on Registration page above has been fixed.

[2018-12-11 15:57] PrabhakarThummalaDOL commented on #844
Completed.

[2018-12-11 15:57] #844 closed, assigned to PrabhakarThummalaDOL

[2018-12-11 20:16] NathayaMDOL commented on #506
Fixed!

[2018-12-11 20:23] NathayaMDOL opened #873 "Language Changes on Help Page"
Update language from
- your name and contact information,
to
- your name, the email address you created your account with and the best phone number to reach you,

[2018-12-11 20:32] NathayaMDOL commented on #873
completed!
![image](https://user-images.githubusercontent.com/40499717/49829711-1b809e80-fd5d-11e8-915a-28595f19ec26.png)

[2018-12-12 15:41] PrabhakarThummalaDOL opened #874 "Misc: Set full path in the web.config"
Set full path in the web.config

[2018-12-12 18:30] PrabhakarThummalaDOL opened #875 "Section14c JSON Column Mapping"
- [x] Prepare excel document for mapping WH226 and WH226A documents fields to the Section14c JSONs.
- [x] Prepare JSONs for Section14c Online different test scenarios.
Also,
- [ ] Fix the serialization problem (Self looping EmployerInfo) - Not needed now.

[2018-12-12 18:30] #874 closed, assigned to PrabhakarThummalaDOL

[2018-12-12 18:31] PrabhakarThummalaDOL commented on #874
Done.

[2018-12-12 18:58] PrabhakarThummalaDOL opened #876 "Implement OWASP Email validation rules"
https://www.owasp.org/index.php/OWASP_Validation_Regex_Repository
Email validation regex:
^[a-zA-Z0-9_+&-]+(?:.[a-zA-Z0-9_+&-]+)*@(?:[a-zA-Z0-9-]+.)+[a-zA-Z]{2,7}$]

Acceptance Criteria
- [ ] Use OWASP email validation rule (client side).
- [ ] Use OWASP email validation rule (server side).

[2018-12-12 19:00] NathayaMDOL commented on #854
duplicate to #864.

[2018-12-12 19:00] PrabhakarThummalaDOL commented on #849
Created a new story #876 for the uncompleted part of the story.

[2018-12-12 19:00] #849 closed, assigned to PrabhakarThummalaDOL

[2018-12-12 19:01] PrabhakarThummalaDOL commented on #863
Done.

[2018-12-12 19:01] #863 closed, assigned to PrabhakarThummalaDOL

[2018-12-12 19:05] PrabhakarThummalaDOL opened #877 "DevOps: Jenkins issues"
- [ ] AccountLockedOutEmailTemplate.txt is not updated on Jenkins build. (Refer #868)

[2018-12-12 19:06] PrabhakarThummalaDOL commented on #868
Closing the story.
Created #877.

[2018-12-12 19:06] #868 closed, assigned to PrabhakarThummalaDOL

[2018-12-12 19:07] PrabhakarThummalaDOL commented on #871
Closing the story.

[2018-12-12 19:07] #871 closed, assigned to EStriegel, PrabhakarThummalaDOL

[2018-12-12 19:10] #854 closed, assigned to PrabhakarThummalaDOL

[2018-12-12 19:12] NathayaMDOL commented on #852
fixed! This is already on Prod.

[2018-12-12 19:12] #852 closed, assigned to PrabhakarThummalaDOL

[2018-12-12 19:40] PrabhakarThummalaDOL commented on #860
Fixed.
(Updated parameters.xml)

[2018-12-12 19:40] #860 closed, assigned to EStriegel

[2018-12-12 21:30] NathayaMDOL commented on #856
fixed!
![image](https://user-images.githubusercontent.com/40499717/49899956-3a4d6680-fe2b-11e8-8971-1357ff9c0362.png)

[2018-12-13 22:06] NathayaMDOL opened #878 "Validation update: Total number of employees on work site tab on renewal application can be "0""
For Renewal Application:
Under the Add Work site tab, if a user enters "0" to the question “Total number of employees..” (bottom of the below screenshot1), the system should not show an error when no employees are added on the Add Employees tab as screenshot2.

*screenshot1*
![image.png](https://images.zenhubusercontent.com/5b2d31b202104679709f357e/9a9b441b-5a9c-44fd-a15d-8952a74b879e)

*screensho

[2018-12-13 22:32] PrabhakarThummalaDOL opened #879 "Bug: As an Applicant, user unable to view the Attachment after uploading it"
User unable to view the Attachment after upload.

[2018-12-14 17:41] NathayaMDOL commented on #878
Front-end has been fixed and pushed to Dev. Please check on back-end @PrabhakarThummalaDOL

[2018-12-14 17:49] PrabhakarThummalaDOL opened #880 "Validation update: API - Total number of employees on work site tab on renewal application can be "0""
Total number of employees on work site tab on renewal application can be "0"
- [x] Add server validation to accept number of employees for a work site be 0.
- [x] Remove existing validation Rule for the Number of Employees

[2018-12-14 17:50] NathayaMDOL opened #881 "Fix: Change Parent Trade Name field to an optional field"
On Employer tab --> Q: Does the Employer have a Parent Organization? Choose "yes"
Trade Name field should set to optional. Screenshot below

![image.png](https://images.zenhubusercontent.com/5b2d31b202104679709f357e/f8479794-d0a8-43bf-966a-d404fc4431c7)

[2018-12-14 18:12] NathayaMDOL commented on #881
@PrabhakarThummalaDOL front-end has been fixed and pushed to Dev.

[2018-12-14 18:34] PrabhakarThummalaDOL opened #882 "Section 14c: Browser BACK button should be disabled"
- [ ] Disable the BACK button of the browser for Section14c.
- [ ] Application 'Back' button should be available to the user till Application Submission.

[2018-12-14 18:37] PrabhakarThummalaDOL commented on #879
Fixed.

[2018-12-14 18:50] PrabhakarThummalaDOL commented on #880
Fixed.

[2018-12-14 18:53] PrabhakarThummalaDOL opened #883 "Fix: API - Change Parent Trade Name field to an optional field"
Set Parent Organization Trade Name value optional
- [x] Change the Validation Rule for the Parent Organization Trade Name

[2018-12-14 20:19] PrabhakarThummalaDOL commented on #883
Fixed.

[2018-12-14 20:24] PrabhakarThummalaDOL opened #884 "Bug: API - Total number of workers for SCA covered contracts should be more than zero"
When user responds with 'Yes' for the question 'Does this employer currently hold any contracts covered by the McNamara-O'Hara Service Contract Act (SCA)?' then 'What is the total number of current SCA-covered contracts under which workers with disabilities are employed and earning subminimum wages?' should be more than zero.
- [x] Implement the server side validation.

[2018-12-14 20:26] PrabhakarThummalaDOL opened #885 "Bug: UI - Total number of workers for SCA covered contracts should be more than zero"
When user responds with 'Yes' for the question 'Does this employer currently hold any contracts covered by the McNamara-O'Hara Service Contract Act (SCA)?' then 'What is the total number of current SCA-covered contracts under which workers with disabilities are employed and earning subminimum wages?' should be more than zero.

- [x] Implement the UI validation.

[2018-12-14 21:42] PrabhakarThummalaDOL commented on #884
Done.

[2018-12-17 14:44] NathayaMDOL commented on #885
fixed.

[2018-12-17 17:28] NathayaMDOL commented on #881
related #883

[2018-12-17 17:29] NathayaMDOL commented on #878
related #880

[2018-12-17 22:32] EStriegel commented on #879
Confirmed 12/17.

[2018-12-17 22:32] #879 closed, assigned to PrabhakarThummalaDOL

[2018-12-17 22:40] EStriegel commented on #878
Confirmed 12/17.

[2018-12-17 22:40] #878 closed, assigned to PrabhakarThummalaDOL, NathayaMDOL

[2018-12-17 22:40] EStriegel commented on #880
Confirmed 12/17.

[2018-12-17 22:40] #880 closed, assigned to PrabhakarThummalaDOL

[2018-12-17 22:49] #881 closed, assigned to PrabhakarThummalaDOL, NathayaMDOL

[2018-12-17 22:49] EStriegel commented on #881
Confirmed 12/17

[2018-12-17 22:49] EStriegel commented on #883
Confirmed 12/17

[2018-12-17 22:49] #883 closed, assigned to PrabhakarThummalaDOL

[2018-12-17 22:58] EStriegel commented on #885
Please update the error language to, "Please provide total number of current SCA-covered contracts under which workers with disabilities are employed and earning subminimum wages."

![image.png](https://images.zenhubusercontent.com/57e9239095e42b6c5ba972b8/143838f1-bf88-45bb-9b50-0bf98941a968)

[2018-12-17 23:44] NathayaMDOL commented on #885
fixed.
![image](https://user-images.githubusercontent.com/40499717/50122707-d6141380-022b-11e9-9acb-ca5750a2d5f8.png)

[2018-12-18 16:05] binwang89 opened #886 "14c notification to users that system is down for maintenance"
Create a redirect page for system down for maintenance.
for example, the link below show the WOW application redirect page for maintenance.

WOW : http://dolcontentdev.opadev.dol.gov/whd/wow/downtime.htm

Language for the header :
"Section 14(c) Online Certificate Application is undergoing system maintenance."

the text will be:
"The Section 14(c) Online Certificate Application is currently underg

[2018-12-19 16:20] PrabhakarThummalaDOL opened #887 "API - Refresh access token"
- [ ] Refresh access_token.

[2018-12-19 19:09] #887 closed, assigned to PrabhakarThummalaDOL

[2018-12-20 15:43] binwang89 commented on #867
looks good in staging. move to Done

[2018-12-20 15:56] binwang89 commented on #885
testing in Staging, it looks good, please see below screenshot, i will move it to done.

![image](https://user-images.githubusercontent.com/25330625/50295350-e30c4f00-0445-11e9-8c07-9f67bf7f9400.png)

[2018-12-20 15:57] binwang89 commented on #884
testing in staging, it looks good.

[2018-12-20 15:58] binwang89 commented on #847
testing in staging,

![image](https://user-images.githubusercontent.com/25330625/50295529-37afca00-0446-11e9-8f63-ace697a13ae7.png)

[2018-12-20 16:16] binwang89 commented on #856
testing in Staging,  when user did not enter the email address.  it looks good now
![image](https://user-images.githubusercontent.com/25330625/50296511-a9891300-0448-11e9-8e0b-0461501ac63d.png)

[2018-12-20 16:23] binwang89 commented on #506
looks fine in staging.
![image](https://user-images.githubusercontent.com/25330625/50296971-a93d4780-0449-11e9-8197-9531d9581d66.png)
![image](https://user-images.githubusercontent.com/25330625/50296996-b78b6380-0449-11e9-934f-3647483f3ac9.png)

[2018-12-20 16:25] binwang89 commented on #872
@NathayaMDOL please let me know how to test it

[2018-12-20 16:32] binwang89 commented on #859
@PrabhakarThummalaDOL @mmurthydol testing in Staging for regular user and got below screenshot after the login for non-admin user.  please check web config in staging.

![image](https://user-images.githubusercontent.com/25330625/50297459-d807ed80-044a-11e9-963a-a9acbf28b9f4.png)

[2018-12-20 16:49] binwang89 commented on #865
@EStriegel @NathayaMDOL testing the registration page at Staging, it looks good. please see below screenshot.

![image](https://user-images.githubusercontent.com/25330625/50298446-27e7b400-044d-11e9-87b3-12cef8f4ec4e.png)

[2018-12-20 16:52] binwang89 commented on #873
@EStriegel @NathayaMDOL tested in staging, it looks good
![image](https://user-images.githubusercontent.com/25330625/50298616-890f8780-044d-11e9-8721-93c4f5a0ec36.png)

[2018-12-20 22:38] NathayaMDOL commented on #872
Hi @binwang89 ,
1. Please check the icon on the browser tab if it's showing. See screenshot below.
![image](https://user-images.githubusercontent.com/40499717/50314683-cc81ea00-047d-11e9-9e26-373fe0474883.png)

2. Please check this URL https://section14cdev.dol.gov/keep-alive-status.html , if it works

Thanks,
Nathaya

[2018-12-20 23:14] binwang89 commented on #872
@NathayaMDOL i tested in staging, it looks good, please see below screenshot.
![image](https://user-images.githubusercontent.com/25330625/50316044-0bff0500-0483-11e9-9e12-6ae354a68e92.png)

[2018-12-27 20:03] NathayaMDOL opened #888 "Expand field number from 2 decimal points to 4"
On Wage Data Section --> Expand field number below from 2 decimal points to 4

[2018-12-27 20:07] NathayaMDOL commented on #888
@EStriegel, I found other fields in wage section that can enter only 2 decimal points. Let me know if these need to update also

![image](https://user-images.githubusercontent.com/40499717/50493038-06587080-09e9-11e9-95fb-47e85c6bbb06.png)

[2018-12-27 20:29] EStriegel commented on #888
@NathayaMDOL Only the "Piece Rate Paid to Workers" field should be expanded to 4 decimal places.

[2019-01-04 21:40] NathayaMDOL commented on #888
Fixed!

![image](https://user-images.githubusercontent.com/40499717/50711877-9330a900-103d-11e9-9b69-57ab595084e6.png)

[2019-01-04 21:46] NathayaMDOL opened #889 "Validation: no decimal place on numjob field in add employee tab"
The highlighted field below should only be a full number.
![image](https://user-images.githubusercontent.com/40499717/50712579-020f0180-1040-11e9-9184-01c210a0627b.png)

[2019-01-07 15:00] NathayaMDOL commented on #889
fixed.

[2019-01-08 17:22] PrabhakarThummalaDOL opened #890 "Bug: Duplicate rows in APPLICATION_SAVES table"
Application is creating a duplicate row in the APPLICATION_SAVES table with ID and APPLICATIONID column values 'undefined'.

- [ ] Recreate the problem
- [ ] Fix the problem

[2019-01-08 18:09] PrabhakarThummalaDOL opened #891 "Bug: Unique Address."
Application should maintain unique address (when all the address column values are same).
- [ ] Add a unique constraint in the ADDRESSES table.
- [ ] API : Before saving the Address data, check if the address already exists. If exists, use the existing address id (and do not create duplicate address record).

[2019-01-08 18:14] PrabhakarThummalaDOL opened #892 "Bug: UI - Save Worksite/Employee information"
- [ ] For Renewal application: When user enters worksite/employee information, application should save the data automatically along with other data. (Use the existing AutoSave service in the front-end code)

[2019-01-11 21:45] PrabhakarThummalaDOL opened #893 "Bug: Application Submission Email to Certification Team should not contain EIN masked"
- [x] Application submission email body (to Certification Team) shows the Employer EIN masked (xx-xxx-9999). It should show the unmasked value.

[2019-01-11 22:26] NathayaMDOL opened #894 "Bug: On initial application - there is an issue when adding work-site more than one"
![image.png](https://images.zenhubusercontent.com/5b2d31b202104679709f357e/bf79bf02-06a3-4e5e-bb09-55b600e72ad9)

[2019-01-11 22:28] NathayaMDOL commented on #894
fixed!

[2019-01-15 21:39] NathayaMDOL commented on #888
@EStriegel , the fix is on Dev. Please review

[2019-01-15 21:40] NathayaMDOL commented on #889
@EStriegel This fix is on Dev, please review.

[2019-01-15 21:47] NathayaMDOL commented on #894
@EStriegel , this fix is on Dev, please review.

[2019-01-15 21:55] PrabhakarThummalaDOL commented on #893
@binwang89 @EStriegel
Fixed.

[2019-01-16 17:31] PrabhakarThummalaDOL opened #895 "Bug: In the Application PDF, attachment filenames are missing"
In the PDF application submission:
- [x] Attachment Filenames are not populated

[2019-01-16 17:34] PrabhakarThummalaDOL opened #896 "Bug: PDF Submission - Productivity measure is blank when piece rate selected"
In the PDF of a submission, the 226A grid column, “Productivity measure/rating for job described above”, is blank if the user selected “n/a – piece rate”.

[2019-01-16 17:39] PrabhakarThummalaDOL opened #897 "Enhancement: User should be able to enter names for the attachment files"
Application submission:
- [ ] When uploading a file, user should be able to enter a name for the attachment.

[2019-01-16 17:44] PrabhakarThummalaDOL opened #898 "Enhancement: API - Add new text to 'Add a Source Employer' section"
Wage Data Section, for both Hourly and Piece Rate, if answer to “Which method did the employer use to determine the prevailing wage for the job or contract identified above?” is “Prevailing Wage Survey”, under “Add a Source Employer” button:
- [ ]   Insert text, “Attach additional prevailing wage survey information, if needed.”
- [ ]   Insert document upload functionality
Upload not required, only

[2019-01-16 17:45] PrabhakarThummalaDOL opened #899 "Enhancement: UI - Add new text to 'Add a Source Employer' section"
Wage Data Section, for both Hourly and Piece Rate, if answer to “Which method did the employer use to determine the prevailing wage for the job or contract identified above?” is “Prevailing Wage Survey”, under “Add a Source Employer” button:
- [ ]   Insert text, “Attach additional prevailing wage survey information, if needed.”
- [ ]   Insert document upload functionality
Upload not required, only

[2019-01-16 17:51] PrabhakarThummalaDOL opened #900 "API - Application PDF: Spacing for 226 sections"
In the PDF of a submission:
- [ ] Extra spacing between sections of 226 (currently identified by line under text)
- [ ] Each 226A begins on a new page
- [ ] Grid rows of a 226A grid should not split between pages

[2019-01-23 16:16] PrabhakarThummalaDOL opened #901 "Enhancement: Ability to save a copy of the Application PDF on the server"
When applicant submits an application, a copy of the PDF should be saved to the server.

[2019-01-23 16:21] PrabhakarThummalaDOL opened #902 "Enhancement: System Admin - Ability to resend a copy of the PDF to the Employer and Certification Team"
System Administrator should be able to resend a copy of the submitted application (PDF) to the applicant (employer) and/or to the certification team.

[2019-02-01 20:14] PrabhakarThummalaDOL opened #903 "Application Submission Email to the Certification Team : Submitted date"
In the Certification Team Email body:
- [x] Show the date on which application has been submitted. Currently it is showing Signature date.

[2019-02-08 22:25] PrabhakarThummalaDOL opened #904 "Transfer from 18F-Github to DOL-Github"
Transfer from 18F-Github to DOL-Github

[2019-02-14 20:11] PrabhakarThummalaDOL opened #905 "UI - Application Submission: Save consolidated PDF file to file server"
Administrator should be able to send email with the PDF (of the submitted application) to the Employer and Certification Team.
In the 'Manage Users' page:
- [x] Add two new columns with buttons 'Resend PDF to Employer', 'Resend PDF to Certification Team'.
- [x] On clicking the above buttons call corresponding API methods as below (userId as input parameter):
'/api/application/ResendSubmittedApplic

[2019-02-25 20:52] PrabhakarThummalaDOL opened #906 "Bug: Wage Data (Piece Rate) Job Name is not displaying in the submitted application PDF"
- [ ] Wage Data (Piece Rate) Job Name is not displaying in the submitted application PDF.

[2019-02-25 22:34] NathayaMDOL1 opened #907 "Bug: Fix datatable worksite to be refresh instead of reload the application"
- [x] refresh worksite datatable

[2019-03-01 19:58] NathayaMDOL1 commented on #905
![image](https://user-images.githubusercontent.com/47575271/53662931-44b11c80-3c32-11e9-94f9-bb0bdcf17533.png)

[2019-03-01 20:11] NathayaMDOL1 commented on #907
fixed!

[2019-03-11 14:20] PrabhakarThummalaDOL opened #908 "Admin - API: Ability to resend user deactivation email, to reactivate a user."
System administrator should be able to:
- [x] Resend the deactivation email to a deactivated user.
- [x] Reactivate a deactivated user.

[2019-03-11 14:30] PrabhakarThummalaDOL opened #909 "Admin - UI : Ability to resend user deactivation email, to reactivate a user."
@NathayaMDOL1
System administrator should be able to :
- [x] Resend the deactivation email to a inactive user.
- [x] Reactivate an inactive user.

- [x] Add two new buttons on the edit/view page 1. "Resend Reactivation Email" - Url: "..api/Account/AccountAdmin/ResendUserReactivationEmail?userId={userId}"  2. "Reactivate Account" - Url: "api/Account/AccountAdmin/ReactivateAccount?userId={userId}"
-

[2019-03-11 14:33] NathayaMDOL1 commented on #909
Test

[2019-03-11 14:35] NathayaMDOL1 opened #910 "Bug: Fix datatable Warning: Requested unknown parameter"
- [x] Fix datatable Warning: Requested unknown parameter
Cause of undefining parameter at init program

[2019-03-11 14:41] NathayaMDOL1 opened #911 "Bug (index issue): refresh validation on datatable"
- [x] Fix Bug on  datatable  (index issue): refresh validation when deleting a row (fix on worksite, employees, wioa)
- [x] on worksite table: refresh   validation after the first review when the application has more than 1   worksites