[2017-10-11 19:28] ltsheu opened #294 "Wage Data Page is accessible"
**Two known issues on Wage Data:**

1) ~~The help buttons do not work in Piece Rate View. The "Show Help for All Items" link does not work. A separate bug has been opened for this issue. #387~~ THIS ISSUE RESOLVED WITH PR #404

2) ~~The Helpful Links slide in panel needs to match the new accessible slider that will be developed for Work Sites & Employees. The current Helpful Links slider will be r

[2017-10-11 19:30] ltsheu opened #295 "a11y Remediation -- Assurances Page"
Remediate accessibility issues in the Assurances page, according to acceptance criteria noted in #198

#### Tasks
- [x] Run pa11y scan
- [x] Check with keyboard navigation
- [x] Check with screen reader
- [x] Fill in a11y tracking data in /docs/a11y/DOL14c-Accessibility-Remediation.xlsx (Assurances tab)
- [x] Remediate a11y issues in code for Assurances page

## Acceptance Criteria

#### Functiona

[2017-10-11 19:32] ltsheu opened #296 "Employer Page is accessible"
Remediate accessibility issues in the Employer page, according to acceptance criteria noted in #198

#### Tasks
- [x] Run pa11y scan
- [x] Check with keyboard navigation
- [x] Check with screen reader
- [x] Fill in a11y tracking data in /docs/a11y/DOL14c-Accessibility-Remediation.xlsx (Employer tab)
- [x] Remediate a11y issues in code for Employer page

## Acceptance Criteria

#### Functionality

[2017-10-11 19:35] ltsheu opened #297 "Work Sites & Employees is accessible"
Remediate accessibility issues in the Work Sites & Employees page, according to acceptance criteria noted in #198

#### Tasks
- [x] Run pa11y scan
- [x] Check with keyboard navigation
- [x] Check with screen reader
- [x] Fill in a11y tracking data in /docs/a11y/DOL14c-Accessibility-Remediation.xlsx (Work Sites & Employees tab)
- [x] Remediate a11y issues in code for Work Sites & Employees page

##

[2017-10-11 19:37] ltsheu opened #298 "WIOA Page is accessible"
Remediate accessibility issues in the WIOA page, according to acceptance criteria noted in #198

#### Tasks
- [ ] Run pa11y scan
- [ ] Check with keyboard navigation
- [ ] Check with screen reader
- [ ] Fill in a11y tracking data in /docs/a11y/DOL14c-Accessibility-Remediation.xlsx (WIOA tab)
- [ ] Remediate a11y issues in code for WIOA page

## Acceptance Criteria

#### Functionality

No functiona

[2017-10-11 19:39] ltsheu opened #299 "Review Page is accessible"
Remediate accessibility issues in the Review page, according to acceptance criteria noted in #198

#### Tasks
- [x] Run pa11y scan
- [x] Check with keyboard navigation
- [x] Check with screen reader
- [x] Fill in a11y tracking data in /docs/a11y/DOL14c-Accessibility-Remediation.xlsx (Review tab)
- [x] Remediate a11y issues in code for Review page

## Acceptance Criteria

#### Functionality

No fun

[2017-10-12 16:21] EStriegel opened #300 "Add Instructions to Assurances Page"
[WH-226 eform instructions - Assurances.docx](https://github.com/18F/dol-whd-14c/files/1379940/WH-226.eform.instructions.-.Assurances.docx)

[2017-10-12 16:22] EStriegel opened #301 "Add Instructions to Application Info Page"
[WH-226 eform instructions - Application Info.docx](https://github.com/18F/dol-whd-14c/files/1379944/WH-226.eform.instructions.-.Application.Info.docx)

@ltsheu Should this be moved into Ready to Start or In Progress?

[2017-10-12 16:23] EStriegel opened #302 "Add instructions to Employer Info page"
[WH-226 eform instructions - Employer Info.docx](https://github.com/18F/dol-whd-14c/files/1379952/WH-226.eform.instructions.-.Employer.Info.docx)

[2017-10-12 16:24] EStriegel opened #303 "Add Instructions Wage Data Page"
[WH-226 eform instructions - Wage Data.docx](https://github.com/18F/dol-whd-14c/files/1379954/WH-226.eform.instructions.-.Wage.Data.docx)

[2017-10-12 16:25] EStriegel opened #304 "Add Instructions to Work Sites & Employees Page"
[WH-226 eform instructions - Work Sites & Employees.docx](https://github.com/18F/dol-whd-14c/files/1379957/WH-226.eform.instructions.-.Work.Sites.Employees.docx)

[2017-10-12 16:25] EStriegel opened #305 "Add Instructions to WIOA Page"
[WH-226 eform instructions - WIOA.docx](https://github.com/18F/dol-whd-14c/files/1379959/WH-226.eform.instructions.-.WIOA.docx)

[2017-10-12 16:26] ltsheu commented on #301
I will assign it to myself and move to In Progress. Thanks!

[2017-10-12 20:04] ltsheu opened #306 "Add aria-label attribute to top navigation items"
Notes from L. Sheu:

/DOL.WHD.Section14c.Web/src/modules/components/mainNavigationControl/mainNavigationControlTemplate.html

To meet accessibility criteria, we need the WIOA link in the top navigation to have an aria-label attribute to spell out "Workforce Innovation and Opportunity Act" for screen readers (currently the screen reader tries to read WIOA as "why-oh-ah").

- [x] Add **role="link"**

[2017-10-12 20:06] jmmcnj commented on #261
Can this one be closed, its 1 of 2 and the other one is already in progress, is this ok to be closed?

[2017-10-12 20:07] jmmcnj commented on #264
@davoodharun and @mmurthydol is this ok to be closed, the discussion has happened I believe, has the PR been merged yet?

[2017-10-12 20:08] jmmcnj commented on #276
@ltsheu Sorry I think this one was set to be 1 of 2, will review the other one, can we close this one too though?

[2017-10-12 20:10] jmmcnj commented on #208
@mmurthydol is this one ok to be closed out?

[2017-10-12 22:03] #264 closed

[2017-10-12 22:05] mmurthydol commented on #208
@jmmcnj This needs to be reviewed in one of the AIS envrionments along with @davoodharun @binwang89

[2017-10-13 02:06] ltsheu opened #307 "Fix the functionality of 'Skip to Main Content' link"
Notes from L. Sheu:

**Branch:** lsheu-a11y-skip-link

In this file:
DOL.WHD.Section14c.Web/src/v4/dol-header.component.ts

I have added a new "Skip to Main Content" link just above the DOL header:

`<a href="#mainContent" class="dol-skip-to-main">skip to main content</a>`

The link appears on the page when it receives focus (as from keyboard tabbing). See Note Below.

**Issue:** This is an anchor

[2017-10-13 03:19] mgwalker commented on #261
@jmmcnj Can you link the other one here?  It seems reasonable to me that if two issues capture the same thing, we should close one to keep the backlog cleaner.

[2017-10-13 03:23] jmmcnj commented on #261
@mgwalker yeah I think I screwed this one up, I confused this with the other accessibility story for the App info page.  This is just the baseline and report which I think is complete.  @binwang89 am I correct, can this be closed?

[2017-10-13 13:25] mgwalker commented on #286
@davoodharun @jmmcnj Can one of you add some detail to the description on this chore?  It's not clear what it's for just from the title, and I'm a little concerned about what happens at sprint review in a couple of weeks when we get sidetracked for a couple minutes remembering what it includes.

[2017-10-13 13:29] binwang89 commented on #261
@mgwalker I reviewed this spreadsheet yesterday,  based on @ltsheu , she is still working on it.  I am not sure if the spreadsheet completed included in this user story or not.

[2017-10-13 13:30] ltsheu commented on #276
@davoodharun @jmmcnj  I'm not sure why this was moved back to In Progress? I think this one can be closed since we are continuing work in #287.

[2017-10-13 13:31] ltsheu commented on #261
@mgwalker @binwang89 This user story was for creating the spreadsheet and adding it to the repository. That work is complete, so this story may be closed. Ongoing updates to the spreadsheet will be captured in the remediation user stories.

[2017-10-13 13:33] #261 closed

[2017-10-16 19:57] jmmcnj opened #309 "As an operator, I would like the logging api to provide login ID back to client side"
add login ID and return to client side, in current logging api

## Acceptance Criteria
- [x] login ID is returned to the client
- [x] unit test covering login ID back to client side

#### Functionality

- [x] login ID is returned to the client

[2017-10-17 15:22] ltsheu commented on #301
These text edits completed with PR #310. Moving this to Review/QA.

[2017-10-17 15:35] ltsheu commented on #282
@davoodharun The "Show Help for All Items" link needs the aria-expanded attribute. (Starting at false and toggling true/false as the help text blocks are turned on and off.)

[2017-10-18 17:52] mmurthydol commented on #207
@binwang89 Michelle, can you try this one in our WHD Dev environment please? Looks like this works fine on the AIS server. Thanks

[2017-10-18 18:44] binwang89 commented on #207
@mmurthydol just tested on DOL DEV environment,  the logout is not working.

[2017-10-18 20:25] jmmcnj commented on #285
Tested email notifications in both QA and Integration environments and Sendgrid is correctly sending emails, will close out

[2017-10-18 20:25] #285 closed

[2017-10-19 15:27] ltsheu commented on #282
@davoodharun As we discussed, Shannon and I decided that we do not need to add the aria-expanded attribute for "Show Help for All Items". We will be hiding the "Show Help for All Items" link from screen readers. I am moving this chore to Review/QA.

[2017-10-19 17:19] phirefly commented on #197
Removed ^^ tag because we're linking to the requirements in #290

[2017-10-19 17:23] phirefly commented on #81
Per discussion with @EStriegel, please move forward with this content while we are getting final approval.

[2017-10-19 17:29] phirefly commented on #76
@mmurthydol
1. Application status: Filled out information filled in while timed out should be saved. @simplyshang can verify if there's already an auto save in place -- which would support this.
2. Popup: No preference, but can we refer to existing applications in government / best practicies? @simplyshang may have a recommendation.

[2017-10-19 17:32] phirefly commented on #79
@mmurthydol can we remove the `WHD Provide requirements` from here? Sounds like this is flushed out -- capture activities of the administrator. Let me know what you think.

[2017-10-19 17:35] phirefly commented on #284
User testing in progress week of 10/23. Requirements will be available for Sprint beginning 11/8.

[2017-10-19 18:29] mmurthydol opened #317 "List all required links in DOL standard footer"
Defect related to links not populated in #208

## Acceptance Criteria

- [x] All footer links must be displayed as seen in https://www.savingmatters.dol.gov/
- [x] Footer display must be identical to what is seen on the link above (attachment provided for convenience)
- [ ] It was discovered that the current 14c header and footer did not use the templates provided by DOL. **Another user story will

[2017-10-19 20:08] binwang89 commented on #208
All footer links must be displayed as seen in https://www.savingmatters.dol.gov/
 Footer display must be identical to what is seen on the link above (attachment provided for convenience).
![image](https://user-images.githubusercontent.com/25330625/31791769-b65da016-b4e7-11e7-9d61-3bb7e61984c1.png)

[2017-10-19 20:17] phirefly opened #318 "WHD Business: Provide attributes needed for PDF output"
List all of the attributes that need to be put into the PDF. Put into the word doc. Display a sample of the proposed product.

[2017-10-19 20:48] binwang89 commented on #276
@ltsheu tested this user story at azure INT site and found the  Repetitive Content and Links is not working.
i think there is user story #307 has opened for this issue.

[2017-10-19 21:23] davoodharun opened #319 "IE 11 Compatibility"
Object.assign is not compatible with IE 11

[2017-10-19 21:24] #319 closed

[2017-10-20 00:29] mmurthydol commented on #174
@EStriegel This story needs to be split. (1) & (2) is for AIS.
Rest is for WHD. WHD can discuss the other requirements internally. For now files will be kept forever till IT hears otherwise. TODO question: can employers view their files/attachments after submission? I believe the answer is yes. What they view will be only their initial submission.

[2017-10-20 02:19] mmurthydol commented on #79
@phirefly This one needs specification from security; on IT side; no reqs needed from business;

[2017-10-20 02:22] mmurthydol commented on #76
@phirefly More of a DIT related reqs needed. IT can provide recommendation based on existing approved applications + shannon thoughts. No UX  research needed of course. (1) above - need to discuss/consider implications.

[2017-10-20 02:24] mmurthydol commented on #81
@phirefly I would prefer to leave some indication that requirements are still needed though story is unblocked. We might think some other label to this effect...

[2017-10-20 02:52] mgwalker commented on #76
I'll push back on the comment that "No UX research needed."  Even if there's a DIT requirement, any time we're impacting the user experience and thus the usability of the app, I think we should consider user research if the requirement is not *obviously* in line with accepted best practices.  If the requirement is detrimental to usability, we should then try to push up the policy chain and see if

[2017-10-20 22:31] mmurthydol commented on #76
@mgwalker Greg, Like everything else in the project even User Research will be prioritized :)

[2017-10-20 23:57] ltsheu commented on #317
Footer updated and merged with Pull Request #321. Moving to Review/QA.

[2017-10-20 23:58] ltsheu commented on #208
Footer updated with Pull Request #321. Moving this back to Review/QA.

[2017-10-23 14:05] mgwalker opened #327 "C#: Use exception builders instead of functions that just throw"
The `BaseApiController` class provides a set of methods that create and throw exceptions.  Gathering all of the exception creations into one place instead of having the same code scattered around is a great idea.  However, there's one gotcha - where those methods are used, the flow control is not obvious.  For example:

[code]

A develop who is not familiar with the `NotFound` method might thing t

[2017-10-23 15:41] #276 closed

[2017-10-23 15:42] #295 closed

[2017-10-23 17:57] mgwalker opened #330 "Web: Re-enable test coverage metrics"
#325 updated the webpack config to fix tests, which had the side effect of disabling code coverage metrics.  The coverage instrumentation was interfering with the lint output, causing a lot of false positives.  We should find a different way to gather coverage metrics so we can have them, but without causing the lint to show errors.

## Acceptance Criteria

- [ ] no lint errors
- [ ] all tests pas

[2017-10-23 20:31] binwang89 commented on #307
@davoodharun @ltsheu I just tested the skip main content function for Application Info page, However, the skip function does not work properly.

below is the steps that I have done for testing:
1. Refresh (F5) the page and test the skip link's functionality.
2. Tab to the skip function.
 The skip  function must be keyboard accessible and receive a  visual focus.
3. Select the function with  Enter.

[2017-10-24 14:43] ltsheu commented on #307
@binwang89 I believe the part where it skips over repetitive content happens at step 3, when the user hits Enter. Step 3 brings the user to the main content region (in the process, it skips over the header and top navigation). I am not sure step 4 and 5 are necessary for testing this? At step 3, you should see the page visually scroll to the main content region of the page.

[2017-10-24 15:24] binwang89 commented on #307
@ltsheu @davoodharun  Yes, the page vusually scroll down, but when user use the tab key again, it is going to the Dashboard screen instead of staying within the same screen.  I put this user story back to "In Progress"

[2017-10-24 15:28] mgwalker opened #332 "Refactor duplicate code in apiService.js"
`apiService.js` has several places where a slight variation of the following code exists:

[code]

This could be factored out into a helper method.

[2017-10-24 16:56] ltsheu opened #333 "Update HTML Patterns in the Library Page"
As a developer I would like the components library page to reflect current HTML patterns for the application, so that I may understand or use a pattern when needed.

https://dol-whd-section14c-int.aisdemos.com/#!/v4/ui-library

- [x] Update form component patterns in /DOL.WHD.Section14c.Web/src/v4/ui-library.component.html (see acceptance criteria below)
- [x] Change the Heading for this page from

[2017-10-24 17:21] davoodharun commented on #307
@binwang89 I'm not sure what you mean. If I am understanding you correctly, you start on a page (i.e. sections/assurances), click the address bar, hit tab, see the button appear, click the button, the page scrolls down. You are saying when you hit the tab key again it goes to the Dashboard?

If so, that wasn't captured in the user story. The user story only says that the page should scroll to #mai

[2017-10-24 17:22] EStriegel commented on #174
@mmurthydol Correct - An applicant should be able to view their submitted application (form fields and all attachments) after submission.  This is a milestone 1 requirement.

[2017-10-24 17:22] jmmcnj commented on #188
Unit tests are not completed, need to complete out unit tests, version differences between JSON serializer package and web api project

[2017-10-24 17:26] jmmcnj commented on #306
@binwang89 to review before moving to Reviewed/closed

[2017-10-24 17:28] jmmcnj commented on #260
@dciceman to get past unit test coverage then move to review/QA

[2017-10-24 17:31] jmmcnj commented on #258
@dciceman complete unit tests before moving to Reviewed/QA

[2017-10-24 17:34] binwang89 commented on #306
@ltsheu @jmmcnj I checked the code, it looks like the code are there.
please see below screenshot.
![image](https://user-images.githubusercontent.com/25330625/31958524-0e907ff2-b8c0-11e7-9ed9-49ef3797e693.png)

[2017-10-24 17:35] jmmcnj commented on #300
@EStriegel will validate upon successful entry to the application, @davoodharun will work with Liz to get onboard

[2017-10-24 17:36] jmmcnj commented on #301
@EStriegel will validate upon successful entry to the application

[2017-10-24 17:37] simplyshang commented on #262
Here's the link w/the demo: https://preview.uxpin.com/53dd8414eb43fb96a93df5c6be44df3e071db3d7#/pages/76431985/simulate/sitemap

It's with the file upload under the Prevailing Wage Data section.

[2017-10-24 17:37] jmmcnj commented on #317
@binwang89  will validate and then approve to move to Review/QA

[2017-10-24 17:38] simplyshang commented on #283
v1
https://preview.uxpin.com/961898dc08968d62cb4ca7daa62189716df298f7#/pages/76424754/simulate/no-panels

v1
https://preview.uxpin.com/672cf976db56fb446c1f954281636202590530cb#/pages/76425541/simulate/sitemap

[2017-10-24 17:46] jmmcnj commented on #208
promoting to EPIC, add dependent stories that will bridge the gap from existing today to DOL templates/standards

[2017-10-24 18:13] jmmcnj opened #335 "Resolve certificate issue"
As an application user, I would like be able to use the application on IE 11 - fix error:
[code]
See the links below:
https://stackoverflow.com/questions/23145688/ie10-11-ajax-xhr-error-script7002-xmlhttprequest-network-error-0x2ef3/32106649#32106649
https://stackoverflow.com/questions/16312938/ie10-ie11-abort-post-ajax-request-after-clearing-cache-with-error-network-error/16818527#16818527
http:/

[2017-10-24 18:14] jmmcnj opened #336 "Bug: Anchor links issue with Angular4"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboa

[2017-10-24 18:16] jmmcnj commented on #287
After IE issues is resolved, @binwang89 will review with Accessibility tool and move to Reviewed

[2017-10-24 20:27] binwang89 commented on #208
Please download this zip file, http://dolcontentdev.opadev.dol.gov/homepage/agency-template/DOL-Agency-Template-with-2ndLevel-new.zip
It will looks like this, http://dolcontentdev.opadev.dol.gov/homepage/agency-template/DOL-Agency-Template-with-2ndLevel-new/index.htm

[2017-10-25 01:43] #184 closed

[2017-10-25 02:00] mmurthydol opened #337 "As an Employer/Cert Team Member I would like to be able to have a consolidated PDF document/application that contains form data and attachments"
This epic groups all the PDF related work. #239 contains DEV requirements & #318 business requirements for the form data to be generated.

[2017-10-25 02:36] mmurthydol opened #338 "Security"
Epic to group all security related stories. Couldn't group them under #243 which was converted from issue to epic. Hence reverting to this step.

[2017-10-25 03:01] mmurthydol opened #339 "Login Workflow"
Epic to group login workflow related stories

[2017-10-25 03:13] mmurthydol commented on #283
@simplyshang The login workflow (registration) story & wage data visual design story must be split and added to two different epics. i.e. #283 must be split if work not already finished. If finished, please provide the visual design specs for each under respective epics. Thanks!

[2017-10-25 03:13] mmurthydol opened #340 "Wage Data"
Epic to group Wage Data related stories (datatables, sliders, bulk upload, etc.)

[2017-10-25 13:01] simplyshang commented on #283
@mmurthydol I'm on it! This story should be closed. But there are new stories I am working on now for planning this afternoon, based on conversations w/ @EStriegel this week. Among them, I'll be including the next steps for Registration & Wage Data (independent of one another) so we can assign & tackle appropriately.

[2017-10-25 16:45] simplyshang opened #341 "Create flow charts to evaluate the pros/cons of different approaches for Registration Workflow"
Quickly draft flow charts for the registration workflow to capture the different approaches that have been discussed to help suppor the business discussion about the best approach for Milestone 1.

Approaches discussed:

- [x] Having user create an account AND register an employer before accessing the system
- [x] Having user create an account, verify via email, then prompt them to register an emp

[2017-10-25 16:48] simplyshang opened #342 "As an applicant, I would like the system to tell me which fields are required for submission"
As an applicant, I would like the system to tell me which fields are required for submission

## Acceptance Criteria

#### Functionality

- [x] create design for required fields, diff between required and not

#### Accessibility

Prototype task; color contrast is black text on white background. Color contrast passes WCAG 2.0 AA at 21.

#### QASP requirements

These requirements are taken from the

[2017-10-25 16:54] simplyshang opened #343 "How to tell or direct users how they can make a PDF for file upload"
Since the application will only accept PDFs as a file upload for Milestone 1, we should probably provide some type of text or verbiage to help a user understand how to convert/create a PDF file from an existing document.

To-Do:
- [x] Look for any patterns or practices currently in use by other applications or sites to help inform the design decision

[2017-10-25 17:53] jmmcnj opened #344 "As an Employer, I would like to enter Wage Data entry with ease - Slider"
## Acceptance Criteria
TODO - grooming based on conversation with UX team
UX Design and features will be implemented into the existing application - see changes listed in funcationality list for slider

#### Functionality
- [ ] TODO Groom story based on UX design provided by #210 (populate acceptance criteria, tests, 508, etc.)
- [x] Slider
- [ ] Testing - Unit tests build - passes greater than 90

[2017-10-25 18:01] jmmcnj opened #345 "As an Employer I would like to enter wage data entry with ease - Datatables"
## Acceptance Criteria
TODO - grooming based on conversation with UX team
UX Design and features will be implemented into the existing application - see changes listed in funcationality list - Datatables

#### Functionality
- [ ] TODO Groom story based on UX design provided by #210 (populate acceptance criteria, tests, 508, etc.)
- [x] paging - dynamic paging/loading - Priority No. 1
- [x] sorting

[2017-10-25 18:18] jmmcnj opened #346 "Tasks that come out of accessibility remediation for pages - wage data, employer"
@ltsheu to assign tasks to Harun under this capacity/user story as they come up in accessiblity remediation with pages - wage data and employer

## Tasks
- [x] **File Upload Accessibility** (Related to User Story #197)

See /modules/components/attachmentField/attachmentFieldTemplate.html
- The Browse option needs to be tabbable and Enter Key accessible.

- Change this:
`<label class="underlabel" f

[2017-10-25 18:20] simplyshang opened #347 "Usability Testing - Sprint 3"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Planning & Setup

- [x] Respond to volunteers with consent form and requesting availability (@EStriegel)
- [x] Schedule sessions and send out Skype meetings (@simplyshang)
- [x] Create usability test script (@simplysha

[2017-10-25 18:44] jmmcnj opened #348 "As an Application Architect, I would like an API that provides a consolidated appAs an Application Architect, I would like an API that provides a consolidated application document (given form data + attachments) so that users are able to review/print applications conveniently - PDF Gen"
As an Application Architect, I would like an API that provides a consolidated application document (given form data + attachments) so that users are able to review/print applications conveniently.

## Acceptance Criteria
- [x] Consolidated Application document layout is user (Employer, Cert Team) friendly.
- [x] Consolidated Application document format is PDF.
- [x] API should be able to return a

[2017-10-25 19:14] klinden commented on #335
@mgwalker @mmurthydol @jmmcnj Given our difficulty with getting a valid SSL certificate in the Integration/QA environments is anybody opposed to running the application over HTTP in these environments? We have config settings for both the UI and API that can control this so no code change would be needed. From my end I don't see any issues this would cause.

[2017-10-25 19:20] klinden commented on #335
See #331 for some context.

[2017-10-25 19:53] ltsheu opened #349 "Update Header and Footer to use correct templates provided by DOL"
The 14(c) application is not using the correct HTML/CSS markup for the DOL Header and Footer. Update the DOL Header and Footer to use the correct markup.

## Acceptance Criteria

- [ ]  The HTML / CSS structure should be what is provided in the DOL templates

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboard
- [ ] ke

[2017-10-25 19:55] ltsheu commented on #317
I have created another User Story to address the Header/Footer template issues. #349

[2017-10-25 19:56] ltsheu commented on #208
I have created a User Story to address the Header/Footer template issues. #349

[2017-10-26 16:58] simplyshang opened #350 "Create an Error Page for Employer Registration"
For usability test scheduled 10/27/17, 9am-10am, we want to gauge a user's reaction to discovering there is already an existing account for their employer.

As part of the ongoing research around the best approach for the Login & Registration Workflow. Want to identify any potential pitfalls in users creating an account for their employer and acting as an admin.

## Acceptance Criteria

#### Funct

[2017-10-26 18:06] mgwalker commented on #335
@klinden Sounds good to me.  Sorry for the slow response.

What does that mean for the future of #331?  Do we close it rather than make temporary code changes?

[2017-10-26 18:13] EStriegel commented on #300
@jmmcnj This looks good to me.

[2017-10-26 18:17] klinden commented on #335
@mgwalker No worries. Yes, we can close #331 as it should not be needed.

@davoodharun Can you please setup the Integration and QA environments to use HTTP (both UI and API) and confirm that this issue has been resolved?

[2017-10-26 18:25] EStriegel commented on #301
@ltsheu One small edit - there should not be a space between 14 and (c) under the first question, "What type of application is this?"

[2017-10-26 18:54] binwang89 opened #351 "As an Employer, I would like to know that the PDF generated by the system won't be accessibility compliance and the system should warn me by text message."
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboa

[2017-10-27 19:01] mmurthydol opened #353 "Performance: FileRepository methods can raise OutOfMemoryExceptions"
Current implementation of methods below can raise OutOfMemoryException due to using
public void Upload(MemoryStream memoryStream, string fileName)
{
...
memoryStream.WriteTo(fileStream)
...
}
public MemoryStream Download(MemoryStream memoryStream, string fileName)
{
...
memoryStream.WriteTo(fileStream) & fileSteam.CopyTo(memoryStream);
...
}

## Acceptance Criteria
- [ ] Methods above will impleme

[2017-10-27 21:08] mgwalker commented on #353
@mmurthydol If this risk is unacceptable to WHD, then it should be fixed in #324.  I'm not comfortable "accepting" known-defective code.  Bear in mind that the risk is partially mitigated by the IIS configuration that doesn't accept HTTP request bodies over a certain size and WHD can configure that to whatever they want.

[2017-10-30 01:33] binwang89 commented on #167
I updated the TODO" under accessibility.

[2017-10-30 14:06] binwang89 commented on #168
we will put the accessibility disclaimer for #167.  I think we also need to put similar warning information in the email for internal certification team about the PDF file is not accessible.

ACCESSIBILITY:
The PDF generated by the system won't be accessibility compliance and the system should warn the user by adding the accessibility disclaimer language.

[2017-10-30 16:11] mmurthydol commented on #353
@mgwalker I created #353 for this defect. I'd prefer that we merge the code so as to not block Harun/UX team from their work. #353  is prioritized high enough that it will be fixed in the upcoming sprint as in the next day or two. Thanks!

[2017-10-30 17:10] suprenant commented on #353
@mgwalker is right that we should avoid merging code with known defects. Merging problematic code and writing new issues for bugs is an antipattern that will cause us trouble; there may even be contractual issues with our doing this.

Broadly, I would suggest that we adopt "code does not have any known bugs or defects" in our Definition of Done and that we adhere to that so we know our code is sol

[2017-10-30 17:23] klinden commented on #335
I've been reading up some more on this and while I think resolving the certificate issue was part of the problem I don't think it fully resolves this issue (and this is confirmed by the fact that Michelle is still having issues). I think @davoodharun was on the right track with #331 as it seems that if the first call that the browser makes is a POST that the SSL certificates are not loaded properl

[2017-10-30 17:54] mgwalker commented on #335
Huh.  What an oddball bug.  I haven't spent much time reading about it like you have, but just a couple of Google searches suggest you're on to it.  Several people have encountered issues with IE11's handling of CORS preflight requests in precisely this scenario (web app and API at different URLs, both served over SSL).  I'm not sure if Angular's `$http` does the preflight `OPTIONS` request (it lo

[2017-10-30 18:29] suprenant commented on #353
From our post-standup conversation (via Jason), @dciceman is working on this item now and expects to finish the work today so we can be unblocked here.

For next time, Greg and I can talk about ways to help work continue (e.g. possibly creating separate branches) as well as the range of possible defects we might face and which should block us and which, if any, we would be comfortable triaging for

[2017-10-30 18:31] mmurthydol commented on #353
Thanks @suprenant

[2017-10-30 20:04] mmurthydol commented on #76
Wanted to note that application is saving the page state behind the scenes

[2017-10-30 20:23] simplyshang commented on #206
Looked at during UX Grooming session on 10/30; functionality is currently present, so moving to review for Sprint 3.

[2017-10-31 15:21] ltsheu commented on #301
Hi @EStriegel -- I have made the small edit that you requested on the Application Info page. I removed the space between 14 and (c). It's ready for your review!

[2017-10-31 15:22] ltsheu commented on #305
@EStriegel The instructions have been added to the WIOA page, ready for your review!

[2017-10-31 15:43] ltsheu commented on #346
@davoodharun The current file upload component is not accessible by screen reader or keyboard. Please see the tasks above. Making these changes should help the accessibility.

[2017-10-31 16:10] EStriegel commented on #301
Hi @ltsheu - The small edit looks good.  However, only the first sentence of instructions are showing up under "Hospital/Residential Care Facility (Patient Workers)" and "School Work Experience Program (SWEP)".

[2017-10-31 16:24] EStriegel commented on #305
@ltsheu The instructions look good.  I noticed that you added "WIOA Worker Verified" above the dropdown where they answer yes/no/not required.  I agree that we need something there, but can we change it to "Yes/No/Not Required"?  Thanks!

[2017-10-31 19:28] binwang89 commented on #81
Updated my previous comment about the header/footer for the pop-up banner detail.

[2017-11-01 08:26] davoodharun commented on #336
@mmurthydol as per our discussion today, #364 will address the need for using an anchor link but will not address anchor linking with Angular4 components. Can we move this story back into the backlog or at least redefine it?

[2017-11-01 08:29] davoodharun commented on #335
I believe @binwang89 said on today's call that she was able to log into the application using IE11 without getting that error. There was an underlying issue that was addressed with #355 that was preventing Michelle from logging in.

[2017-11-01 15:41] ltsheu commented on #301
@EStriegel The instructions are fixed on Application Info page. Please confirm (you might have to refresh browser).

[2017-11-01 15:42] ltsheu commented on #305
@EStriegel I updated the text to "Yes/No/Not Required".

[2017-11-01 15:44] ltsheu commented on #302
@EStriegel Employer Page instructions are ready for your review! 😄

[2017-11-01 15:46] ltsheu commented on #298
@binwang89 Accessibility updates for WIOA are ready for your review. Here is the latest remediation status spreadsheet:
[DOL14c-Accessibility-Remediation.xlsx](https://github.com/18F/dol-whd-14c/files/1434691/DOL14c-Accessibility-Remediation.xlsx)

[2017-11-01 15:51] EStriegel commented on #301
@ltsheu Looks good!

[2017-11-01 15:52] EStriegel commented on #305
@ltsheu Thank you!

[2017-11-01 17:18] mmurthydol commented on #336
@davoodharun Can we discuss this in appear.in after standup before redefining/moving it to backlog? Thx

[2017-11-01 18:29] binwang89 commented on #298
@ltsheu as we discussed, the code looks good, I will randomly select some element for manual testing tonight.

[2017-11-01 18:31] simplyshang commented on #350
Here's the link for full prototype (we used to this for the usability test): https://preview.uxpin.com/48170bbaf1be987c1ab6af96c6c56e1b719ca1de#/pages/76592113/simulate/sitemap?mode=i

[2017-11-01 19:59] suprenant commented on #69
@simplyshang moving this to In Progress – can you confirm that it is, indeed, in progress?

[2017-11-01 20:05] suprenant opened #366 "[TBD] Email API"
Dependent on #166

As a user, I would like to click on submit button for emails and email api (new api project) will be called that sends email to recipients dictated by api call.

## Acceptance Criteria

#### Functionality

- [x] api project - new
- [x] wire up existing email submission code to api
- [x] email body static?  constant string, no database table template?, use existing pattern to sto

[2017-11-01 20:23] phirefly commented on #169
Closing in favor of https://github.com/18f/dol-whd-14c/issues/166

[2017-11-01 20:23] #169 closed

[2017-11-01 20:38] suprenant opened #367 "[carryover, defects, security TBD]"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboa

[2017-11-01 20:40] suprenant opened #368 "[placeholder] Dev story for profile/password change"
https://app.zenhub.com/workspace/o/18f/dol-whd-14c/issues/69

As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interact

[2017-11-01 20:42] simplyshang commented on #69
@suprenant It's not in progress at the moment. We did discuss this one in the UX grooming session on Monday, but I hadn't assigned myself or put an estimate against it b/c I wasn't sure if it would make it into Sprint 3.

If the priority has changed & I should focus on this, there's time to for me to pivot and do that; just let me know.

[2017-11-01 20:42] suprenant opened #369 "[placeholder, task] QA/peer testing"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboa

[2017-11-01 20:50] suprenant commented on #69
@simplyshang OK, we thought that it had started but weren't sure. We'll save this, likely for Sprint 4. So, no change for now – thanks for clarifying.

[2017-11-02 17:02] EStriegel commented on #81
@binwang89 @mmurthydol

**I received a response from SOL and they provided me a link to the DOL Computer Security Handbook.  The handbook first provides DOL's required minimum standards on displaying an approved, system use notification message.  The standards are similar to what OPA provided to Michelle:**

1.	The information system must display to anyone attempting to gain access, an approved sy

[2017-11-02 17:28] binwang89 commented on #81
@EStriegel @mmurthydol I think the  old legacy application banner language must followed the security hand book (with WARNING….WARNING….WARNING….WARNING….WARNING),  Yes, i think it will better safe than sorry.

[2017-11-02 18:06] phirefly commented on #132
Fwiw: my password that failed ended in `1!`. The one that worked ended in `5%`

[2017-11-02 19:28] phirefly commented on #318
Per the WHD internal discussion on 11/2, we are holding off on creating the word doc output file until we confirm the HTML > PDF solution is a sufficient alternative.

[2017-11-02 19:47] EStriegel commented on #168
@mmurthydol Note: We'd like the Employer's state to be included in the email subject line.

[2017-11-02 19:59] EStriegel commented on #81
@simplyshang This is the final text to use:

-----------------------------------------------
Warning

You are accessing a U.S. Government information system that is owned and operated by the Department of Labor. There is no expectation of privacy when accessing this system. The Department of Labor information systems are provided for the processing of official U.S. Government information only, and

[2017-11-02 20:09] EStriegel commented on #166
The email subject line & body (pending approval from certification team & policy branch):

-----------
**Email Subject Line:**
Section 14(c) Online Application Submission

**Text for email body:**

To Whom It May Concern:

This email acknowledges receipt of the application for Special Minimum Wage Certificate, which was submitted via the Department of Labor Section 14(c) Online Certification Appli

[2017-11-02 22:11] binwang89 commented on #287
@ltsheu I am testing the application page now, the help icons are working except the top one "Show Help for All Items"  when i use keyboard key, it is not working. I will use the remediation worksheet for now for  all the issues for each web page before we got QA process got finalized.

[2017-11-03 01:18] binwang89 commented on #287
@ltsheu I have done my manual testing for application info, please see the updated excel page.
[DOL14c-Accessibility-Remediation_11022017.xlsx](https://github.com/18F/dol-whd-14c/files/1439825/DOL14c-Accessibility-Remediation_11022017.xlsx)
The  Repetitive Content and Links are still not working. Style sheet Dependence - it seems the footer DOL logo is disappeared after i disabled the style sheet.

[2017-11-03 01:59] binwang89 commented on #298
@ltsheu  the manual testing is done for WIOA page, the result almost the same as application info page. '
the skip content link is not working and the footer DOL logo is Style sheet Dependence.
[DOL14c-Accessibility_Testing 11022017.xlsx](https://github.com/18F/dol-whd-14c/files/1439891/DOL14c-Accessibility_Testing.11022017.xlsx)

[2017-11-03 02:10] binwang89 commented on #317
@ltsheu I have reviewed the footer links, they looks good.

[2017-11-06 04:11] ltsheu commented on #287
@binwang89 I'm not sure we can prevent the footer logo from disappearing when the stylesheet is disabled. The footer logo image is white, so without the red background behind it (stylesheet disabled), it is a white image on a white background (thus invisible). All DOL sites with this footer have the same issue. Can we replace it with the color logo? Are we allowed to deviate from the DOL footer te

[2017-11-06 13:42] binwang89 commented on #287
@ltsheu Yes, we are using the template from DOL and I am checking with the agency (OPA) that provided the template. I will keep you posted.

[2017-11-06 15:20] ltsheu commented on #197
CSS/HTML templates have been created for the file upload feedback messages. The CSS has been merged in Sprint/3. The HTML templates have been passed to @davoodharun .

[2017-11-06 16:15] binwang89 commented on #287
@ltsheu Yes, technically it's a problem that the image is white on a white background, but the "United States Department of Labor" text follows it so people would know that's what the link is for.
Per OPA response -
1. Not sure why the ALT text for the footer DOL seal is "Seal of the United States Department of Labor".   The ALT text should be "United States Department of Labor".

2.  The template

[2017-11-06 18:04] ltsheu commented on #287
Hi @binwang89 I have updated the alt text to say "United States Department of Labor" as requested. Once we can get back into the 14c application you can review again. 😄

I'm not sure we should change the logo to be a background image, as stated by OPA. The DOL footer template that we have been given uses an `<img>` there. The 14(c) footer template will be updated to the DOL template when we execut

[2017-11-06 18:10] ltsheu commented on #298
@binwang89 I have fixed the keyboard functionality for the 'Show Help for All Items' Link.

[2017-11-06 18:10] ltsheu commented on #287
@binwang89 I have fixed the keyboard functionality for the 'Show Help for All Items' Link.

[2017-11-06 18:49] binwang89 commented on #287
@ltsheu we are not change the template, it will be done by DOL(OPA).
Thanks for update the ALT for footer impage.

[2017-11-06 20:36] suprenant opened #379 "[placeholder] Help text research"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboa

[2017-11-06 20:37] suprenant opened #380 "[placeholder] Registration research (continued)"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboa

[2017-11-06 20:39] suprenant commented on #379
From grooming, we could possibly tackle this with:

https://app.zenhub.com/workspace/o/18f/dol-whd-14c/issues/156

[2017-11-06 20:40] suprenant opened #381 "[placeholder] Global helpdesk visuals"
Global access to help, for both technical support and reaching a SME about questions regarding the application.

Prototype link for placement of Help link (in system navigation), and a view of the Help page: https://preview.uxpin.com/5955e8a6afd15529d8967c143dbba46439f251ba#/pages/77595079/simulate/sitemap

[2017-11-06 20:43] suprenant commented on #296
From grooming, it looks like we'll carry this over to Sprint 4.

[2017-11-06 20:46] suprenant commented on #303
From grooming, it looks like we'll carry this over to Sprint 4.

[2017-11-06 20:50] suprenant commented on #340
From grooming, we'd like to do QA testing (w/stakeholders, end users) before calling this epic (and others) done.

[2017-11-07 11:45] simplyshang commented on #76
Prototype for session timeout: https://preview.uxpin.com/6dc6e8912fdaeb32cdfefa6e237f0d300d960588#/pages/77031627/simulate/no-panels?mode=i

Mouse over the page, wait one second, then the session timeout alert will appear.

[2017-11-07 11:47] simplyshang commented on #343
Point users to this support page from Microsoft with instructions on creating a PDF for all office products, versions 2007, 2010, 2013, 2016 & iOS: https://support.office.com/en-us/article/Save-or-convert-to-PDF-d85416c5-7d77-4fd6-a216-6f4bf7c7c110

[2017-11-07 13:14] simplyshang commented on #81
Prototype w/updates for Log in: https://preview.uxpin.com/156b163e281315ec13eaea4e197a7ce1ad82bb90#/pages/76967294/simulate/no-panels?mode=i

[2017-11-07 13:21] simplyshang commented on #343
![pdf-instructions.png](https://images.zenhubusercontent.com/57e6f0e395e42b6c5ba9656c/201c53cd-c37f-405b-9f2b-221c67eb6153)

[2017-11-07 15:36] simplyshang commented on #343
@mmurthydol can you confirm that we'll be accepting .jpg, .jpeg & .png along w/PDFs? I think we discussed this before, and issue #290 confirms, but just want to double-check I have the accepted file types correct. Thanks!

[2017-11-07 15:43] ltsheu commented on #346
@davoodharun On further investigation, the file upload accessibility fix needs to be done with styling. I will take over this task.

[2017-11-07 15:58] mmurthydol commented on #343
@simplyshang That is correct from implementation perspective. However in terms of wording in UI we want to let users know that word/excel docs can be saved as pdf to be able to upload to our application. In addition, some of help text can provide the actual steps.
Thanks :)

[2017-11-07 17:43] ltsheu commented on #346
This issue resolved with PR #385.

[2017-11-07 17:53] ltsheu commented on #294
@binwang89 There are two known issues with the Wage Data page. Please let me know when you are ready to review. I can share screen and discuss the issues with you.

[2017-11-07 18:11] simplyshang commented on #341
Think we're settled on the process for milestone one (Option 2)[https://app.zenhub.com/files/68946896/d43c6623-5a6a-41b8-87f0-26d040748237/download](https://app.zenhub.com/files/68946896/d43c6623-5a6a-41b8-87f0-26d040748237/download), but here are the workflows that were discussed:

[2017-11-07 18:19] jmmcnj commented on #207
passed tests with IE 11+ and Chrome

[2017-11-07 18:22] jmmcnj commented on #259
Need validation before acceptance, run manual test and create test script to run on build

[2017-11-07 18:26] jmmcnj commented on #307
Tests were written for directive but tests not written for karma yet, issues with karma test actions, need to investigate issue and see path going forward, huddle around

[2017-11-07 18:27] mmurthydol commented on #259
@davoodharun Harun, could you please verify what happens if client side error occurs, specifically the scenario doesn't occur. Scenario: client side error is logged to server, server api throws an error, client side now catches this error, and the cycle continues. We want to ensure that if the server error is in response to logging client side error, client side global handler must not go in to a

[2017-11-07 18:30] jmmcnj commented on #263
Validate the tests on this feature

[2017-11-07 18:53] jmmcnj commented on #343
just need confirmation from DOL security that external link is approved on an external DOL website from @binwang89

[2017-11-07 18:55] jmmcnj commented on #81
spin off implementation into separate user story and add this to dependencies @jmmcnj

[2017-11-07 18:57] jmmcnj commented on #76
spin off implementation to separate user story and reference this story as dependency @jmmcnj

[2017-11-07 18:58] jmmcnj commented on #341
we have settled on workflow changes describe in option 2 above

[2017-11-07 19:04] jmmcnj commented on #294
@binwang89 to review with @ltsheu if it is ok will move to acceptance if not will update spreadsheet with issues to be resolved

[2017-11-07 20:08] binwang89 commented on #287
@ltsheu  tested it again, they looks good now. I will move it to next pipeline.

[2017-11-07 20:09] binwang89 commented on #298
@ltsheu I tested again, they look good now. I will move this user story in next pipeline.

[2017-11-07 20:37] ltsheu opened #387 "Wage Data Page: Help buttons do not work in Piece Rate view"
Wage Data Page:
1) The help buttons do not function in Piece Rate view - they do not open the help text. They work fine in Hourly view.
2) The "Show Help for All Items" link does not function.

**Duplicate IDs are most likely causing this issue. The Hourly fields/buttons and Piece Rate fields/buttons use the same IDs.**

## Acceptance Criteria

- [ ] Help buttons should work throughout the Wage Da

[2017-11-07 20:42] ltsheu commented on #294
@binwang89 I have added details to this user story about the two items that we are waiting on for Wage Data.

[2017-11-07 20:51] jmmcnj opened #388 "As a user, I would like a beautiful security banner to read before I start using the application"
This story potentially affected by login/EIN workflow.

Descripition:
In Ref to NIST Control AC-8, WHD approved verbiage will be provided for the warning banner/system use notification, which must be displayed upon accessing the information system.Approving Official”, “Authorizing Official” and “System User”.

Use language provided by Liz in below comment, with functionality similar to cloud.gov (

[2017-11-07 20:53] jmmcnj commented on #81
implementation story create and referenced back here #388

[2017-11-07 20:55] jmmcnj commented on #341
completed and referenced under login workflow epic to be implemented for tracking purposes

[2017-11-08 05:52] mmurthydol opened #389 "Implementation - Create an Error Page for Employer Registration"
Based on #350 that contains visual design.

Pages must be responsive, accessible, and adhere to login workflow.

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboard
- [ ] keyboard "trap" not found
- [ ]

[2017-11-08 05:55] mmurthydol opened #390 "Implementation - Create login workflow related pages"
Specification is from stories #341 #350 #389 #283
TODO @simplyshang please review the stories above and include the correct ones.
TODO All: Probably best to create individual impl. stories for each page for UX development.
In addition will need to stories to ensure login flow across these pages (& needs to tie into server side identity framework related logic)....
    - Error page already happens

[2017-11-08 06:21] mmurthydol commented on #205
This story is automatically obsolete with the new proposed login registration workflow. See epic #339
Ensure EIN uniqueness constraint is removed internally in the DB.

[2017-11-08 06:38] #205 closed

[2017-11-08 06:47] mmurthydol opened #391 "Spike: Data Schema for Login Workflow"
All new tables in the application will use following pattern below. Existing tables touched by login workflow will conform to this pattern as well (considering implementation cost to make change)

- [ ]  David do not address this entry. Keeping the spec for future.
    Identity columns (Private/Public).  @dciceman David, let's discuss naming, and other stuff here.
   - All major tables will have a

[2017-11-08 14:43] ltsheu commented on #294
I'm moving this back to In Progress. I just realized that the Wage Data page uses duplicate IDs throughout, and this needs to be remediated.

[2017-11-08 15:50] suprenant commented on #342
This struck me as I was doing some testing yesterday. It seems like we are marking fields as required currently but not showing those requirements to users until after they first attempt to submit the form. Seeing these required fields in advance would certainly seem helpful.

[2017-11-08 16:10] mmurthydol opened #392 "Create Login Workflow related API"
Could be separate stories if someone wants to manage...

## Functionality
- [x] Modify Login Page related Web AP (Remove EIN)
- [x] Ensure no changes to User Account Registration Web API; if not modify
- [x] Create Employer Account Registration Web API  (Modifications to User Table - see blocker data schem story. Changes to Identity management code.

## Acceptance Criteria
 - [ ] Authorization/sec

[2017-11-08 16:32] mmurthydol opened #393 "Write Email Web API - As an Employer/Cert Team member I need ability to receive email"
## Acceptance Criteria

#### Functionality

- [ ] Refactor existing code that sends email to be a separate WebAPI
- [ ] Email API methods must support To, From, CC, Subject, Body, Attachments - as outlined in the user stories. TODO - populate info here from those stories.
- [ ] Call email web api from application submit web api method.

TODO - add this to appropriate epic.

[2017-11-08 17:14] suprenant opened #394 "[placeholder] Wage Data research"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboa

[2017-11-08 17:22] suprenant commented on #76
From grooming – moving this back to In Progress since we gave feedback. @simplyshang if that's not right, please move this to the correct column.

[2017-11-08 18:29] mmurthydol commented on #131
Defer this defect till all login workflow is finished; Defect might get obsolete

[2017-11-08 18:36] jmmcnj commented on #336
Need to implement karma tests still not working/finalized

[2017-11-08 18:36] jmmcnj commented on #336
Need to implement karma tests still not working/finalized

[2017-11-08 18:56] jmmcnj commented on #197
@simplyshang will be able to provide links to help harun in what he should be changing

[2017-11-08 18:56] jmmcnj commented on #197
@simplyshang will be able to provide links to help harun in what he should be changing

[2017-11-08 19:29] suprenant commented on #394
From planning, this is really done. We may want to document this more clearly before we wrap the engagement.

[2017-11-08 19:48] jmmcnj opened #396 "Usability Testing Sprint 4"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Planning & Setup

- [x] Respond to volunteers with consent form and requesting availability (@EStriegel)
- [x] Schedule sessions and send out Skype meetings (@simplyshang)
- [ ] Create usability test script (@simplysha

[2017-11-08 20:43] jmmcnj opened #397 "Implementation - User Account Registration page"
**Please Note: with the change in the design from last week's working session, we will not need to change the layout/functionality of User Account Registration.** *This is pending feedback & approval as of 11/15.*

Direct link to prototype page for User Account Registration: https://preview.uxpin.com/dbef3aaee7fc9fac51dc1d087e1f9180f3610ab3#/pages/78406870/simulate/sitemap

For reference, here is

[2017-11-08 20:45] jmmcnj opened #398 "Login Page changes for workflow"
**Note: Is this user story superseded by #416?**

Login Page - redesigned from UXpin link with banner, different from registration page
https://preview.uxpin.com/107df641f3eac499a1e03532bab2b062fbaecd4c#/pages/77134345/simulate/sitemap?mode=i

## Acceptance Criteria

#### Functionality

- [ ] Login Page - redesigned from UXpin link with banner, different from registration page
- [ ] accessibility

[2017-11-08 20:46] ltsheu commented on #297
I would like to wait for #344 and #345 to be complete before beginning accessibility remediation on this page.

[2017-11-08 21:08] ltsheu commented on #304
I would like to wait until #344 and #345 are complete before beginning the text updates. Marking as blocked by those two stories.

[2017-11-09 02:06] binwang89 commented on #296
@ltsheu tested the file upload piece, it looks good.
i have tested in below steps:
1.	When the Modal Box  is activated, check that focus is set to an element in the container.
2.	When the Modal Box is active, check that focus is never set to an element that is not in the container.
3.	When the Modal Box is deactivated, check that focus is set to the control that originally activated the dialog.

[2017-11-09 02:23] binwang89 commented on #296
@ltsheu found some issue for the form ID, i will posted the image here.
![image](https://user-images.githubusercontent.com/25330625/32585255-94c38c98-c4ca-11e7-8095-d7ac8a8cc9a6.png)
According to the Rule, the ID must start with a letter ( Starting the numbers  is prohibited).
After the first letter any number of letters (a to z, A to Z), digit (0 to 9). hyphens(-), underscores(_), colons(:) and p

[2017-11-09 02:25] binwang89 commented on #296
![image](https://user-images.githubusercontent.com/25330625/32585401-4644358a-c4cb-11e7-9b3f-249d6103f8bb.png)

[2017-11-09 15:02] ltsheu commented on #398
Waiting for updated design in UXPin.

[2017-11-09 18:12] ltsheu commented on #197
@davoodharun  New feedback message patterns to be used for File Upload feedback. The CSS will be merged with PR #402

**UPLOAD IN PROGRESS:**

![feedback-progress](https://user-images.githubusercontent.com/31778248/32621703-a6727fe2-c54e-11e7-8963-e6b74a380fcf.PNG)

[code]

**UPLOAD ERROR:**

![feedback-error](https://user-images.githubusercontent.com/31778248/32621829-0ce80486-c54f-11e7-9f8d-6ea0

[2017-11-09 18:19] ltsheu commented on #397
@davoodharun Here are feedback message patterns for Register An Employer. The CSS for this will be merged with PR #402.

SUCCESS FEEDBACK

![feedback-success](https://user-images.githubusercontent.com/31778248/32622271-5acbef54-c550-11e7-959f-56e1c0db55a7.png)

[code]

ERROR FEEDBACK

![feedback-registration-error](https://user-images.githubusercontent.com/31778248/32622301-723706b0-c550-11e7-9a4c

[2017-11-09 22:02] phirefly opened #406 "User Research Findings"

[2017-11-13 15:15] ltsheu commented on #296
@binwang89 The Form ID issue and the Label issue have been fixed. Please review the Employer page again. Thanks!

[2017-11-13 18:51] ltsheu commented on #303
Waiting for PR #414 to be merged, then this will be ready for DOL review.

[2017-11-13 20:34] phirefly opened #415 "Implementation - Create banner page for login workflow"
Dependent on #81 (Banner UI)

Direct link to prototype page for System Use Banner: https://preview.uxpin.com/dbef3aaee7fc9fac51dc1d087e1f9180f3610ab3#/pages/78406869/simulate/sitemap

For reference, here is the full prototype for the Registration Workflow, beginning with the Flow Chart: https://preview.uxpin.com/dbef3aaee7fc9fac51dc1d087e1f9180f3610ab3#/pages/78406867/simulate/sitemap

[content ed

[2017-11-13 20:41] phirefly opened #416 "Implementation - Login page for login workflow"
**Please Note: with the change in the design from last week's working session, we will not need to change the layout/functionality of Log in.**

Direct link to prototype page for Log in: https://preview.uxpin.com/dbef3aaee7fc9fac51dc1d087e1f9180f3610ab3#/pages/78406869/simulate/sitemap

For reference, here is the full prototype for the Registration Workflow, beginning with the Flow Chart: https://

[2017-11-13 20:44] phirefly opened #417 "Implementation - Employer Registration page for login workflow"
Direct link to prototype page for Employer Registration: https://preview.uxpin.com/dbef3aaee7fc9fac51dc1d087e1f9180f3610ab3#/pages/78406877/simulate/sitemap

For reference, here is the full prototype for the Registration Workflow, beginning with the Flow Chart: https://preview.uxpin.com/dbef3aaee7fc9fac51dc1d087e1f9180f3610ab3#/pages/78406867/simulate/sitemap

[content edited by @simplyshang 11/15

[2017-11-13 20:48] phirefly opened #418 "UI Implementation - 2FA page for login workflow"
@dciceman #203 contains the specs. Madhu and David went through specs together.

- [x] Page for entering verification code
- [x] Content necessary e.g. "Verification code was sent. Please enter..."
- [x] Resending verification code
- [x] Additional content: Contact DOL with issues

@simplyshang will confirm this is ok from a ux perspective.

- [x] call between @simplyshang @dciceman @binwang89 aft

[2017-11-13 22:54] phirefly commented on #161
Verified on Integration Env

[2017-11-13 22:55] phirefly commented on #300
Verified by @EStriegel. Moving to `Closed`

[2017-11-13 22:56] #300 closed

[2017-11-13 23:41] binwang89 commented on #296
@ltsheu I have retested those fields, they look good now. thanks you.

[2017-11-14 16:52] ltsheu commented on #303
@phirefly  The Wage Data page edits are ready for review.  URL: https://dol-whd-section14c-int.aisdemos.com/#!/section/wage-data

[2017-11-14 17:29] phirefly commented on #415
@simplyshang A couple things that will need your input:
1) Breadcrumbs are currently off -- displaying `Login` instead of generic `14c` landing page
2) We will need some verbiage after `Create Account` and `Login`

[2017-11-14 17:33] phirefly commented on #416
@simplyshang This doesn't appear to have a visual design yet. Please add.

[2017-11-14 17:33] phirefly commented on #397
@simplyshang This doesn't appear to have a visual design yet. Please add. Thank you!

[2017-11-14 17:42] phirefly commented on #417
@simplyshang Do we know what happens when clicking `What if the Employer's legal name changed since its last application?`?

@EStriegel may have insight into the content if it doesn't exist already.

[2017-11-14 17:48] phirefly commented on #417
@EStriegel, can you confirm the format for Cert numbers provided in the example `12-34567-H-890`

[2017-11-14 19:27] phirefly commented on #350
User tests with this are complete. Moving to `Complete`

[2017-11-15 12:47] simplyshang commented on #415
@phirefly updated the main body of the story w/links to the full prototype, and a direct link to the page w/the System Use Banner.

[2017-11-15 12:51] simplyshang commented on #416
@phirefly Added links; also note about the pending change (as posted in Slack).

[2017-11-15 12:55] simplyshang commented on #397
@phirefly Added links; also note about the pending change (as posted in Slack).

[2017-11-15 14:52] phirefly opened #425 "CSS Implementation - Wage Data Styling"
This is a continuation of #344 and #345, remaining styling work.

As an employer I would like to use Wage Data with styling so that my user experience is optimal

UX designs:
https://preview.uxpin.com/107df641f3eac499a1e03532bab2b062fbaecd4c#/pages/77134368/simulate/sitemap?mode=i > `Add Employee - Panel Open`

## Acceptance Criteria
Slider
- [ ] General styling
- [ ] Help link styling using the c

[2017-11-15 15:04] phirefly commented on #345
Reviewed styling with @davoodharun and @EStriegel. PRing this story and created #425 for remaining styling issues

[2017-11-15 16:57] binwang89 commented on #343
@jmmcnj @simplyshang Per WHD Security ISO, There is not issues with external user linking to Microsoft site for information.   However, our deputy director think we need a page “in between” that says you are leaving a government website".

[2017-11-15 17:15] simplyshang commented on #343
@binwang89 Yes, we discussed this with the team. Greg suggested using the CGI that provides the "in between" page as seen in DOL's footer template: https://github.com/18F/dol-whd-14c/blob/sprint/3/DOL.WHD.Section14c.Web/src/v4/dol-footer.component.ts#L56

We tested it, and it worked well. Using the CGI will not increase the development effort, so all agreed this was the best approach. Here's an ex

[2017-11-15 17:22] binwang89 commented on #343
@simplyshang @mgwalker sounds good to me.

[2017-11-15 20:35] EStriegel commented on #303
@ltsheu The instructions look good - wondering if we can italicize the words that were italicized in the word document.  They are:

**Hourly Wage: “How many workers did the employer pay hourly?”**
Provide the total number of workers paid an _hourly_ subminimum wage rate at any time during the most recently completed fiscal quarter.

**HOURLY, PREVAILING WAGE SURVEY: “Experience Worker Wage Provide

[2017-11-15 20:46] phirefly commented on #390
Closing this because implementation stories have been created.

[2017-11-15 20:46] #390 closed

[2017-11-15 20:47] phirefly commented on #388
Closing in favor of #415

[2017-11-15 20:47] #388 closed

[2017-11-15 20:50] phirefly commented on #348
@dciceman would you mind posting a sample of the PDF for initial review? Thank you!

[2017-11-15 21:03] dciceman commented on #348
[Concatenate.pdf](https://github.com/18F/dol-whd-14c/files/1476352/Concatenate.pdf)

[2017-11-15 21:08] phirefly commented on #348
@dciceman per conversation in our grooming session, we're going add the Accessibility text at the top of the PDF generation in small font: `ACCESSIBILITY: The PDF generated by the system won't be accessibility compliant and the system should warn the user by adding the accessibility disclaimer language.`

[2017-11-15 21:22] phirefly commented on #367
Closing per cleanup

[2017-11-15 21:22] #367 closed

[2017-11-15 21:28] phirefly commented on #156
@phirefly and @EStriegel will add text to the story including elements 1) error message and 2) number to call

[2017-11-15 21:36] phirefly commented on #170
Moving to backlog for grooming post Milestone 1. System is not able to send this information at the time of the application submission. Virus scanning happens async.

[2017-11-15 21:39] phirefly commented on #170
Note: Add this as an app support consideration. Applicants may call saying that their files are not available when in fact the document has been quarantined.

[2017-11-15 21:48] phirefly opened #427 "As a system, I want to submit an application after the virus scan and file upload is complete"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboa

[2017-11-16 00:32] phirefly commented on #417
Confirmed with Data and the O+M vendor that the validation for cert number is `dd-ddddd-c-ddd`, where `d` is a digit and `c` is a letter character.

[2017-11-16 04:35] binwang89 commented on #343
@mmurthydol looping Madhu, please see above CGI recommendation from provided from Greg.

[2017-11-16 15:21] ltsheu commented on #294
@binwang89 Wage Data page accessibility is ready for your review. Here is the latest remediation spreadsheet. Thanks!
[DOL14c-Accessibility-Remediation.xlsx](https://github.com/18F/dol-whd-14c/files/1479060/DOL14c-Accessibility-Remediation.xlsx)

[2017-11-16 15:22] ltsheu commented on #303
@EStriegel  I have added the italics. Please review again. Thanks!

[2017-11-16 21:37] phirefly opened #431 "As an applicant, I can access a dashboard page to view previously submitted applications so that I can have an optimal experience"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboa

[2017-11-16 21:41] phirefly opened #432 "Implement - As an applicant I can access a dashboard page for viewing previously sent applications so that I can have an optimal experience"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboa

[2017-11-16 21:41] phirefly opened #433 "Implement API - As an applicant I can access a dashboard page for viewing previously sent applications so that I can have an optimal experience"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] Write API methods to return application info (incl. date, status, employer, POC or not) that will be used by API to display the info on the dashboard. A logged in user could be associated with seve

[2017-11-17 00:42] mmurthydol commented on #433
@phirefly @EStriegel Please provide requirements (need TODO question in description answered).

[2017-11-17 14:31] ltsheu commented on #304
Hi @EStriegel and @phirefly!  Now that the "Add Employee" form fields have been redesigned, and will be in a side panel, do we still need the "Show me an Example" link next to the "Add Employee" button? In the Instructions document for Work Sites and Employees, the "Show me an Example" link shows a screenshot of the old design.

[2017-11-17 15:35] binwang89 commented on #307
@ltsheu @davoodharun @jmmcnj I just tested the skip link this morning, it works fine. i am going to move this story to next pipeline.

[2017-11-17 18:34] mmurthydol commented on #168
@EStriegel format above looks fine.

[2017-11-17 19:50] phirefly commented on #307
@ltsheu We are doing QA on this but can't seem to find what page this is on. Can you post a link to this page? Thank you!

[2017-11-17 19:51] phirefly commented on #296
@binwang89 Can you QA this?

[2017-11-17 19:52] phirefly commented on #341
Moving to `Done` per completed user research

[2017-11-17 19:53] phirefly commented on #81
Moving to `Done` since all relevant stories for implementation have been completed.

[2017-11-17 20:21] mmurthydol opened #435 "As an employer, upon application submission ensure file attachments exist on the folder system and have not been quarantined."
Upon submission, ensure before accepting that the application is complete that the attachment uploaded is not quarantined by virus scanners. DB currently knows that attachment was uploaded but application is incomplete if the file is not available because it has been quarantined.

Basically, check the existence of the attachment on the file system. If attachment doesn't exist, application is not c

[2017-11-17 20:31] ltsheu commented on #307
@phirefly Go to any page, for example https://dol-whd-section14c-int.aisdemos.com/#!/section/app-info. With your cursor in the address bar of your browser, hit the tab key until you see a "Skip to Main Content" link appear in the top left corner of the page. While that link is visible, you should be able to use the Enter key or click on the link to skip to the main content of the page.

[2017-11-17 20:46] davoodharun commented on #307
@phirefly Just in case, make sure you have your dev tools in your browser closed. It will not work with that open.

[2017-11-18 02:17] binwang89 commented on #294
@ltsheu I have tested the wage data page, and I found some issues for this page.
I highlight the issue items with description and screenshot in the attached spreadsheet.
[DOL14c-Accessibility-Remediation_11172007.xlsx](https://github.com/18F/dol-whd-14c/files/1484296/DOL14c-Accessibility-Remediation_11172007.xlsx)
if you have any question, please let me know. love to discuss it with you.

[2017-11-19 19:56] ltsheu commented on #109
Updated prototype for this task: https://preview.uxpin.com/107df641f3eac499a1e03532bab2b062fbaecd4c#/pages/77134369/simulate/sitemap?mode=i

[2017-11-20 15:14] simplyshang commented on #109
@ltsheu Please don't use that link. Here's the correct link: https://preview.uxpin.com/672cf976db56fb446c1f954281636202590530cb#/pages/76425556/simulate/no-panels?mode=i

[2017-11-20 15:58] phirefly commented on #166
@dciceman @mmurthydol My understanding is that this is in progress. If so, can we pull this into `In Progress`?

[2017-11-20 15:59] phirefly commented on #168
@dciceman @mmurthydol My understanding is that this is in progress. If so, can we pull this into `In Progress`?

[2017-11-20 16:26] phirefly opened #438 "Missing list of worksite information"
Discovered 11/17. Also discuss possible need for integration tests

Madhu/Harun: Should be turned over to a DataTable.js

[2017-11-20 16:33] phirefly commented on #292
Since this is the UI story, QA will have to wait until https://github.com/18F/dol-whd-14c/pull/434 is pulled into Awaiting Acceptance.

[2017-11-20 16:44] ltsheu commented on #304
@EStriegel Please provide updated text for the following in the Employees tab:
"We’ll need collect specific information for each employee. See detailed instructions on employee information"

[2017-11-20 16:47] ltsheu commented on #425
Waiting on updated styles for datatables components from @simplyshang.

[2017-11-20 17:36] simplyshang commented on #76
Please use the most recent prototype link: https://preview.uxpin.com/6dc6e8912fdaeb32cdfefa6e237f0d300d960588#/pages/77031627/simulate/no-panels?mode=i

[2017-11-20 19:11] EStriegel commented on #301
Moving to Done per my review on 11/1.

[2017-11-20 19:12] EStriegel commented on #305
Moving to `Done` per my review on 11/1.

[2017-11-20 19:13] EStriegel commented on #302
Moving to `Done` per my review on 11/1.

[2017-11-20 19:17] EStriegel commented on #303
Looks good.  Moving to `Done` per my review on 11/20.

[2017-11-20 19:24] EStriegel opened #439 "Bug: Prevailing wage survey questions are visible before a PW method is chosen"
The prevailing wage survey box is visible before a PW method is chosen (nothing should appear until a method is chosen).  This occurs for both hourly and piece rate screens.

--------------------------
![image](https://user-images.githubusercontent.com/19496579/33037006-2ca4a1a0-cdfe-11e7-855e-fb93df314697.png)

[2017-11-20 19:37] EStriegel commented on #304
@ltsheu Updated text is below.  The link to expand for instructions should be "Click here for detailed instruction on the required work information."

@simplyshang Since the screenshots are fresh on mind, tagging you in case you need this update for the prototype.

-------------
Information is needed about each specific worker who was employed at this work site at any time during the most recently

[2017-11-20 20:17] EStriegel commented on #398
Confirmed this story is duplicate of #416 - Moving to `Close`

[2017-11-20 20:17] #398 closed

[2017-11-20 20:46] phirefly opened #440 "Update Assurances page to capture separated First Name and Last Name"
As an applicant I would like to be able to enter my name separately as `First name` and `Last name` so that the system data collection is optimal.

## Acceptance Criteria

#### Functionality

- [ ] Split `Name` into `First name` and `Last name`

#### Accessibility
See #198 for Accessibility requirements

[2017-11-21 19:25] binwang89 commented on #294
@ltsheu  after discussion, please see updated spreadsheet
[DOL14c-Accessibility-Remediation_11172007.xlsx](https://github.com/18F/dol-whd-14c/files/1492663/DOL14c-Accessibility-Remediation_11172007.xlsx)

[2017-11-21 19:36] ltsheu commented on #304
@EStriegel The instructions on Work Sites and Employees are ready for your review!
https://dol-whd-section14c-int.aisdemos.com/#!/section/work-sites

[2017-11-21 19:38] ltsheu commented on #297
@binwang89 The Work Sites & Employees page is ready for accessibility review.
https://dol-whd-section14c-int.aisdemos.com/#!/section/work-sites

Here is the updated spreadsheet:
[DOL14c-Accessibility-Remediation.xlsx](https://github.com/18F/dol-whd-14c/files/1492713/DOL14c-Accessibility-Remediation.xlsx)

[2017-11-21 19:40] ltsheu commented on #425
@phirefly and @EStriegel  The CSS updates are ready for your review on Work Sites & Employees page.
https://dol-whd-section14c-int.aisdemos.com/#!/section/work-sites

[2017-11-21 19:42] ltsheu commented on #109
@EStriegel  The sliding panel for Employee data examples has been implemented, and ready for your review.
https://dol-whd-section14c-int.aisdemos.com/#!/section/work-sites

[2017-11-27 15:03] ltsheu opened #448 "IE browser: Top navigation items cannot be triggered with Enter key"
## Bug Description

In the IE browser, the top navigation items (Assurances, Application Info, etc) cannot be triggered with the Enter key. The Enter key works for these items in Chrome.

This is a keyboard accessibility issue.

## Acceptance Criteria

- [ ] In IE and all browsers, the Enter key can be used to trigger Top Navigation items.

[2017-11-27 15:22] ltsheu opened #449 "'Add a Source Employer' needs focus management"
## Bug Description

Page: Wage Data
https://dol-whd-section14c-int.aisdemos.com/#!/section/wage-data

1. Under **Which method did the employer use to determine the Prevailing Wage for the job or contract identified above?**, choose **Prevailing Wage Survey**
2. Click **Add a Source Employer**
3. Press the Tab key
4. Bug: The Tab order skips the entire **Add a Source Employer** form and goes to the

[2017-11-27 15:28] ltsheu commented on #294
Added user stories for Bugs #448 (IE Enter key issue in the top nav) and #449 (Add a Source Employer focus management issue).

[2017-11-27 16:23] phirefly opened #450 "Create a reference for PDF output based on user flow logic"
As a user would like a pdf generated based on templates for initial and renewal applications so that I can have a portable 14c app

## Acceptance Criteria

#### Functionality

- [x] initial application design - finalize design of PDF template - @simplyshang
- [x] Renew application design  - finalize design of PDF template- @simplyshang
- [x] update existing html template - @simplyshang
- [x] integ

[2017-11-27 16:24] phirefly commented on #318
Discussions completed. Created #450 to capture the work for the reference doc.

[2017-11-27 16:24] #318 closed

[2017-11-27 18:18] phirefly opened #453 "Create test plans for QAing Epics"
These will occur during the development pause

[2017-11-27 18:48] simplyshang commented on #291
@phirefly @EStriegel I think we can use this story for the Error pages; not sure if it had a different purpose, but it's a little vague at the moment. If you guys agree I can move it into Sprint 5 Tentative.

[2017-11-27 19:15] ltsheu commented on #212
These text edits are complete.

[2017-11-27 19:26] ltsheu opened #455 "Create Pattern Library Page for Form Components"
As a developer I would like a catalog of markup snippets to use as a reference when adding form fields, help buttons, help text, etc.

**THIS IS A DUPLICATE OF #333**

[2017-11-27 19:47] ltsheu opened #456 "Bug: Accessibility: 508: Each page needs a unique identifier in the <title> tag"
**Issue identified by DOL accessibility tester:** There is no meaningful page title in plain language.

This refers to the `<title>` tag. Currently the `<title>` tag says "DOL WHD Section 14(c)" for each page of the application. The page names should also be represented in the `<title>`.

## Acceptance Criteria

- [x] Assurances `<title>` should be: **Assurances | DOL WHD Section 14(c)**
- [x] App

[2017-11-27 19:57] ltsheu opened #457 "Bug: Accessibility: 508: Style sheet dependance (accessibility issue)"
**Issue identified by DOL accessibility tester:** Programming code or other confusing elements are revealed on the page when CSS is disabled.

**Details:** All pages display extra text, as well as buttons, when CSS toggle is invoked (or CSS disabled). When CSS is disabled, only the text that is seen on the page with CSS-on should be visible.

**Task:**

When CSS is disabled:
- [ ] **Hide the Form

[2017-11-27 20:26] simplyshang commented on #406
Last usability test will be on 11/29; will wait until that test is completed and then summarize all the results at one time. Will review in Sprint 5.

[2017-11-27 20:27] simplyshang commented on #76
Needs an implementation story.

[2017-11-27 20:32] simplyshang commented on #214
Please refer to this prototype for the placement/order of the EIN: https://preview.uxpin.com/34b79c33c3e7f858ed533bcba5759c73521ac4af#/pages/77615508/simulate/sitemap?mode=i.

It should go before "Physical Address of Employer's Main Establishment" and after "Has the Employer’s name(s) changed since its last application?"

[2017-11-27 20:55] simplyshang commented on #342
Reference #98

[2017-11-27 21:46] ltsheu commented on #299
Ready for review.

[2017-11-28 19:03] EStriegel commented on #156
@simplyshang Here is the language for the SME contact info -

[Help Page - SME Contact Info.docx](https://github.com/18F/dol-whd-14c/files/1511292/Help.Page.-.SME.Contact.Info.docx)

[2017-11-28 19:04] jmmcnj commented on #381
Create Implementation associated User Story before final review/closeout

[2017-11-28 19:04] jmmcnj commented on #69
Create Implementation associated User Story before final review/closeout

[2017-11-28 19:04] jmmcnj commented on #76
Create Implementation associated User Story before final review/closeout

[2017-11-28 19:18] jmmcnj commented on #366
Madhu - on review call completed closouet

[2017-11-28 19:18] #366 closed

[2017-11-28 20:02] mmurthydol commented on #156
@EStriegel Liz, this info looks great for business and not technical support issues!
@phirefly For application technical support issues - are we looking at using an email/phone number combo? Wondering what's the word on that - thought you were scoping this issue out. Thanks.

[2017-11-28 20:50] dciceman commented on #391
The following database tables need to be updated in order to support the new Login Workflow.

Database Schema Update
-  Users
    - Add FirstName
    - Add LastName
    - LastModifiedBy
    - LastModifiedAt
    - CreatedBy
    - CreatedAt
- UserClaims
    - LastModifiedBy
    - LastModifiedAt
    - CreatedBy
    - CreatedAt
- UserLogins
    - LastModifiedBy
    - LastModifiedAt
    - CreatedBy

[2017-11-29 18:48] jmmcnj opened #461 "Research Spike - Stylesheet Dependence"
Research spike relarted to story #457
1 hour meeting with 508 tester to better understand requirements

[2017-11-29 19:42] EStriegel commented on #177
Updated with a few tweaks.

[WH-226.Instructions.2016.Revision.eform.instructions.11.29.17.docx](https://github.com/18F/dol-whd-14c/files/1515275/WH-226.Instructions.2016.Revision.eform.instructions.11.29.17.docx)

[2017-11-29 22:51] mmurthydol commented on #391
@dciceman Closing the issue. Changes from here go in to login workflow API.

[2017-11-29 22:54] #335 closed

[2017-11-29 22:56] mmurthydol commented on #455
@ltsheu Leslee, thought you are working on this in Sprint 5??

[2017-11-29 22:58] mmurthydol commented on #263
@dciceman David, I think this code is merged in to main right?

[2017-11-29 23:47] mmurthydol opened #464 "Implementation - As a WHD Security Officer, I would like each User's session to timeout from inactivity set to WHD policies"
For reference, please use: #76

Please use the most recent prototype link (latest comment from Shannon in story #76): https://preview.uxpin.com/6dc6e8912fdaeb32cdfefa6e237f0d300d960588#/pages/77031627/simulate/no-panels?mode=i

- [x] Research spike on Angular Module - https://hackedbychinese.github.io/ng-idle/
- [x] Implement module
- [ ] Test - Regression tests/code cov/Accessibility Testing

[2017-11-29 23:50] mmurthydol commented on #464
@mgwalker Greg this is a security story on the UI side only if you think you can take a crack at it. Thanks!

[2017-11-30 13:35] dciceman commented on #263
@mmurthydol Yes, the server side code has been merged.

[2017-11-30 14:44] ltsheu commented on #455
@mmurthydol #455 is a duplicate of #333. I accidentally created it, and then Shannon pointed out that we already have #333. So I marked #455 as a duplicate. Please close #455. Thanks.

[2017-11-30 16:19] mgwalker commented on #464
This comment is mostly for myself, so I don't lose it. [This ng-idle angular module](https://hackedbychinese.github.io/ng-idle/) looks like it'll get us most of the way there.

[2017-11-30 16:32] mmurthydol commented on #455
@ltsheu Thanks for the response. Missed seeing the description. In future please feel free to close the issue - more than ok :)

[2017-11-30 16:32] #455 closed

[2017-11-30 20:21] #309 closed

[2017-11-30 20:22] #258 closed

[2017-11-30 20:22] #260 closed

[2017-11-30 20:22] #188 closed

[2017-11-30 20:22] #259 closed

[2017-11-30 20:22] #303 closed

[2017-11-30 20:22] #302 closed

[2017-11-30 20:22] #305 closed

[2017-11-30 20:22] #301 closed

[2017-11-30 20:22] #81 closed

[2017-11-30 20:22] #341 closed

[2017-11-30 20:23] #350 closed

[2017-11-30 20:23] #161 closed

[2017-11-30 20:23] #263 closed

[2017-11-30 20:23] #391 closed

[2017-11-30 20:36] phirefly commented on #344
Viewed and approved during demo

[2017-11-30 20:36] #344 closed

[2017-11-30 20:36] #293 closed

[2017-11-30 20:49] phirefly commented on #342
@simplyshang Do you know if this is referring to the global requirements? If so, have we captured the validations when adding individual employees to a work site?

[2017-11-30 20:50] phirefly commented on #342
^^ Referring to the comment we heard during user testing on 11/29.

[2017-12-01 17:16] davoodharun commented on #439
@EStriegel I am not experiencing this. @ltsheu, @mmurthydol, @mgwalker, @jmmcnj can any of you confirm this is still an issue?

[2017-12-01 17:30] ltsheu commented on #439
@davoodharun I suspect it would only happen if the user has not filled out the form yet -- such as a brand new application, where the radios are not selected yet? I cannot reproduce it with my current account because my application is in progress and the radio already selected.

[2017-12-01 17:51] mmurthydol commented on #439
@davoodharun Liz is out till next wednesday. I would hold off till she is back and confirms that she can repro the issue.

@EStriegel Liz When you get a chance could you please repro the issue and update the story and alert Harun (please close the story if cannot repro).

Thanks!

[2017-12-01 21:15] ltsheu commented on #461
This research is complete.

[2017-12-04 21:24] ltsheu commented on #457
@phirefly @mmurthydol  Please see recommendation notes in the user story description.

[2017-12-04 22:02] mmurthydol commented on #457
Thanks Leslee!

[2017-12-05 23:35] mmurthydol commented on #292
@davoodharun  This story  #292 (breadcrumbs) is also related to #193 (DOL banner page reqs)
Shannon's Ux Spec outlines the "white" band and breadcrumb placement. https://preview.uxpin.com/48170bbaf1be987c1ab6af96c6c56e1b719ca1de#/pages/76592113/simulate/sitemap?mode=i
Please see attached document that provides the latest info for breadcrumbs implementation on what to display for breadcrumbs.

Wond

[2017-12-05 23:50] mmurthydol commented on #292
@jmmcnj @EStriegel @phirefly This story is currently awaiting acceptance but needs some work. This shouldn't take much time and Harun can probably have Steven work on. Would be good to get this done before Dec 13th from QA and SOL perspective. Thanks

[2017-12-07 15:01] ltsheu commented on #333
The UI Library Page is ready for review. It is best viewed in the Chrome browser.
https://dol-whd-section14c-int.aisdemos.com/#!/v4/ui-library

[2017-12-07 17:09] simplyshang opened #469 "Text Edits from OMB Screenshots"
In preparing the screenshots for the OMB review, there were some areas of the application where text changes were made. These need to be incorporated into the application.

This prototype has the text edits, identified by callouts w/yellow borders: https://preview.uxpin.com/d217c031c2dafec225a80652ee085d04ccafc106#/pages/78317778/comment/sitemap?mode=i

## Acceptance Criteria

#### Functionality

[2017-12-07 21:36] #227 closed

[2017-12-07 21:40] mmurthydol commented on #292
@davoodharun Moved this from "Awaiting acceptance" to "In Progress" due to the comments listed above.  Please direct Steven (or Steve?) to work on this. Thanks.

[2017-12-08 16:46] EStriegel commented on #347
Testing completed. Moving to `Done`

[2017-12-08 17:10] davoodharun commented on #439
@EStriegel were you able to revisit this?

[2017-12-08 18:21] EStriegel commented on #439
@davoodharun I still see the error on my application (in that no radio button is selected, but the prevailing wage questions are still visible).  I suspect this happened because I toggled my "in-progress" application from renewal application (with a radio button selected) to initial application (which doesn't display the Wage Data screen) and then back to renewal application (shows no radio button

[2017-12-08 19:27] phirefly opened #471 "Implementation: As a user, I can find how to make a PDF for file upload so that I can have an optimal experience"
This is the implementation for #343

As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

[2017-12-08 19:28] EStriegel commented on #343
@mmurthydol Please confirm the CGI recommendation above.  Can be closed when you approve.

Raphy has created #471 for implementation.

[2017-12-08 19:35] EStriegel commented on #210
UX design created.  Moving to `Done`

[2017-12-08 19:38] EStriegel commented on #262
Moving to `Done`.  Implementation story is #197.

[2017-12-08 19:39] EStriegel commented on #461
Story complete, moving to `Done`

[2017-12-08 19:43] EStriegel commented on #283
Implementation story #417.  Moving to `Done`.

[2017-12-08 19:44] mmurthydol commented on #343
@phirefly CGI above will work for this purpose and for any other external links from the application.

[2017-12-08 19:44] #343 closed

[2017-12-08 19:45] mmurthydol commented on #471
@phirefly @davoodharun This is a story that can be done by Steven under Haru's direction.

[2017-12-08 19:45] phirefly opened #472 "Bug: Clicking on the `Account` link on the dashboard results in the browser hanging"

[2017-12-08 19:49] EStriegel commented on #244
Closed in favor of #345.

[2017-12-08 19:51] EStriegel commented on #206
Bug preventing acceptance - story #472

[2017-12-08 19:51] phirefly commented on #472
When complete, please unblock #206 and notify @EStriegel

[2017-12-08 20:11] simplyshang commented on #471
@mmurthydol @phirefly @davoodharun Just an FYI, I included the link we needed in the text edits and was just showing Steven, so hopefully that can act as a point of reference for this, too.

[2017-12-12 12:18] simplyshang commented on #342
This prototype contains the additions for required fields: https://preview.uxpin.com/d217c031c2dafec225a80652ee085d04ccafc106#/pages/78317778/simulate/sitemap?mode=i

[2017-12-12 12:20] simplyshang commented on #342
Since the majority of fields are required, text will be added to alert users that all "fields are required unless indicated as optional". This should be below the heading of each page of the application:
![all-unless-optional.png](https://images.zenhubusercontent.com/57e6f0e395e42b6c5ba9656c/dff93002-f47a-459e-bca8-6af0d05fb12f)

Here's an example of a field labeled as optional:
![optional-field.p

[2017-12-12 12:21] simplyshang commented on #406
PDF of research summary: [https://app.zenhub.com/files/68946896/07d88883-dd4e-4317-8e43-fcca4a34721c/download](https://app.zenhub.com/files/68946896/07d88883-dd4e-4317-8e43-fcca4a34721c/download)

[2017-12-12 12:28] simplyshang commented on #342
@phirefly I did make a recommendation in the research summary for the issue you mentioned that we saw during that usability test. It's slightly different than required fields, because the user needs to know how to handle each field in that question. Here's a screen shot:
![rec.png](https://images.zenhubusercontent.com/57e6f0e395e42b6c5ba9656c/4c612d5c-e789-4f58-ac90-77bb8bf3f60b)

[2017-12-12 13:02] simplyshang commented on #291
Prototype link for error pages: https://preview.uxpin.com/fa79f052ecaa5fb5c3f2e134550c33aa4613a12b#/pages/78408010/simulate/sitemap?mode=i

[2017-12-12 15:15] davoodharun commented on #472
@phirefly after discussing with a few other people, we don't actually have a working account page. I think that page is in progress. The account link was still broken though. I fixed it to how it was working earlier  by linking it to the changePassword page. A few of the routes were broken after moving routes out of the main app.js file.

[2017-12-12 16:02] simplyshang commented on #453
Attaching the first draft. Updates are forthcoming after Sprint Review/Retro.

Feature Workflow
[https://app.zenhub.com/files/68946896/57458c28-5568-44ee-8ac5-f5431022e13f/download](https://app.zenhub.com/files/68946896/57458c28-5568-44ee-8ac5-f5431022e13f/download)

Registration Workflow
[https://app.zenhub.com/files/68946896/e7f157a4-2a75-4961-8de3-8531583c1b03/download](https://app.zenhub.com/f

[2017-12-12 17:45] mmurthydol commented on #333
PR merged: https://github.com/18F/dol-whd-14c/pull/468

[2017-12-12 17:48] mmurthydol commented on #333
Awaiting acceptance:
- [ ] @ltsheu Note at the top to use Chrome/Firefox to view this page (not IE)
- [ ] Need some updates from @davoodharun on what to do for Angular side of things.

[2017-12-12 18:18] jmmcnj commented on #135
backend changes done by @dciceman need to test failure bubbling up to user and message displayed

[2017-12-12 18:26] ltsheu commented on #333
@mmurthydol I have added the Note to the top of the Pattern Library. This change will show on INT after PR #479 is merged.

[2017-12-12 18:26] jmmcnj commented on #120
@davoodharun can make pull request to replace after submission that button is replaced, need to have login workflow commited to have application status due to changes of login/dashboard, one to many applications per user

[2017-12-12 18:40] jmmcnj opened #480 "Bug: Issue related to Breadcrumbs"
As a [type of user] I would like [functionality, behavior, etc.] so that [a particular task or need that is satisfied by the functionality or behavior]

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboa

[2017-12-12 19:56] mmurthydol opened #482 "EIN based edge case when employer already exists"
TODO @davoodharun to provide description.

[2017-12-13 18:40] mmurthydol opened #490 "UI - As a user, I would like my Full Name to be captured as First Name, Last Name to prevent data quality issues"
related to #491

## Acceptance Criteria

#### Functionality

- [x] Assurances (#440)
https://preview.uxpin.com/d217c031c2dafec225a80652ee085d04ccafc106#/pages/78317797/simulate/sitemap

- [x] Application Info - Application Contact Person
https://preview.uxpin.com/d217c031c2dafec225a80652ee085d04ccafc106#/pages/78317799/simulate/sitemap

- [x] Wage Data - Hourly - Prevailing Wage Survey: Source Emp

[2017-12-13 18:46] mmurthydol opened #491 "API - As a user, I would like my Full Name to be captured as First Name, Last Name to prevent data quality issues"
see #490 for all places where full name is being split to first/last name. Ensure that all API/DB calls/columns are changed accordingly.

## Acceptance Criteria

#### Functionality

- [ ] Ensure no API/DB contain Full Name, but split to First Name, Last Name.
- [ ] Document/Communicate any missing specs so UI story can be changed accordingly as well.
#### Accessibility
N/A

[2017-12-13 19:35] mmurthydol opened #492 "As a user, I encounter an error when I submit an application after changing from "Renew" to "Initial""
From Harun: _Also, there is a edge case in which if you try to switch from Renewal to Initial (but not the other way around) you will get an error during submission even though the review page says all the validation is correct and okay to submit; there is extra information that needs to be submitted when Renewal is selected in the Application Info section. If you switch from Renewal to Initial wi

[2017-12-13 23:01] mmurthydol opened #495 "UI: As an employer I would like to upload *all* current SCA wage determinations"
Related to #496

## Acceptance Criteria

#### Functionality
- [x] Perform  client side validation to ensure only one attachment is allowed for all attachment types except for SCA attachments for the Employers section *only*!!! SCA attachments for Wage Data section Hourly, Wage Data Section Piece Rate should *only* allow *single* attachments. Please view image below for where these SCA attachments

[2017-12-13 23:09] mmurthydol opened #496 "API: As an employer I would like to upload *all* current SCA wage determinations"
Related to #495
This story blocked by  #190

## Acceptance Criteria
- [x] Support #495 requirements

#### Functionality
- [x] Implement (?internal? generic?) API upload method that supports multiple file uploads. @dciceman Discuss with Madhu. Unless File API is componentized, not possible to support generic multiple file upload method.
- [x] Implement an API upload method that supports multiple up

[2017-12-13 23:24] #461 closed

[2017-12-15 22:07] binwang89 opened #497 "Bug: Wage Data show duplicate breadcrumbs"
Bug Description
In  the 14c application, there are duplicate breadcrumbs displayed in Wage Data page.

## Acceptance Criteria

Please remove the 2nd breadcrumbs from the page.

![duplicate breadcrumbs](https://user-images.githubusercontent.com/25330625/34062412-74a6e61e-e1ba-11e7-94c0-37c4295a7b7b.JPG)

[2017-12-19 07:06] mmurthydol opened #498 "Bug: Slider auto-populates employee fields based on previous employee entry"
**AutoPopulates based on previous employee fields**
- [ ] Sabrina Steel, Chrome, TCFW09, Step 7: After adding the first employee, the slider auto-populates the "average earnings per hour for all jobs at this work site" and the "prevailing wage rate for job described above" based on previous employee entry.

- [ ] Helen Applewhaite, IE, TCFW09, Step 4: After adding the first employee, the slider au

[2017-12-19 07:09] mmurthydol opened #499 "Bug: Slider clears out completed employee fields based on previous employee entry"
- [ ] Sabrina Steel, Chrome, TCFW09, Step 7: When user gets to Review/Submit page, message indicates error on Worksite and Employees section.  Errors are within employee data and show empty fields that user did already complete.  System seems to be clearing out completed fields.

EXAMPLE ONE: Empty fields are: "Average earnings per hour for this employee", "prevailing wage rate for the job identif

[2017-12-19 07:41] mmurthydol opened #500 "Bug: As a user, I would like application to provide default values to fields that do not apply to me."
Usability must be based on principle of least surprise. User shouldn't have to enter data for fields that do not apply to them.

- [ ] Sabrina Steel, Chrome, TCFW11, 3: Application does not indicate that user should enter 0 for
      categories (CRP, Hospital, SWEP, Business) where they do not employ ww/d.  Error occurs on
      review/submit if categories are left blank.
- [ ] Eliminate similar e

[2017-12-19 08:01] mmurthydol opened #501 "As an employer I would like to bulk upload employee data"
TODO story needs to be groomed

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

##### Keyboard Accessibility

- [ ] An interactive element or function can be accessed or activated by keyboard
- [ ] keyboard "trap" not found
- [ ] if non-standard keyboard commands are needed and they are documented
- [ ] TITLE

[2017-12-19 08:05] mmurthydol opened #502 "Bug: Phone number & Certificate number fields aren't Validating correctly."
- [x] Previous certificate number should only allow xx-xxxx-#-xxx options S, H, E, P only - xxx.
       Syntax: 12-34567-H-890 (options: S, H, E, P)
- [x] Validate phone number allowing common phone syntax. 123-345-6789, (123)-345-6789, etc. Common validation RegEx expressions must be available on the web. Ask Harun as needs be. Or do some thing simple if RegEx expression validation is not impleme

[2017-12-19 18:46] mmurthydol opened #503 "Bug: A null data table row is created after creating an employee"
- [x] Add a cancel button to fix the problem. Rest of items below do not apply.
- [ ] AIS Dev: Please look at this defect if problem was reproduced by DOL, If not please alert DOL.
- [ ] DOL: DIT: Reproduce the error @binwang89: Michelle, please work with Troy. Troy's existing application should *not* be removed from the DB. We want to reproduce the error on someone else's account (or a new email

[2017-12-19 18:53] mmurthydol opened #504 "Bug: Review and Submit page - Submit button is enabled and active when validation errors are present on the page"
- [ ] Michelle, Chrome, TCFW-10, Step 8: Review and Submit page - Submit button is enabled and active when validation errors are present on the page.

[2017-12-19 18:59] mmurthydol opened #505 "Bug: Review and Submit page - The Next Button must not be present and only "BACK" button must be presented."
- [ ] DOL: @EStriegel to confirm placement of buttons and document here.
- [ ] AIS: Steve please work with Harun if fix not obvious. Should be straight forward.
- [ ] Michelle, Chrome/IE, TCFW-10, Step 8: Review and Submit page - The Next Button should not be there after the "Public Burden Statement", Remove "Next" from Review section and bring "BACK" button above Public Burden statement.

[2017-12-20 17:16] phirefly opened #506 "When you click "Save Source Employer" within PW, you are taken to the bottom of the page."
This is a scrolling issue that occurs on the Wage Data page while creating a source employer.

Tested in IE. Does not occur in Chrome.

[2017-12-20 17:22] phirefly opened #507 "Error on Review Submit page sends user back to Work Sites & Employees page without highlighting the specific table with the error."
Visual examples provided by @simplyshang on 1/12:

https://preview.uxpin.com/da3326850f708e4e85d1e563c60e4f277fd2eee1#/pages/79393716/simulate/no-panels?mode=i

1. Work Site Table - indicates error on a work site
2. Work Site Table - indicates error on an employee
3. Work Site Table - indicated error on both a work site & Employee
4. Employee Table - indicates which specific employee has error(s)

[2017-12-20 17:22] EStriegel commented on #507
![image](https://user-images.githubusercontent.com/19496579/34219823-75ff6f08-e580-11e7-9010-2e22f0519684.png)

[2017-12-20 17:26] phirefly opened #508 "Submission message to contain information about email"
On the successful submission page, include the following text:

`If you have not received an email confirmation within XX hours, please contact us at... `

[2017-12-20 17:29] phirefly opened #509 "Implementation: Indicate required fields within the application"
Implementation for #342

Since the majority of fields are required, text will be added to alert users that all "fields are required unless indicated as optional". This should be below the heading of each page of the application:
![image](https://user-images.githubusercontent.com/19496579/34690750-5330ab10-f488-11e7-9acf-185059061fb1.png)

Here's an example of a field labeled as optional:
![image](

[2017-12-20 20:24] binwang89 opened #510 "Bug: The Register button is not working in Edge browser."
Bug Description:
When creating an account, in Edge, I am un-able to REGISTER.  When I click REGISTER, the page does nothing. EIN is correct format, email is distinct, password meets all requirements.

[2017-12-20 20:27] binwang89 opened #511 "Bug: In IE browser, TCRW-01/8, Account Creation - When creating a account the page does not refresh, the page scroll to the top. Page should refresh and account creation should say without scrolling."
Bug Description:
Account Creation - When creating a account the page does not refresh, the page scroll to the top. Page should refresh and account creation should say without scrolling.

[2017-12-20 20:32] binwang89 opened #512 "Bug: Email - TCRW-02/3, When entering a email. Email is case sensitive"
@EStriegel This defect can cause various application support issues and is well worth fixing. The API effort isn't worth much. UI effort is not high either. (Steven can do the work I believe).

Bug Description:
Email -   When entering a email. Email is case sensitive

For UI/Harun
- [x] Update Zip code field to only allow 5 digits.

For API/David
- [x] All API methods must convert email to lower c

[2017-12-20 20:53] binwang89 opened #513 "Bug: TCFW-10/1, The 'Date' field on the Assurances tab is not validating the information correctly."
Bug Description:
The 'Date' field on the Assurances tab is not validating the information correctly (e.g., I entered a date in the future -- year 3000).  The system should not allow entering future dates.

[2017-12-20 21:02] binwang89 opened #514 "Bug: TCFW-10/2, System allows entering preceding spaces (e.g., in front of the email address, and other fields)."
Bug Description:
TCFW-10/2, System allows entering preceding spaces (e.g., in front of the email address, and other fields).

Especially fields used for registration (user email, employer name, address) must not have this problem.
With those fields, problem is critical.

**Acceptance Criteria**
- [x] Trim **all** the text fields in *all* pages in the application for blanks/tabs (prefix, suffix, be

[2017-12-20 21:07] binwang89 opened #515 "Bug: TCFW-10/3, Employer > Employer Information: System is not validating the Zip Code field. I entered all zeros intead of entering numbers (e.g., 20024)."
Bug Description:
Employer > Employer Information:  System is not validating the Zip Code field. I entered all zeros instead of entering numbers (e.g., 20024).

[2017-12-20 22:33] mmurthydol commented on #510
Defect is deferred till Edge support becomes a requirement.

[2017-12-20 22:33] #510 closed

[2017-12-20 22:39] mmurthydol commented on #512
DOL following up with DB2 whether DB can be configured to be not case-sensitive. Solution will depend on how db is configured.

[2017-12-20 22:49] mmurthydol commented on #515
Deferred. Cannot validate zip code till we hook up to address validation service.

[2017-12-20 22:49] #515 closed

[2017-12-21 17:19] mmurthydol opened #516 "Bug: API must ensure a new application is not created if one is already in progress"
This functionality is most likely in the process of being implemented with the new login workflow.
Related to #517

- [x] Application status logic to be confirmed by @EStriegel
      - Application is considered to be in progress if today's date is in the same "calendar" year as the date
        application was created and hasn't been submitted yet.
      - In other words, New application can be cr

[2017-12-21 17:21] mmurthydol opened #517 "Bug: UI must ensure a new application is not created if one is already in progress"
This functionality is most likely in the process of being implemented with the new login workflow.

## Acceptance Criteria

#### Functionality

- [x] UI uses an API call that returns all applications/status for the currently associated employer for the logged in user. Use an API to get a list of employers associated with the logged in user if necessary.
- [x] Display application info for the said

[2017-12-21 19:14] mmurthydol opened #518 "Bug: Name of PDF attachment is not descriptive"
Currently the file name is Concatenate.Pdf and not descriptive. This makes it hard for the cert team.
Shouldn't take too long to implement.

## Acceptance Criteria
- [ ] File name must use following syntax: section-14c_<employer-name-with-hyphens>_<submission-date-with-hyphens>
Ex: section-14c_Myles-Cleaners_2017-07-29

[2017-12-21 19:25] mmurthydol opened #519 "Bug: Cannot track across activity & error logs"
## Acceptance Criteria
- [ ] Currently correlation Id is created by the error API and is used as an error Id.  Error log must contain a column that includes Activity Id when the error originated in a web method.

[2017-12-21 20:01] mmurthydol opened #520 "Admin functionality for milestone 1"
Admin functionality needed to manage an application in production. At the minimum on the DIT/OCIO/App support side of things.

@EStriegel Need to identify these stories needed and make them part of this epic. Some stories might already exist in backlog/ice box.

## Acceptance Criteria

#### Functionality

- [ ] functionality criteria 1
- [ ] functionality criteria 2
- [ ] etc.

#### Accessibility

[2017-12-21 20:04] mmurthydol commented on #80
LockoutEndDate not populated  in the DB - FYI to @dciceman

[2017-12-21 20:37] mmurthydol opened #521 "Bug: Fix API errors displayed in the error log"
Review the errors in the error log  which can be due to API (C#)/UI (Java script). Fix the API errors indicated below and any others. Be sure to check error log after every defect fix or after implementing features.

## Acceptance Criteria
- [x] Controller : DOL.WHD.Section14c.Api.Controllers.SaveController, Action : GetSave
       A circular reference was detected while serializing an object of t

[2017-12-21 20:49] phirefly commented on #497
@binwang89 will verify this is an IE bug

[2017-12-21 20:56] EStriegel opened #522 "Data Table error message"
- [ ] @EStriegel please provide the repro steps for this defect.

![image](https://user-images.githubusercontent.com/19496579/34274641-7b3d597a-e667-11e7-8e1c-06e21abd9c62.png)

[2017-12-21 20:58] binwang89 commented on #497
@phirefly it is happening in Both IE/Chrome, INT/QA site both.

[2017-12-21 21:15] binwang89 opened #523 "Bug: Initial application, in Review & Submit page, the Wage data must not be displayed."
@EStriegel Liz, please confirm our understanding that this is a defect. if not please close story. In either case remove yourself from assignee list. Please review labels and change as appropriate. If needed for milestone 1, we will need to prioritize appropriately in the backlog.

- [x] Research spike for @davoodharun and @dciceman to figure out extent of issue and update estimate of greater than

[2017-12-21 21:25] binwang89 opened #524 "Bug: Initial application, the Wage data should not be displayed."
@EStriegel Liz, please confirm it is a defect.
![image](https://user-images.githubusercontent.com/25330625/34275181-18bad6bc-e66a-11e7-8ce8-e5531cfb717f.png)

![image](https://user-images.githubusercontent.com/25330625/34275155-fad9c298-e669-11e7-8754-f2258b328b81.png)

[2017-12-21 21:38] binwang89 opened #525 "Bug: On the Work Sites & Employees page, CSV file download, the excel file not not include the “Edit” and “Delete” in the file."
![image](https://user-images.githubusercontent.com/25330625/34275852-0c96832e-e66d-11e7-84e0-94affa0aed70.png)

![image](https://user-images.githubusercontent.com/25330625/34275809-e7cc3dea-e66c-11e7-9cca-d77f02601709.png)

[2017-12-21 21:42] binwang89 opened #526 "Bug: The User from Assurance page might not receive email with attached PDF file after application submitted by logged in Point of Contact."
@EStriegel Who needs to receive upon application submission on the employer side? The logged in user correct? What about the email specified in the assurances page - do they need to be sent an email? Could you please state desired behavior? If email needs to be sent to the one on assurances page, and if email is invalid, there is no way to know in the back end. We might want to add verbiage to thi

[2017-12-21 21:49] binwang89 opened #527 "Bug: total number of worker with disabilities must conform to policy."
Bug description: currently we can enter large number, example 50000.
@EStriegel Liz, what is allowable range per policy for this field?

![image](https://user-images.githubusercontent.com/25330625/34276343-022a8afa-e66f-11e7-836e-cfe75c473f0c.png)

[2017-12-21 22:27] binwang89 opened #528 "Bug: multiple browser session related issue"

[2017-12-22 01:01] mmurthydol opened #529 "Bug: A logged in user must not be allowed to login again simultaneously."
@EStriegel We don't need this for mile stone 1. Could be a security issue hasn't been flagged as an ATO issue. More like FYI.

[2017-12-22 04:14] mmurthydol commented on #523
duplicate of #524. Closing this issue.

[2017-12-22 18:09] EStriegel commented on #416
@mmurthydol Can you confirm that this was pushed to Integration, but not QA?

[2017-12-22 18:10] EStriegel commented on #417
@mmurthydol Can you confirm that this was pushed to Integration, but not QA?

[2017-12-22 18:17] EStriegel commented on #379
Closing in favor of #156

[2017-12-22 18:17] #379 closed

[2017-12-22 18:19] EStriegel commented on #449
@binwang89 Can you add a label to this bug (minor/major/ciritcal)?

[2017-12-22 18:23] EStriegel commented on #166
QA testing verified that an email confirming submission is sent/received.

[2017-12-22 18:25] EStriegel commented on #168
QA testing verified that an email is sent/received.

@binwang89 @mmurthydol Leaving this story open until we have an email address to update config.

[2017-12-22 18:29] EStriegel commented on #167
QA testing verified PDF is sent with email confirming submission.

[2017-12-22 18:30] EStriegel commented on #167
@phirefly You can close this story once new story for PDF updates is created.

[2017-12-22 18:32] EStriegel commented on #174
@phirefly  @mmurthydol Does this still need to be split into two stories?  Or can it be closed?

[2017-12-22 18:36] EStriegel commented on #368
@phirefly This can be converted into implementation story based on design in #206

[2017-12-22 18:43] EStriegel commented on #448
@binwang89 Can you label this bug (ciritical/major/minor)?

[2017-12-23 04:56] binwang89 commented on #448
done.

[2017-12-28 16:24] EStriegel commented on #206
Typo in password changed message:

![image](https://user-images.githubusercontent.com/19496579/34416457-92b9778c-ebc1-11e7-801b-3f1fd33e7cca.png)

[2017-12-28 16:27] EStriegel commented on #472
Confirmed Account link takes user to Change Password page in QA.  Moving to `Done`

[2017-12-28 16:29] EStriegel opened #530 "Change password page does not offer navigation - Dashboard/Account/Sign Out links missing"
This page:
![image](https://user-images.githubusercontent.com/19496579/34416592-3525d498-ebc2-11e7-8c53-ff8feb59217c.png)

Missing these links:
![image](https://user-images.githubusercontent.com/19496579/37051048-7ad9e6ee-2143-11e8-9c71-4a412f9917e0.png)

[2017-12-28 16:31] EStriegel commented on #135
@mmurthydol Please confirm this has been completed.

[2017-12-28 16:35] EStriegel commented on #333
@mmurthydol Are you still waiting for the two items above to be completed?  Suggest moving to `In Progress`, if so.

[2017-12-28 16:38] EStriegel commented on #387
Confirmed help buttons function.  Moving to `Done`

[2017-12-28 16:39] EStriegel commented on #286
@mmurthydol Can you confirm this is done?

[2017-12-28 16:42] EStriegel commented on #345
Confirmed functionality.  Moving to `Done`

[2017-12-28 16:44] EStriegel commented on #438
Confirmed that data table of work sites exists.  Moving to `Done`

[2017-12-28 16:51] EStriegel opened #531 "Add "Show Help for All Items" link to employee data slider"
Add link to this page:

![image](https://user-images.githubusercontent.com/19496579/34417250-715cdb3e-ebc5-11e7-8934-d1bbb511d7eb.png)

 - [ ] Ensure all help text items are open ONLY on slider and NOT on main page

[2017-12-28 16:57] EStriegel opened #532 "Implementation - Text addition to question, "Provide the number of workers...in each of the following categories:""
Implementation of #342

Add "If no workers, enter "0"" next to answer box of each category. See screenshot below.

![image](https://user-images.githubusercontent.com/19496579/34690821-a09b939c-f488-11e7-9a9f-0051b962139d.png)

[2017-12-28 19:16] binwang89 opened #533 "Bug: Wage Data page is not enable in top menu for initial application, Should not displayed in Review & Submit page."
Bug Description:
For   Initial application,  the Wage Data   page is not enable in top menu, but in Review & Submit page, the Wage   data is displayed there.

![image](https://user-images.githubusercontent.com/25330625/34420802-893c2ffc-ebd9-11e7-9199-7a92799eab44.png)
![image](https://user-images.githubusercontent.com/25330625/34420811-9c5f79d6-ebd9-11e7-9331-8a3e619485cd.png)

[2017-12-28 19:19] binwang89 commented on #533
Closed this issue, duplicate with #523

[2017-12-28 19:19] #533 closed

[2017-12-28 19:28] binwang89 commented on #387
@EStriegel I tested it in QA site, the help link for piece rate is working now.

[2017-12-28 19:30] binwang89 commented on #333
@EStriegel OCIO 508 tester is working on this page with other 14c application pages.

[2017-12-28 20:09] EStriegel commented on #524
Potential future feature.  Moving to `Icebox`

[2017-12-28 20:11] EStriegel commented on #527
Closing as this is not a bug.

[2017-12-28 20:11] #527 closed

[2017-12-28 20:15] EStriegel commented on #528
Not necessary for milestone 1, but added to `Icebox` for future consideration.

[2017-12-28 20:29] EStriegel commented on #513
Potential future validation, not necessary for milestone 1.

[2017-12-28 21:17] EStriegel commented on #529
Moving to `Icebox` - not needed for milestone 1.

[2017-12-28 21:21] EStriegel commented on #526
The individual who should receive the application PDF is the account POC (email account used for registration).  The individual providing e-signature does not need an email.  Moving to `Closed`

[2017-12-28 21:21] #526 closed

[2017-12-28 21:25] EStriegel commented on #471
Adding to `Sprint 6 (tentative)` since this work is a part of the text update story (#469)

[2017-12-28 21:27] EStriegel commented on #7
Moving to `Icebox` - not needed for milestone 1.

[2017-12-28 21:30] EStriegel commented on #195
Help text has been added to screens (see #300, #301, #302, #303, #304, #305).  Moving to `Done`

[2017-12-28 21:32] EStriegel commented on #176
Moving to `Icebox` - not needed for milestone 1.

[2017-12-28 21:35] EStriegel commented on #173
@mmurthydol @binwang89 This functionality exists for me in the QA environment.  Can you confirm this is done?  If so, please move to `Done`

[2017-12-28 21:37] EStriegel commented on #158
@mmurthydol I believe this has been accomplished - the applicant can not access their application after submission.  Please confirm and move to `Done`

[2017-12-28 21:46] EStriegel commented on #469
@simplyshang Our PRA folks have asked that the OMB control number, expiration date and revision date be added to the log-in screen.  Let discuss when the pause is over.

[2017-12-28 22:15] binwang89 commented on #290
Tested this user story and found below issues:
1. file type display is not match the requirements( For milestone 1, supported file types do not include doc, docx, xls.)
![image](https://user-images.githubusercontent.com/25330625/34424495-170f36ae-ebf2-11e7-8bb4-dae90dea8e03.png)
2. Error message/string needed for invalid type and/or size.
I uploaded a excel file and the system did not respond any

[2017-12-28 22:22] binwang89 commented on #171
Tested this user story and found below issues:

1. file type display is not match the requirements( For milestone 1, supported file types do not include doc, docx, xls.)
![image](https://user-images.githubusercontent.com/25330625/34424637-1d01ab90-ebf3-11e7-972d-5fccc2d1f80d.png)

2. Error message/string needed for invalid type and/or size.
I uploaded a excel file, and nothing happy. The system di

[2017-12-28 22:24] binwang89 commented on #173
@EStriegel @mmurthydol I have tested and confirmed,  i can deleted the file that has uploaded.  I will move it to done.

[2017-12-28 22:35] binwang89 commented on #172
@EStriegel @mmurthydol tested this function and the result:
1. you can click the file link to review the file.
2. for milestone 1, we should only upload PDF file, but the system also allow docx and image file to be uploaded.
3. you can't upload excel file, however, the system won't show any error message about it.

[2017-12-29 16:12] EStriegel opened #534 "PDF Edits"
- [x] For every yes/no question throughout the application, the PDF should mirror the applicant's answer (currently showing true/false).

- [x] Create a unique name for each generated PDF - "14c Application Submission_ER Name_State Abbreviation_Calendar Year of Submission"

- [x] Employer Section: Remove "Not Provided" that appears under question, "Provide the number of workers with disabilities e

[2017-12-29 16:18] EStriegel commented on #469
**Additional edit for Assurances section**

Begin new paragraph at following sentence:
I represent that as set forth in the regulations governing the employment of workers with disabilities, the following conditions exist and will continue to exist:

[2018-01-02 17:59] EStriegel commented on #167
Moving to `Done`.  Additional PDF edits in new issue #534

[2018-01-02 18:01] EStriegel commented on #396
Usability testing was completed.  Moving to `Done`

[2018-01-02 18:01] EStriegel commented on #453
QA test plans completed, moving to `Done`

[2018-01-02 21:57] binwang89 commented on #294
#449 is still not working.  put this item back to "In Progress"

[2018-01-02 22:06] binwang89 commented on #294
test results from OCIO:

please check for errors related to Wage data.

[508 test 2.docx](https://github.com/18F/dol-whd-14c/files/1598847/508.test.2.docx)

[2018-01-02 22:11] binwang89 commented on #297
@ltsheu Please see  below testing results from OCIO 508 tester:
please fix all errors for Work Sites & Employees page.
[508 test 2.docx](https://github.com/18F/dol-whd-14c/files/1598855/508.test.2.docx)

[2018-01-02 22:14] binwang89 commented on #299
@ltsheu please see attached word doc and find the related error for Review & Submit page.
[508 test 2.docx](https://github.com/18F/dol-whd-14c/files/1598866/508.test.2.docx)

[2018-01-03 15:06] ltsheu opened #535 "Bug: Accessibility: 508: Employee Data Table - Keyboard Focus (Delete and Back buttons)"
Work Sites & Employees Page
https://dol-whd-section14c-int.aisdemos.com/#!/section/work-sites

**Keyboard Accessibility Bug:**
In the Employee data table, keyboard focus is lost after the last "Delete" button and before the "Back" button. (when tabbing)

[2018-01-03 15:22] ltsheu opened #536 "All error messages receive no focus, hence cannot be read by assistive technology (JAWS)."
**Pages affected:** All

**Bug found by OCIO tester:**
All error messages receive no focus, hence cannot be read by assistive technology (JAWS).

**Solution:**
- [ ] Add the attribute `tabindex="0"` to each error message.

[2018-01-03 15:33] ltsheu opened #537 "Data Tables - Meaningful Labels and Links"
This bug relates to Data Tables. For example on Work Sites & Employees
https://dol-whd-section14c-int.aisdemos.com/#!/section/work-sites

**Bugs found by OCIO 508 tester:**
- [x] The Button content should be unique and meaningful. Copy (copy what?), CSV (?)
- [x]  The Search box label should be more descriptive, e.g., “Search Data Table”

[2018-01-03 15:40] ltsheu opened #538 "Employee Data Sliding Panel - Close button text"
Work Sites & Employees page > Click "Add Employee" to open sliding panel.
https://dol-whd-section14c-int.aisdemos.com/#!/section/work-sites

**Bug found by OCIO tester:**
The ( X ) close icon hidden text should say something more meaningful, such as "Close Add Employee Panel". (Currently it just says "Close")

[2018-01-03 15:46] ltsheu opened #539 "Employee Data Example Panel - Meaningful Links"
Work Sites & Employees page > Click "Show Me an Example" to open Example sliding panel.
https://dol-whd-section14c-int.aisdemos.com/#!/section/work-sites

**Bug found by OCIO tester:**
The Link Content should be unique and meaningful. Example One (example of what?)

**Suggested solution:**
Add additional screen reader-only text to the "Example One" and "Example Two" toggle links to clarify what vi

[2018-01-03 15:50] ltsheu opened #540 "Error Messages - Color Dependence"
**Pages affected:** ALL

**Bug found by OCIO tester:**
The error messages are in red, causing attention to the fields that need to be completed. Suggest adding a star for color-blind people.

- [x] Per discussion with Liz, the existing exclamation point icon will be used instead of a star

[2018-01-03 16:09] davoodharun commented on #497
@binwang89 this is an easy fix. I will create a pull request shortly. I've assigned myself the issue and added an estimate

[2018-01-03 16:29] mmurthydol commented on #417
@EStriegel This was pushed to integration before the pause (=> code merged to integration). We should close this story . Cert Validation defect is already created.

[2018-01-03 16:37] binwang89 commented on #497
@davoodharun sounds good.

[2018-01-03 18:23] jmmcnj commented on #168
completed

[2018-01-03 18:23] #168 closed

[2018-01-03 18:27] jmmcnj commented on #333
completed

[2018-01-03 18:27] #333 closed

[2018-01-03 19:23] EStriegel commented on #469
See #214 for additional instruction re: addition of the EIN question.  @mmurthydol @stvnrlly

[2018-01-03 19:23] #214 closed

[2018-01-03 19:24] EStriegel commented on #214
Closed since #469 includes the addition of the EIN question

[2018-01-03 19:32] davoodharun opened #541 "Application yes/no questions should display answers as yes/no"
## Acceptance Criteria

- [ ] All yes/no questions should display answers as yes/no and NOT true/false on all datatables

[2018-01-03 19:37] mgwalker commented on #534
Preventing page breaks within elements might be possible with the [`page-break-inside` CSS property](https://developer.mozilla.org/en-US/docs/Web/CSS/page-break-inside) set to `avoid`.

[2018-01-03 19:41] mgwalker commented on #541
I don't recall offhand how the data tables populate, but this might be a good place for a new filter that takes a bool and returns a string `yes`/`no`?

[2018-01-04 14:18] #206 closed

[2018-01-04 15:57] ltsheu opened #544 "IE Only - Data Tables Sort Arrows for Keyboard users"
**IE specific Data Tables bug (found by OCIO 508 tester):**

The sorting (up and down arrows) for Worksite and Employee tables does not work. **They sort only once. Subsequent sorts are not available for keyboard users in IE (works in Chrome).**

[2018-01-04 23:12] ltsheu opened #545 "Research Spike - Error Message Accessibility"
Research the best approach for screen reader interaction with error messages. Currently it is difficult (and in some cases not possible) for screen reader users to find and read the error messages.

[2018-01-05 16:52] binwang89 opened #546 "Bug:The Link Content should be unique and meaningful"
#537 -  the default button names must be changed to a custom string in the Data Tables initialisation JS code. Based the estimation from @davoodharun,  it looks like just updating text.  @davoodharun please work on it.
#538 -  it would take less than 1 hour. @ltsheu please work on this one
#539  – it would take less than 1 hour. @ltsheu please work on this one.

[2018-01-05 20:19] ltsheu commented on #546
These items are all complete and waiting for PR #547 to be merged.

[2018-01-05 20:25] ltsheu commented on #537
These changes were completed earlier today. Waiting for PR #547 to be merged.

[2018-01-05 20:25] ltsheu commented on #539
These changes were completed earlier today. Waiting for PR #547 to be merged.

[2018-01-05 20:25] ltsheu commented on #538
These changes were completed earlier today. Waiting for PR #547 to be merged.

[2018-01-08 06:19] mmurthydol commented on #199
@dciceman I believe the uniqueness constraint was being enforced through C# code that was removed when we were working together a couple of sprints ago.  Could you please verify items 2 & 3 in the description? Then please mark this story done so Steve can proceed with his story. Thanks!

[2018-01-08 16:35] ltsheu commented on #537
@binwang89 These changes are complete and ready for review. Please note that the text changes are screen-reader only. Sighted viewers will still see "Copy", "CSV", and "Search". Use screen reader testing tools to see the added text.

[2018-01-08 16:36] ltsheu commented on #539
@binwang89 These changes are complete and ready for review. Please note that the text changes are screen-reader only. Sighted viewers will still see "Example One" and "Example Two". Use screen reader testing tools to see the added text.

[2018-01-08 16:37] ltsheu commented on #538
@binwang89 These changes are complete and ready for review. Please note that the text changes are screen-reader only. Sighted viewers will still see an "X" for the close button in the sliding panel.

[2018-01-08 16:39] ltsheu commented on #546
@binwang89 This epic is complete and ready for review. The associated tasks have been completed. #537, #538, #539.

[2018-01-08 21:35] #199 closed

[2018-01-09 17:34] mgwalker opened #549 "In .NET code, XML comments are not consistent"
In the .NET code, some of the XML comments are detailed and some are not.  In some cases, the variable names being described are obvious enough in the context of the method name that there's no need for a description - but sometimes it has a description and sometimes it doesn't.  Consistency would be nice.

[2018-01-09 21:09] binwang89 commented on #544
@davoodharun please provide the estimate for this issue. Thanks

[2018-01-09 21:10] binwang89 commented on #535
@davoodharun Harun, please provide the estimate for this issue. Thanks

[2018-01-09 21:18] binwang89 commented on #540
@ltsheu Please provide the estimate for this issue. Thanks

[2018-01-09 22:25] binwang89 commented on #449
@ltsheu @davoodharun I put this issue at the top one at the backlog and should be pulled to sprint 7.

[2018-01-09 22:29] EStriegel opened #551 "Bug: Work Site Expanded View"
**Acceptance Criteria**
- [x] Fix work site data table & any/all other data tables that  display Boolean values as Yes/No instead of true/false.
- [x] Work site data table: reorder the fields (Work Site Type at the top) and fix answer for that field (Type of Establishment instead of "27").
- [x] Please ensure the worksite data table visually/verbally conforms to the UX spec

Current work site expa

[2018-01-10 01:52] mmurthydol commented on #551
@EStriegel Is the defect that we need Yes/No instead of true/false?

[2018-01-10 14:42] EStriegel commented on #551
@mmurthydol @davoodharun Yes, one of the defects is yes/no instead of true false.  There is also the need to reorder the fields (Work Site Type at the top) and fixing the answer for that field (Type of Establishment instead of "27")

[2018-01-10 15:52] EStriegel opened #552 "Text Edit: Review & Submit page"
Replace:
"We've checked your responses from each section to make sure there were no errors or missing information before submission."

with:
"We’ve checked each section to make sure you did not leave any required fields blank.  It is your responsibility to make sure that all of the information you provided is complete and accurate; failure to do so may delay the processing of the application or re

[2018-01-10 15:53] EStriegel commented on #552
@simplyshang I've assigned this to you so the update can first be made to the prototype for the OMB screenshots.

[2018-01-10 16:22] EStriegel commented on #534
@dciceman Hi David - In the sample PDF you submitted on 1/9, the only edit I cannot confirm is: "Wage Data Section, Prevailing Wage Survey option, Add a Source Employer: Include labels for each field in PDF"

In the sample PDF, 'SCA Wage Determination' is the response to "Which method did the employer use to determine the prevailing wage for the job or contract identified above?".  In order to con

[2018-01-10 17:33] EStriegel commented on #534
Confirmed all edits completed.  Moving to `Done`

[2018-01-10 18:15] ltsheu commented on #540
@binwang89 This bug is ready for review. I added an exclamation point icon to the form field error messages.

[2018-01-10 18:37] ltsheu commented on #545
**Notes From DOL 508 Tester:**

She suggests placing a tabbable focus on error messages.

This paragraph is from DHS 508 guidance:

”All error handling and error suggestions should be considered instructions and cues necessary to complete the form. This is regardless of whether the error notification is provided immediately after incorrect input or after submission. If error messages and alerts re

[2018-01-10 19:38] ltsheu commented on #536
@davoodharun and I recommend that the work on this bug should wait until after the Login Workflow updates have been merged into the Master branch. After the Login Workflow is merged, the error message `tabindex` updates can be done on all pages, including the new pages in the Login Workflow.

I am moving this bug #536 to blocked until after the Login Workflow updates are merged.

[2018-01-10 19:40] ltsheu commented on #545
This research spike is complete. Per research and discussion with DOL 508 tester, the solution for #536 is to add the attribute `tabindex="0"` to all error messages.

[2018-01-10 19:51] mmurthydol commented on #509
done as part of #469

[2018-01-10 19:51] #509 closed

[2018-01-10 19:52] mmurthydol commented on #532
done as part of #469

[2018-01-10 19:52] #532 closed

[2018-01-10 19:53] mmurthydol commented on #552
done as part of #469

[2018-01-10 19:53] #552 closed

[2018-01-10 19:54] EStriegel commented on #469
@stevenmyket I've consolidated other text edit stories into the Acceptance Criteria above.  Let me know if you have any questions.

[2018-01-10 22:33] mmurthydol commented on #353
@dciceman David, I believe this has been done for a while. I am closing it. Please reopen if you think otherwise.

[2018-01-10 22:33] #353 closed

[2018-01-10 22:38] mmurthydol commented on #440
There a couple of other stories #490 in the backlog for Sprint 7. Closing this one

[2018-01-10 22:38] #440 closed

[2018-01-10 22:41] mmurthydol commented on #389
@Harun I believe this work is done. Am closing this story. Please reopen if I am off. Else please confirm.

[2018-01-10 22:42] #389 closed

[2018-01-11 02:23] binwang89 commented on #76
Found the #464 for implementation.

[2018-01-11 03:58] binwang89 commented on #540
@ltsheu the INT site is not available and Harun is working on it.  I only looked at the QA site.
the QA site is also show the red color with exclamation point.  If that is what you have changed, that is fine and i will move it to next pipeline.
![image](https://user-images.githubusercontent.com/25330625/34807890-2f0316ba-f659-11e7-9fc6-2a6b080fcb4b.png)

[2018-01-11 04:12] binwang89 commented on #296
QA is done for this page.

[2018-01-11 04:15] #351 closed

[2018-01-11 15:40] ltsheu commented on #540
This update was for form field error messages when reviewing the form. Here is a screenshot an error message with the new exclamation point icon.

![formfielderrormessageicon](https://user-images.githubusercontent.com/31778248/34832644-773acccc-f6bb-11e7-8b3d-719b96e4a083.png)

From the Review & Submit page, click on any "Edit Responses" button to go to each page and see the error messages with th

[2018-01-11 15:43] binwang89 commented on #538
@ltsheu I have reviewed the accessibility tree screenshot in your email and i have moved this user story to next pipeline. Thanks.

[2018-01-11 15:43] binwang89 commented on #539
@ltsheu I have reviewed the accessibility tree screenshot in your email and i have moved this user story to next pipeline. Thanks.

[2018-01-11 15:44] binwang89 commented on #546
@ltsheu I have reviewed the accessibility tree screenshot in your email and i have moved this user story to next pipeline. Thanks.

[2018-01-11 15:47] binwang89 commented on #540
@ltsheu Since i can't login to INT site, the screenshot that you sent to me has demo the remediation.
Thank you very much.

[2018-01-11 15:55] binwang89 commented on #456
@ltsheu @stevenmyket this issue has been changed from "In Progress" to "Awaiting Acceptance", did someone review/test this issue before moved it to Awaiting Acceptance?

[2018-01-11 16:15] mmurthydol commented on #464
@davoodharun please ensure the latest UXPIN from Shannon comment is being used (believe so). If you assign this story to Steven, please oversee implementation. Security story - critical for ATO. Thanks.

[2018-01-11 16:16] #76 closed

[2018-01-11 18:34] binwang89 commented on #456
@ltsheu @stevenmyket  I have tested it in QA site, (i have issue to access the INT).  please see below screenshots for each page with title information.

![image](https://user-images.githubusercontent.com/25330625/34840615-8d7d5b2c-f6d3-11e7-9644-cc3cfca0291e.png)
![image](https://user-images.githubusercontent.com/25330625/34840640-9ee90fa0-f6d3-11e7-9513-d14950455ace.png)
![image](https://user-im

[2018-01-11 19:54] binwang89 commented on #172
PDF is done, close the story

[2018-01-11 19:54] #172 closed

[2018-01-11 20:00] #380 closed

[2018-01-11 20:02] binwang89 commented on #190
work completed.

[2018-01-11 20:02] #190 closed

[2018-01-11 20:44] EStriegel commented on #171
Closed as issue #197 includes this function.

[2018-01-11 20:44] #171 closed

[2018-01-11 20:46] EStriegel commented on #192
Validation implemented for milestone 1.  Closed.

[2018-01-11 20:46] #192 closed

[2018-01-11 20:47] EStriegel commented on #284
Completed and closed.

[2018-01-11 20:47] #284 closed

[2018-01-11 20:48] EStriegel commented on #393
Completed and closed.

[2018-01-11 20:48] #393 closed

[2018-01-11 20:53] EStriegel commented on #518
Completed and closed.

[2018-01-11 20:53] #518 closed

[2018-01-12 00:01] mmurthydol commented on #203
implemented by #418. Hence closing this.

[2018-01-12 01:32] #498 closed

[2018-01-12 06:44] mmurthydol commented on #243
#338 supercedes this story #243. Hence close this story.

[2018-01-12 06:44] #243 closed

[2018-01-12 06:57] mmurthydol commented on #84
#80 will implement one leftover (logout audit in LoginUsers or UserLogins table). Rest of the work completed.

[2018-01-12 06:57] #84 closed

[2018-01-12 07:14] mmurthydol opened #558 "Security: Implement Token expiration for Authentication, Confirmation email, & Password reset"
## Acceptance Criteria
- [x] Ensure following parameters implements access token expiration as intended;
       document behavior.
      <setParameter name="AccessTokenExpireTimeSpanMinutes" value="20160" />
      <setParameter name="EmailVeriryAndPaswordRestTokenExpireHours" value="6" />
- [x] Fix typo above to: EmailVerifyAndPaswordResetTokenExpireHours
- [x] set AccessTokenExpireTimeSpanMinutes

[2018-01-12 07:30] davoodharun commented on #495
@EStriegel, can we confirm the following criteria for acceptance?

[code]

[2018-01-12 21:34] mmurthydol commented on #121
@binwang89 wondering the reason behind this story moving from icebox to backlog?

[2018-01-12 21:49] mmurthydol commented on #235
Done as part of agile flow.

[2018-01-12 21:49] #235 closed

[2018-01-12 23:23] mmurthydol commented on #336
Will be addressed when AngularJS is converted to Angular 4 (if ever)

[2018-01-12 23:31] binwang89 commented on #121
put it in backlog by a mistake, changed it back to icebox.

[2018-01-12 23:33] mmurthydol commented on #200
Done as a natural consequence of the work performed.

[2018-01-12 23:33] #200 closed

[2018-01-12 23:52] mmurthydol opened #560 "Provide Admin page support to manage confirm email, password reset problem"
## Acceptance Criteria

- [x] Currently when user doesn't click on email confirmation link before link expires, user will have to reach out to application support/help desk to be able to log in to the system. Upon verification, system administrator should be able to through the application resend confirmation email &/or enable the EmailConfirmed column in the Users table.

Once logged in as a syst

[2018-01-13 00:00] mmurthydol commented on #93
Obsolete

[2018-01-13 00:00] #93 closed

[2018-01-13 00:06] mmurthydol commented on #175
Landing improved big time from new login workflow related work. Icebox this for future improvements in milestone 2+ (ex: Register New Employer, Register Existing Employer, etc. etc.)

[2018-01-13 00:11] mmurthydol commented on #327
Accounted for milestone 1.

[2018-01-13 00:11] #327 closed

[2018-01-13 00:13] mmurthydol commented on #330
@mgwalker Hey Greg,  I believe you take care of this story. Correct? If so, please close. If not please advise. what remains.

[2018-01-13 00:14] mmurthydol commented on #332
@mgwalker Greg, could you please take this on? Lemme know. Thanks!

[2018-01-13 00:15] mmurthydol commented on #230
@mgwalker Thought you finished this story Greg?

[2018-01-13 00:16] mmurthydol commented on #349
@binwang89 Believe this story is done. Closing it. Please reopen if you see something off.

[2018-01-13 00:19] mmurthydol commented on #229
@mgwalker Could we talk through this sometime Greg? I can follow up on the IIS side of things.

[2018-01-13 00:21] mmurthydol commented on #90
Recommend not doing this during last Sprint with AIS.

[2018-01-13 00:31] mmurthydol commented on #432
Done as part of new login workflow landing page work

[2018-01-13 00:31] #432 closed

[2018-01-13 00:38] binwang89 commented on #349
@ltsheu please confirm it is completed.  i think we use the DOL template for header/footer.

[2018-01-13 00:41] mmurthydol commented on #501
Ran out of time for AIS. Get pointers from Harun.

[2018-01-15 20:21] mmurthydol commented on #133
@binwang89 Could you please make sure that this defect is reproducible in the AIS environment? (QA/Int whichever is available to test on). Thanks!

[2018-01-16 03:00] binwang89 commented on #133
@mmurthydol tested it again,  the new account had been registered, but i did not get the confirmation link email for my external email address ( michellewang56589@yahoo.com),  However, I got the email for my internal email address (wang.bin@dol.gov) on Thursday.   Please see below screenshots:
![image](https://user-images.githubusercontent.com/25330625/34969946-6f582446-fa3f-11e7-8344-467db787208a

[2018-01-16 03:02] binwang89 commented on #133
Based on my internal email address, I got the confirmation email and the link, I be able to use the link to login to the 14c application(IE or Chrome).

[2018-01-16 06:42] mmurthydol commented on #133
Thanks @binwang89 . Closing this issue.

[2018-01-16 06:42] #133 closed

[2018-01-16 14:40] mgwalker commented on #332
Already worked on it in #446 but I closed it rather than interfere with ongoing work elsewhere.

[2018-01-16 14:40] mgwalker commented on #330
Yep!

[2018-01-16 14:40] #330 closed

[2018-01-16 14:41] mgwalker commented on #230
Nope.  There's a JS linter, but not an HTML one.  I'm not 100% sure that an HTML linter would work correctly with Angular, but it's still work checking out.

[2018-01-16 15:23] ltsheu commented on #349
@binwang89 @mmurthydol The 14c header/footer matches the look and functionality of the DOL header/footer, however the HTML/CSS **under the hood** does not match the DOL template HTML/CSS.

This chore was created as a nice-to-have in case there was time to update the Header and Footer to match the same HTML/CSS as DOL under the hood. No work has been done for this chore (it has been in the backlog)

[2018-01-16 15:53] davoodharun commented on #418
@simplyshang do we have a prototype for these pages? @mmurthydol do we need prototypes for these new pages?

[2018-01-16 17:20] davoodharun commented on #469
Text Edits related to new application workflow (System use, landing page, user login, employer registration etc.) are made in the NewApplicationWorkFlow branch being merged with PR #493

[2018-01-16 17:31] binwang89 commented on #449
@mmurthydol , this is Javascript/Angular part, we need input from @davoodharun .

[2018-01-16 17:37] EStriegel commented on #500
Closing - #469 implements this change.

[2018-01-16 17:37] #500 closed

[2018-01-16 17:48] EStriegel commented on #482
@mmurthydol to discuss with @davoodharun

[2018-01-16 18:00] binwang89 commented on #505
@mmurthydol @EStriegel please see the screenshot below for this error.
![image](https://user-images.githubusercontent.com/25330625/35004202-2f4ab3ae-fabd-11e7-9a68-7017f01f52cd.png)

[2018-01-17 00:29] mmurthydol opened #568 "Visual Design - Landing/Dashboard page for new login workflow"
Create a mock up (or make actual changes to the page) based on the image below and the changes suggested under acceptance criteria.

![image](https://user-images.githubusercontent.com/25183303/35018608-6bd3c800-faf0-11e7-8534-0cabc5527463.png)

## Acceptance Criteria
- [x] @EStriegel to provide actual verbiage for header titles, button names and confirm when done.
- [x] Delete "Register a New Empl

[2018-01-17 00:45] mmurthydol opened #569 "Implementation - Landing/Dashboard page for new login workflow"
Implement the landing/dashboard related changes (per #568 & whatever is left over from that story).

Please note landing page for milestone 1 pertains itself to one employer associated with the logged in user.

## Acceptance Criteria
- [x] Data table must *only* list applications in submitted state. That means, Action button will only be providing "Download" option in the data table.
- [x] Remove

[2018-01-17 13:37] EStriegel commented on #569
@mmurthydol Re: the following criteria - "Create New Application" logic: Is enabled when application associated with the employer is neither in submitted state nor in "in progress" state. Confirm with business if it is OK to create a new application in this scenario (IT thinks it is desirable and a workaround for employers to submit a corrected application).

My input:  The "Create New Application

[2018-01-17 13:49] EStriegel commented on #568
@simplyshang @ltsheu One thing I would like to discuss before design/implementation is how we show/label the "Clear Application" button.  I'm thinking it shouldn't be as easy as starting/continuing an application, as that could cause a user to inadvertently clear an application.

[2018-01-17 18:21] jmmcnj commented on #392
awaiting small edit then merge

[2018-01-17 18:26] jmmcnj commented on #495
Ready for merge waiting on login workflow merge final, @davoodharun

@dciceman will test pdf upload/api any changes

Before PR/merge - end to end test

[2018-01-17 18:27] mmurthydol opened #570 "Knowledge Transfer: Run 14c in DOL Dev environment"
#Work with mostly Harun. Will pick and choose which of these to work with for the best path forward.

## Acceptance Criteria

- [x] Web application builds & deploys without Web Pack errors in AIS Jenkins.
       node, npm: which versions; eliminate errors: node-gyp, node-sass, python; update modules as
       necessary.
       Basically do enough to ensure newer versions won't kill us in the futur

[2018-01-17 18:29] jmmcnj commented on #503
need to address button to cancel, where it should be placed and what the text should be on the buttons - meeting to follow with @davoodharun @simplyshang and @EStriegel

[2018-01-17 19:51] jmmcnj opened #571 "Help Screen Implementation: Follow guidance from UX prototype"
https://preview.uxpin.com/5955e8a6afd15529d8967c143dbba46439f251ba#/pages/77595079/simulate/sitemap

Dependent on content from #156

[2018-01-18 22:31] mmurthydol opened #576 "Bug: New login workflow user registration page validation errors display at page load time"
All the fields display validation errors at page load time even before the user had a chance to enter data.

![image](https://user-images.githubusercontent.com/25183303/35135927-4740ae4e-fcae-11e7-9fb4-25c04a06f21d.png)

## Acceptance Criteria
- [ ] @EStriegel and @simplyshang Please review requirements below.
- [ ] Given that password fields are validated at the field level (unlike the rest of th

[2018-01-19 00:09] mmurthydol opened #577 "Bug: New login workflow: User registration Account confirmation message is missing"
When a user registers and clicks on the confirmation email link, user is redirected to the login page. However there is no visual clue that the user's account is confirmed.

## Acceptance criteria ##
- [x] Per Ux specification for login workflow, upon clicking on the confirm email link, user must be directed to an "Account confirmed" page (via the banner page). On the account confirmation page, th

[2018-01-19 01:20] binwang89 commented on #448
@ltsheu tested it by using IE, and it looks fine. I will move it to "Awaiting Acceptance". Thanks

[2018-01-19 01:27] binwang89 commented on #536
@ltsheu Hi, I have tested it at both INT and QA and compared both site, at INT, i could use tab key to any error message and it will received focus. The QA will not h ave the latest code, and i can see the tab won't get to the error message.   it works fine now, I will move it to next pipeline. Thanks for the good work.

[2018-01-19 01:30] binwang89 commented on #299
@ltsheu Thanks for help for testing, I be able to use code inspect to review those updated text  for "Edit Responses" button.  for example:
![image](https://user-images.githubusercontent.com/25330625/35130356-61d7d770-fc8e-11e7-9064-6ef7dbcd6ef3.png)
I will move this item to next pipeline.  Thanks

[2018-01-19 03:01] mmurthydol commented on #568
@EStriegel There should be a popup (behavior similar to Deleting uploaded attachments) with verbiage about implications from this action along with ok/cancel (whatever we are calling them) buttons.

[2018-01-19 04:31] mmurthydol opened #578 "Login Workflow: 14c pages display EIN instead of Employer name"
@dciceman please include Madhu when scoping this work with Harun and when making the change.

@EStriegel Please include a screenshot or a Ux UxPin spec.

## Acceptance Criteria

#### Accessibility

[2018-01-22 19:02] davoodharun commented on #576
@mmurthydol this was my fault -- I forgot to remove this. It is removed in #581

[2018-01-23 20:01] ltsheu commented on #568
The design and placeholder work is done, however it will be part of a PR associated with #569. Therefore I'm moving this user story to blocked until #569 is integrated.

[2018-01-23 21:54] davoodharun commented on #577
This was a bug that came about after new login workflow implementation. The account crated dialog existed previously but was inadvertently disabled with the work for the new workflow. I have fixed this issue in #581

[2018-01-23 23:12] mmurthydol commented on #577
Thanks Harun for the fix and also the explanation (that helps!) :)

[2018-01-24 01:22] mmurthydol commented on #174
@dciceman Let's chat about this after wed 1/24  stand up. Files must be encrypted  - this requirement is not done I believe. All else I believe is done. Thanks!

[2018-01-24 01:23] mmurthydol commented on #433
@dciceman David, I believe this work was already done as part of the landing page work. Please close this story if I am not off.

[2018-01-24 22:43] phirefly commented on #576
@simplyshang @EStriegel I just noticed this still needs your feedback. Sounds like a reasonable solution.

[2018-01-25 00:13] dciceman commented on #514
Duplicate task. #512 - Email - TCRW-02/3, When entering a email. Email is case sensitive

[2018-01-25 00:14] dciceman commented on #496
Duplicate task. #495 - As an employer I would like to upload *all* current SCA wage determinations

[2018-01-25 15:27] dciceman commented on #578
@EStriegel Can you please send me a screenshot for this change?

[2018-01-25 18:34] simplyshang commented on #576
@phirefly I agree with the approach. @davoodharun did the placement of the validation message get corrected? It should be between the label and input, and not below the input.

Here's an example:
![example-validaiton](https://user-images.githubusercontent.com/1373592/35405529-70bd18b8-01d4-11e8-93eb-464a395b373e.png)

[2018-01-26 15:24] binwang89 commented on #449
@ltsheu @davoodharun I  tested this user story and it looks good, I will move it to Acceptance.  Thanks for the works.

[2018-01-26 15:54] binwang89 commented on #294
@ltsheu both user stories #449 #448 are good and moved to next to Acceptance.

[2018-01-26 21:07] mmurthydol opened #587 "Bug: Error on submission for some users though validation is all green."
Not for all users: All validation green on submission page but receive a 400 error on submission.

Didn't work for: EIN 94-9499499 Pierce.Steven@dol.gov INT environment
Worked for: @dciceman & others...

![image](https://user-images.githubusercontent.com/25183303/35460296-83df7836-02b1-11e8-9585-924079007221.png)

## Acceptance Criteria
- [ ] Submission must work for all users.
- [ ] Verify errors

[2018-01-29 19:54] EStriegel commented on #469
@davoodharun Happy to discuss!  Moving to `In Progress`

## Remaining text edits:
[Text Edits 1.29.18.xlsx](https://github.com/18F/dol-whd-14c/files/1675004/Text.Edits.1.29.18.xlsx)

-----------------------

I reference a couple screen shots in the spreadsheet.  They are below.

Addition of OMB info under header:
![image](https://user-images.githubusercontent.com/19496579/35529661-aed2753e-04ff-11

[2018-01-29 20:45] mmurthydol opened #588 "Employer registration successful page related issues"
When a user registers an employer and employer registration is successful, following issues to be addressed.

## Acceptance Criteria
- [x] It is not clear to the user what to do next. There should be a button that when clicked on will take the user to the dashboard page.
     Button Text: "Continue to Dashboard" unless changed by @EStriegel.
- [x] Using the browser back button on this page must re

[2018-01-29 21:15] EStriegel opened #590 "Bug - Data Table Error screen on WIOA section"
EIN 94-9499499
Pierce.Steven@dol.gov
INT environment

[2018-01-29 21:16] EStriegel commented on #590
![steve error wioa data table](https://user-images.githubusercontent.com/19496579/35534838-b170f94a-050f-11e8-9bf2-2c5db5bdc8c8.png)

[2018-01-29 21:18] EStriegel opened #591 "Bug: Submission screen language"
- [x] Verbiage on submission screen must be as specified below.
- [x] 1-800-DOL-HELP must be configured (must have entry in env.js)
- [x] "Return to Dashboard" button must be green
-------------------------------------------------------------------------------------------------------------------
Success!

Your application has been submitted.

You will receive an email confirming this submission wi

[2018-01-29 21:21] binwang89 opened #592 "Bug: password Rgv@178! did not work for Chrome but worked for IE"
bug description:
Password Rgv@178! did not work on Chrome but worked on IE. Different results from different browsers with the same password. Test Case : TCRW-01
IE-
![image](https://user-images.githubusercontent.com/25330625/35534763-7eaed7c0-050f-11e8-9e3c-f1f5af6ee643.png)

google chrome -
![image](https://user-images.githubusercontent.com/25330625/35534976-204a9b0a-0510-11e8-872f-b6ab62ef82cd.

[2018-01-29 21:24] EStriegel opened #593 "Bug: Error messaging for incorrect email or password at log-in"
Create error messaging for incorrect email or password at log-in.  Similar to language used by google below.

![google email error](https://user-images.githubusercontent.com/19496579/35535196-db7eab1e-0510-11e8-80a3-aff029e3a6f3.PNG)

![google password error](https://user-images.githubusercontent.com/19496579/35535202-e0ec5ef2-0510-11e8-83f7-0dbab648897a.PNG)

[2018-01-29 21:31] binwang89 opened #594 "Bug: In slider, when user inputs a $ for wage fields the entry disapears when they tab out"
Bug description:
In slider, when user inputs a $ for wage fields the entry disapears when they tab out.
@EStriegel please provide screenshot or information for this issue found in QA.

[2018-01-29 21:33] binwang89 opened #595 "Bug: Register Employer - When inputting certificate number, user cannot enter a letter.  System deletes it, only numbers work"
Bug description:
Register Employer - When inputting certificate number, user cannot enter a letter.  System deletes it, only numbers work.
@EStriegel please provide the screenshot or information related to this issue found in QA.

[2018-01-29 21:58] binwang89 opened #596 "Bug: After clicking the agree button on banner, login page opens halfway down the browser"
Bug description:
After clicking the agree button on banner, login page opens halfway down the page.
@EStriegel please provide the screenshot or information related to this issue found in QA.

Liz - attempted to recreate, seemed to be one off/anomaly possibly, might be related to screen size, test was performed on small laptop screen at the time

[2018-01-29 22:03] binwang89 opened #597 "Bug: Added a value (tried multiple values) for commensurate wage and received an error without any message. Just an exclamation mark. "
Bug description:
IE/TCFW-07.  Added a value (tried multiple values) for commensurate wage and received an error without any message. Just an exclamation mark. 

@EStriegel please provide any screenshot for this issue.

[2018-01-29 22:06] binwang89 opened #598 "Bug: Register Employer - No error messaging if fields left blank. "Register Employer" button is just unresponsive."
Bug Description:
In Chrome,
Register Employer - No error messaging if fields left blank.  "Register Employer" button is just unresponsive.
@EStriegel  if you have any screenshot for this issue, please provide.

[2018-01-29 22:08] binwang89 opened #599 "Bug: Register Employer - Clicking the hyperlink, "What if the Employer's legal name changed since its last application?" should also open instruction.  Same functionality as clicking blue question mark. Should review if there is any other similar styling throughout app."
Bug description:
In Chrome, Register Employer - Clicking the hyperlink, "What if the Employer's legal name changed since its last application?" should also open instruction.  Same functionality as clicking blue question mark.  Should review if there is any other similar styling throughout app.
@EStriegel please provide the screenshot or information related to this issue found in QA.

[2018-01-29 22:11] binwang89 opened #600 "Bug: Add Employee - Panel Open - " Can "n/a - piece rate" not be a default selection under "Productivity measure/rating for job described above" Neither radio button should be selected when a user opens the slider."
Bug description:

in Chrome, Add   Employee - Panel Open - " Can "n/a - piece rate" not be a   default selection under "Productivity measure/rating for job described   above"  Neither radio button   should be selected when a user opens the slider.
@EStriegel please provide the screenshot or information related to this issue found in QA.

[2018-01-29 22:15] binwang89 opened #601 "Bug: Inactivity warning is active on pages where a user is not/was never logged in.  "
Bug description:
Inactivity warning is active on pages where a user is not/was never logged in.  
@EStriegel please provide the screenshot or information related to this issue found in QA.

[2018-01-30 18:24] jmmcnj commented on #464
Parameters from Policy/discussion:
Warning at 13 minutes
Lockout at 15 minutes

[2018-01-30 18:40] jmmcnj commented on #435
Just need verbiage upon quarantined file to show end user that the particular file was not saved
Madhu: show validation error maybe at summary page and then when clicking into file upload area show files that are quarantined in validation error message

Location and verbiage to be discussed among UX team

[2018-01-30 18:40] binwang89 commented on #464
For system timeout, below conditions will cause the accessibility not compliant :

1. The application timed out without notification
2. The application's time out notification is displayed for less than 20 seconds
3. The application timed out without an option to request more time

[2018-01-30 19:16] ltsheu commented on #569
@davoodharun Just a reminder, as we discussed, the width issues with the data table are most likely due to it being hidden and then shown. If you employ columns.adjust() it would hopefully fix this issue. https://datatables.net/reference/api/columns.adjust()

[2018-01-30 19:41] ltsheu commented on #599
@binwang89 This bug is probably best remediated with Angular since it is a click interaction. Thanks.

[2018-01-30 21:30] EStriegel commented on #106
**Functionality for this story -**
User clicks "Clear all responses from the current application"
Pop up dialogue box asks user to confirm application clear
User clicks yes
Button changes to Start a New Application and application is blank

[2018-01-30 21:36] phirefly commented on #482
Resolved per new login workflow changes.

[2018-01-30 21:36] #482 closed

[2018-01-30 21:40] phirefly commented on #504
@mmurthydol Check with David to verify the server side is implemented

[2018-01-30 21:41] phirefly commented on #186
@mmurthydol Check with @dciceman about status

[2018-01-30 21:57] phirefly commented on #492
workaround will be to implement 'clearing the application' and recommend that action if a user encounters this issue

[2018-01-30 21:58] phirefly commented on #492
@mmurthydol talk to AIS about this

[2018-01-30 22:02] phirefly commented on #587
@EStriegel and myself will try and duplicate

[2018-01-30 22:03] phirefly commented on #587
Recommended AIS not work on this until we confirm and duplicate the issue

[2018-01-31 14:23] EStriegel commented on #497
Confirmed fix has been made.  Moving to `Done`

[2018-01-31 14:27] EStriegel commented on #578
Confirmed Employer name shows instead of EIN at top of application pages.  Moving to `Done`

[2018-01-31 17:10] phirefly commented on #471
Verified with @EStriegel and @binwang89. Moving to `Done`

[2018-01-31 18:51] binwang89 commented on #98
tested it, the county field become not required filed when i check the state to DC.

[2018-01-31 18:55] binwang89 commented on #531
tested it, looks good
![image](https://user-images.githubusercontent.com/25330625/35641488-52dda79a-068e-11e8-9fb4-65d2f859d370.png)

[2018-01-31 19:14] jmmcnj commented on #592
Harun: may need to perform deep analysis of password complexity algorithms, seems to possibly have problem with front end analysis related to per stroke password strength versus upon submission only

[2018-01-31 19:26] jmmcnj commented on #590
Harun initial review - not sure on how complex the fix for this might be, could be est. 1 - 5 points

[2018-01-31 19:27] binwang89 commented on #517
just tested in INT, i can create a new application when there is one already in progress.
please see the below screenshot
![image](https://user-images.githubusercontent.com/25330625/35643004-ec7ec2fe-0692-11e8-824c-72e0738514d4.png)

[2018-01-31 19:30] jmmcnj commented on #587
Harun Initial REview: submission error when validation was passed, only happened to Steve and he happened to be the only system to experience Data Table Error from #590

[2018-01-31 19:33] jmmcnj commented on #174
@dciceman will put in api check on status and deny api call if already submitted, this is the last action on this issue

[2018-01-31 19:35] binwang89 commented on #120
tested it at INT site, it looks good
![image](https://user-images.githubusercontent.com/25330625/35643353-0af0d578-0694-11e8-9bdc-e5c719650fff.png)

[2018-01-31 19:38] binwang89 commented on #576
tested in INT. it is okay now.
![image](https://user-images.githubusercontent.com/25330625/35643479-6b82420a-0694-11e8-93a7-b1a6d1a03f8d.png)

[2018-01-31 19:40] jmmcnj commented on #433
Madhu- Moving this to Acceptance Review, after the associated story is found and validated that this was completed

[2018-01-31 19:44] jmmcnj commented on #591
Liz - to provide an update on language within this issue if not correct on screen as it is today

[2018-01-31 19:46] jmmcnj opened #603 "Bug: Email is not always firing on application submission"
- [ ] @binwang89 Verify emails are being sent / whether error logs show email failure

Sometimes happens, need to find pattern

[2018-01-31 19:47] jmmcnj commented on #603
Madhu - further research needed to see pattern of failures if any, otherwise deeper bug review to find problems

[2018-01-31 19:50] jmmcnj commented on #601
Harun Initial Review - had it working at one point, should be quick fix

[2018-01-31 19:56] jmmcnj commented on #597
Liz - maybe related to slider, need to review

[2018-01-31 20:00] jmmcnj commented on #596
Harun - possibly CSS screen resizing issue

[2018-02-02 19:50] binwang89 commented on #297
@ltsheu Hi, Leslee,  can you check this user story, anything else is pending/blocking this page.
it looks like #344 #345 are all done.

[2018-02-02 22:34] EStriegel commented on #591
@davoodharun Updated submission page language below:

-----
Success!

Your application has been submitted.

You will receive an email confirming this submission with a PDF attachment of your submitted application.  If you do not receive the email confirmation within an hour, please call our support desk at 1-800-DOL-HELP.

green `Return to Dashboard` button

[2018-02-05 19:59] phirefly opened #615 "Update banner page language"
**Edit banner page with the below language.  The "Read more details" and "Hide details" functionality should remain the same**

You are accessing a U.S. Government information system that is owned and operated by the Department of Labor. There is no expectation of privacy when accessing this system. The Department of Labor information systems are provided for the processing of official U.S. Govern

[2018-02-06 15:19] dciceman commented on #592
Verified by Michelle. This is not an issue any more.

[2018-02-06 16:08] binwang89 commented on #592
I think @phirefly need to test it too before we move it to done.  thanks

[2018-02-06 16:12] mgwalker commented on #592
Part of me wants `Rgv@178!` added to a permanent password blacklist now...  kidding but also not kidding.  😛   Also, whoever first tried that password, if they use it anywhere else, they should change it.

[2018-02-07 17:29] mgwalker commented on #174
With respect to file encryption in particular:

- Does OS-level whole-disk encryption not satisfy the requirement?  If not, why not?  Knowing that will help us understand what we need to do.
  - Who are we trying to prevent from reading these files?
  - How sensitive are the files being encrypted?  How damaging would it be to the government or to employers if the contents of these files were compr

[2018-02-07 21:56] binwang89 commented on #456
When tested in QA site, found below issue, when use the "Next" button  to next page,
the title for the previous page is still show up. In  this example, when tab the next button to WIOA page, the title still show "Work Site and Employee"

![image](https://user-images.githubusercontent.com/25330625/35943617-9cce4438-0c27-11e8-9237-2c45bcdd86ce.png)

[2018-02-08 18:22] phirefly opened #620 "Employee Information Screen UX: mouse scroll causes information changes"
Do not allow scroll mouse to change information – example: employee information screen: numbers adjusted if scroll down before clicking on blank part of screen.

[2018-02-08 18:29] phirefly opened #621 "Investigate the ability to edit employer information on the Register an Employer page"
Question posed during QA:
Will the employer be able to edit the info in Register an Employer (TCRW-03) if they make a mistake, such as originally selecting initial application and then realizing they are current, and wish to change it?

[2018-02-08 18:40] phirefly opened #622 "Issue with Employee error validation"
Logged during QA on 2/2:
Hard stop at step where checking for errors. Type of work was left blank for one employee. Filled it, however, still getting error and goes back to being blank.

[2018-02-08 20:05] phirefly opened #624 "IE Visual Parity with Chrome: No color bar for password complexity"
Logged during 2/2 QA Session.
No color bar for password complexity exists in IE like it does for Chrome

[2018-02-08 20:07] phirefly opened #625 "Add link to CFR from Assurances page"
Logged from 2/2 QA Sessions
Assurances page - link to CFR

[2018-02-08 22:16] binwang89 commented on #456
I just re-tested it and found out i can reproduce the same issue by using the mouse. however, it does has accessibility impact and i will create a separated user story for this issue.  I will move this user story back to waiting acceptance.

[2018-02-08 22:24] binwang89 opened #626 "Bug: Accessibility: 508: Browser Tabs do not update to page name when the 'Next' button is clicked"
Remediate accessibility issues in all pages in the 14c, according to acceptance criteria noted in #198

Bug description:
when you click the "Next" button on the page, the title of the browser tab still shows the previous page title.
For example: Work Sites & Employees still shows as tab name after user has clicked next and is seeing the WIOA page. Screenshot below.
![image.png](https://images.zenh

[2018-02-08 22:43] binwang89 opened #627 "Bug: Accessibility: 508: Keyboard Access issue"
Remediate accessibility issues in below pages, according to acceptance criteria noted in #198.

Bug description:
1. An interactive element or function cannot be accessed or activated by keyboard.
1.1 Example: https://dol-whd-section14c-qa.aisdemos.com/#!/dashboard  - "clear all responses" function brings up a popup screen, it is not available for keyboard users.
1.2 Work Sites & Employees: Employe

[2018-02-08 22:55] binwang89 opened #628 "Bug: Accessibility: 508: Web: Repetitive Content and Links"
**Repetitive Content and Links** accessibility issues in the below pages, according to acceptance criteria noted in #198
Bug description:
1. There is no method to skip repetitive content.
Example: https://dol-whd-section14c-qa.aisdemos.com/#!/changePassword  - once the password is successfully changed, there is no method to skip repetitive content.
2. The skip function does not work properly.
Exam

[2018-02-08 23:29] binwang89 opened #629 "Bug: Browser upload file box disappeared after user select the option "keep the file" for Deletion."
Bug Description:
On Wage-data page, user can delete the file that they uploaded. however, the
browser  box will be disappeared after they select the option "No, Keep File".
please see below screenshots.
https://dol-whd-section14c-qa.aisdemos.com/#!/section/wage-data
1. before the file uploaded.
![image.png](https://images.zenhubusercontent.com/5887af0e51aa2c305772c053/38ba29b8-e881-41be-a813-dd789

[2018-02-08 23:40] mmurthydol commented on #197
@davoodharun https://github.com/18F/dol-whd-14c/issues/629 is a defect story for this story https://github.com/18F/dol-whd-14c/issues/197

Moving 197 from awaiting acceptance to in progress.

[2018-02-08 23:45] mmurthydol commented on #495
Moved to in progress. Requirement omission defect that needs to be fixed.

[2018-02-08 23:48] mmurthydol commented on #521
Moved to in progress; During QA still found disturbing number of errors in the error log.

[2018-02-09 16:01] binwang89 commented on #629
@davoodharun please make sure all 4 places for file upload in the whole system will be tested.

[2018-02-09 20:26] phirefly commented on #592
Verified on QA. Moving to `closed`. Also, changed the password to be safe. :dancing_men:

[2018-02-09 20:50] phirefly commented on #541
Began testing this and ran into an Employer Registration issue: https://gsa-tts.slack.com/archives/C70SH3Q1M/p1518209311000401

[2018-02-09 21:04] phirefly commented on #568
Waiting forhttps://github.com/18F/dol-whd-14c/pull/630 to test once we have the ability to register an employer

[2018-02-09 21:05] phirefly commented on #569
Waiting for https://github.com/18F/dol-whd-14c/pull/630 deploying to test after we can register an employer

[2018-02-09 21:09] phirefly opened #631 "Redirect a user to Employer Registration from Dashboard if no employer exists yet"
If an employer is not registered, do not allow the user to view the Dashboard. Rather, the user should be directed to the Employer Registration page. This was discovered when trying to click on the `Start a New Application` button on the Dashboard page when no registered employer employer existed.

** Acceptance Criteria **
- [ ] If a user has not yet registered an employer, the dashboard link sho

[2018-02-09 21:15] phirefly commented on #593
Verified on INT. Moving to `Closed`

[2018-02-09 21:16] phirefly commented on #286
@mmurthydol ping on this. Can you verify and then move to `Done`? Thank you!

[2018-02-09 21:18] phirefly commented on #546
@binwang89 I'm assigning to you to do QA on this.

[2018-02-12 19:46] EStriegel commented on #541
Confirmed complete, moving to `Done`

[2018-02-12 19:58] EStriegel commented on #569
@davoodharun Missing one of the Acceptance Criteria (Remove "Created At" column from the data table).  See additional design updates needed in #568.  Moving to `In Progress`.

[2018-02-12 20:00] EStriegel commented on #568
@davoodharun Missing two acceptance criteria -
- Remove time from created/modified columns. Just show date.
- Ensure data table style on this page is consistent with other data tables in the application.

Moving to  `In Progress`

[2018-02-12 20:06] EStriegel commented on #197
@binwang89 Assigning to you to review accessibility.  I have validated the other criteria.  You can move to `Done` once accessibility is confirmed.

[2018-02-12 20:09] phirefly commented on #480
@davoodharun Any idea what the issue for this story is?

[2018-02-12 20:13] davoodharun commented on #480
I'm not exactly sure, but I think it might have been related to duplicate breadcrumbs showing on some of the pages.

[2018-02-12 20:20] EStriegel commented on #502
@davoodharun Does not appear that either of the above requirements have been completed.  Moving to `In Progress`

![image](https://user-images.githubusercontent.com/19496579/36117558-1a2c83ca-1008-11e8-843b-b43581b0887c.png)

-------
![image](https://user-images.githubusercontent.com/19496579/36117590-37bc5ad2-1008-11e8-8b38-c2b3d7e37786.png)

[2018-02-12 20:24] EStriegel commented on #158
Moving to `Done`

[2018-02-12 20:28] EStriegel commented on #517
Confirmed.  Moving to `Done`

[2018-02-12 20:44] EStriegel commented on #469
@davoodharun Looking at the spreadsheet we had in Slack, and have added additional feedback in doc below.  Main concern is that I'm seeing differences between INT vs. QA sites.

[Text.Edits.2.12.18.xlsx](https://github.com/18F/dol-whd-14c/files/1717681/Text.Edits.2.12.18.xlsx)

[2018-02-12 22:19] binwang89 commented on #197
@EStriegel  hi, Liz, I tested this feature and found the error messages receive no focus, hence cannot be read by assistive technology (JAWS).   This is the same issue as user story #536
Please see the screenshot below.  When there is error upload the file, the focus is skip the error message and jump to next interactive item.

![image](https://user-images.githubusercontent.com/25330625/36122803-b

[2018-02-12 22:40] mmurthydol commented on #197
Michelle, please add this comment to your comment above.

@davoodharun
Desired behavior: Upon file size too large error, from accessibility perspective, focus must be placed on the file size error message and subsequent tabbing should let focus go to the next text box as indicated by the second arrow. #536 has the fix: add tabindex=0 to the error message.

[2018-02-13 06:19] davoodharun commented on #594
This looks like its only an issue in IE related to <input type="number">. It works fine in chrome. However, after thinking about it, I think this is actually working as intended.. The user should not be allowed to input non-numerical characters. If a user enters a non numerical character, IE will treat that input as empty. A work around would be to change the  input type to "text".

[2018-02-13 16:31] mmurthydol commented on #594
@davoodharun (a) can we display $ as a label and leave the input as numeric. Would that solve the issue?
(b) if we change type to text, looks like you would need to filter/strip out the $ if present, validate, convert to whatever the API needs (last step probably not needed?). (a) sounds like easy fix unless I am missing something.

@EStriegel FYI

[2018-02-13 16:52] EStriegel commented on #594
The highlighted fields would require the $ label.

![image](https://user-images.githubusercontent.com/19496579/36162393-5744a1f0-10b4-11e8-91bb-c4d3072ac368.png)

[2018-02-13 16:59] EStriegel commented on #502
@davoodharun @mmurthydol What we need is for the certificate number field on the "Register an Employer" page to be identical to how the application behaves for the certificate number question on the Application Info section (must answer yes to "Has this employer ever previously held a 14(c) certificate?" to see the certificate number field).  Screenshot also below.

![image](https://user-images.gi

[2018-02-13 17:55] binwang89 commented on #631
@mmurthydol @EStriegel I have collected all URLs for 14c pages and we will follow the steps that instructed by Madhu for the QA today.
Login Workflow
https://dol-whd-section14c-qa.aisdemos.com/#!/
https://dol-whd-section14c-qa.aisdemos.com/#!/login
https://dol-whd-section14c-qa.aisdemos.com/#!/dashboard
https://dol-whd-section14c-qa.aisdemos.com/#!/changePassword
https://dol-whd-section14c-qa.aisd

[2018-02-13 19:24] phirefly opened #639 "Password reset email not being sent"
Testing password reset on 2/12. I didn't receive an email after submitting twice.

[2018-02-13 19:31] phirefly opened #640 "Clicking 'Register' when registering a new user requires two clicks"
The first click jumps the page to the bottom of the screen. The second click submits the form.

[2018-02-13 19:46] phirefly commented on #456
`Review and Submit` says `Review`

[2018-02-13 19:48] phirefly commented on #456
See QA comments above. Moving back to `In Progress`

[2018-02-13 19:51] phirefly commented on #435
Assigning to @mmurthydol for QA

[2018-02-13 19:51] phirefly commented on #174
Assigning to @mmurthydol for QA

[2018-02-13 19:53] phirefly commented on #106
Validated the frontend. Assigning to @mmurthydol for QA of backend item:
`Backend - create delete application api endpoint, need to do the following: no new application id, mark attachments as "soft deleted", clear out data and state, clear out org membership `

[2018-02-13 20:06] mmurthydol commented on #106
Already verified this during code review.

[2018-02-13 20:11] mmurthydol commented on #174
@phirefly @EStriegel  Raphy/Liz, By default back end stories are already have QA before moved to awaiting acceptance from UI/business perspective. No need to assign back to me, please feel free to mark stories done in this case. Marking this done.

[2018-02-13 20:18] binwang89 commented on #499
tested at QA site, and it looks good, I have submitted the application.

[2018-02-13 20:18] mmurthydol commented on #435
@EStriegel @phirefly DOL will need to pick up this story and determine how best to move forwards with edge cases; or actually start using BLOBs like we should have in the first place in phase 1. Story needs to go back to Sprint backlog.

Occurrence of files being quarantined is very rare. We discussed during one of our last stand ups that we will not work further on this story.
- Per Liz, No messa

[2018-02-13 21:29] mmurthydol commented on #480
Admin page that David worked on is missing DOL header-footer and also bread crumbs.

[2018-02-13 22:20] binwang89 opened #642 "Bug: Application allowing user to enter data from multiple chrome sessions (for the same user)"
Bug description: please see screenshot below for multiple session (IE or chrome)

![image.png](https://images.zenhubusercontent.com/5887af0e51aa2c305772c053/ea696885-2260-4d7b-889b-7914e9ec2b0a)

[2018-02-14 17:33] binwang89 commented on #631
@mmurthydol @EStriegel tested again at QA site today, The system will redirect a user to Employer Registration from Dashboard if no employer exists.  Even i tried to put any web page link at the top and see if the user can go the page ( wage data, work sites & employee....), the system will still direct me back to employer registration page.

[2018-02-14 18:11] binwang89 commented on #464
@mmurthydol @EStriegel tested in QA site and please see below screenshot,

![image](https://user-images.githubusercontent.com/25330625/36220297-0fd09d72-1188-11e8-9c8c-8db5d0414890.png)

Also checked the parameters setting in source code (app.js):

app.config(function(IdleProvider, KeepaliveProvider) {
--
  | // configure Idle settings
  | IdleProvider.idle(780); // in seconds
  | IdleProvider.tim

[2018-02-14 18:59] binwang89 commented on #80
@mmurthydol tested this user story in QA site for 3 unsuccessful login.
![image](https://user-images.githubusercontent.com/25330625/36221921-a7b737fe-118d-11e8-8fa2-c574ebfed5b3.png)
 However, I did not find the row for locked out activity in DB.

[2018-02-14 19:46] binwang89 commented on #80
![image](https://user-images.githubusercontent.com/25330625/36224442-9d9bb9fe-1195-11e8-9d89-e58ab9286cbe.png)

it show  the activity has been log in DB  table (Users).

[2018-02-14 19:52] mmurthydol commented on #80
@EStriegel and @afrimpong : Business and security need to hash out the verbiage.
Per our understanding: business verbiage implemented as above.
Security likes verbiage to not include "for 15 minutes".

I's guess any hackers probably already know the NIST/federal guidelines of 15 minutes anyways.

[2018-02-14 22:02] phirefly opened #647 "Update email config"
Story should be implemented in DOL internal environment. Created #686 to revert back changes.

Use shared team email for cert team as indicated in https://trello.com/c/7bEO1lwF

- [x] In AIS environment, do not make the proposed changes below. Let the email value be test @test.com
       - Not applicable
- [x] update API project web.config appSettings-> Key=CertficationTeamEmailAddress
       valu

[2018-02-14 23:16] PrabhakarThummala commented on #368
Change Password:
Email edit box accepts any email id. But application changes the logged in user's password correctly.

[2018-02-15 20:58] PrabhakarThummalaDOL commented on #98
Problem exists in the below scenario:
Employer Page: (Physical Address of Employer’s Main Establishment Section):
County edit box is visible and blank by default. Enter all address info except County (leave it blank). Select 'District of Columbia' for state.
In the 'Review & Submit' page, shows 'Needs review' for Employer. Also, user can't see the red marking in the Employer page unless he changes

[2018-02-15 21:33] PrabhakarThummalaDOL opened #648 "Need to display a message on click 'Submit 14c certificate' when one (or more) pages Needs review."
When user clicks on 'Submit 14c Certification Application' when one or more pages 'Needs review', the button is changed to 'Loading' but (looks like) the application is not doing anything. User can still go back to those pages.

[2018-02-20 21:57] binwang89 commented on #546
tested done, moved to next pipeline.

[2018-02-20 22:01] binwang89 commented on #80
@EStriegel @phirefly Tested and it looks good, however, there is still some question from security about showing the 15 minutes in the message. please provide comment.

[2018-02-20 22:53] mmurthydol commented on #648
duplicate of #504. Closing this issue.

[2018-02-20 22:53] #648 closed

[2018-02-20 23:04] EStriegel commented on #495
Verified complete.  Moving to `Done`

[2018-02-20 23:06] EStriegel commented on #490
Confirmed complete.  Moving to `Done`

[2018-02-20 23:11] EStriegel opened #651 "As a user, I would like "Name of Worker" within the add employee slider to be captured as First Name, Last Name to prevent data quality issues"
@PrabhakarThummalaDOL Verify how much was done or not.

Work Sites & Employees section, add employee slider.  The "Name of Worker" should be separated into "First Name of Worker" and "Last Name of Worker"

See story #490 for reference.

![image.png](https://images.zenhubusercontent.com/57e9239095e42b6c5ba972b8/3e168c59-646e-4c81-a333-d07a765972af)

[2018-02-20 23:13] EStriegel commented on #577
User does not currently see the banner when clicking on the link in email confirmation.  Believe this is a security requirement.  Moving to top of backlog. @mmurthydol

[2018-02-20 23:15] EStriegel commented on #8
Could not recreate https://github.com/18F/dol-whd-14c/issues/8#issuecomment-319105938

Moving to `Done`

[2018-02-20 23:17] EStriegel commented on #503
Complete.  Moving to `Done`

[2018-02-20 23:18] mmurthydol commented on #571
Most likely this page doesn't work.

Message from Harun:
realizing now that there is a high probability that the help page will not work as expected. I forgot David made edits to the env.js file that I need to reflect in Jenkins and the env.js file in the deploy folder

[2018-02-20 23:22] EStriegel commented on #415
Complete.  Moving to `Done`

[2018-02-20 23:23] EStriegel commented on #576
Complete.  Moving to `Done`

[2018-02-20 23:24] EStriegel commented on #304
Complete.  Moving to `Done`

[2018-02-20 23:25] EStriegel commented on #588
Complete.  Moved to `Done`

[2018-02-20 23:26] EStriegel commented on #523
Complete.  Moved to `Done`

[2018-02-20 23:36] binwang89 commented on #512
Tested and looks good now.  I moved it to "done".

[2018-02-20 23:39] mmurthydol commented on #381
@EStriegel Liz, please verify Shannon's visual design. Not sure if #571 is the implementation story for this. If not, we need an implementation story creating before closing this one. If writing implementation story we probably should go through visual design together.

[2018-02-20 23:42] mmurthydol commented on #69
@EStriegel Liz, please verify Shannon's visual design. Not sure if there us an  implementation story for this. If not, we need an implementation story creating before closing this one. If writing implementation story we probably should go through visual design together.

[2018-02-20 23:43] mmurthydol commented on #342
@EStriegel Liz, please verify Shannon's visual design. Not sure if there us an  implementation story for this. If not, we need an implementation story creating before closing this one. If writing implementation story we probably should go through visual design together.

[2018-02-20 23:52] mmurthydol opened #652 "Bug: Session Timeout related defects"
- [ ] Popup dialog box needs to be styled so text/icons do not overlap, text is not chopped off.
- [ ] Popup dialog box needs to be made accessible.

[2018-02-20 23:57] mmurthydol commented on #469
@EStriegel Liz, not sure whether Harun got these fixes in before POP. Could you please verify? Let's move this to in progress with your notes from QA>

[2018-02-21 00:38] mmurthydol commented on #577
@EStriegel You meant  banner page correct? Could you also please check if DOL header/footer are missing? I expect that as well.
@binwang89 Michelle, could you please check if this page is 508 compliant if not already?
Thanks

[2018-02-21 00:44] mmurthydol commented on #569
@EStriegel Liz, could you please check one more time in case this was fixed and story left in progress? Thanks

[2018-02-21 00:47] mmurthydol commented on #456
i think harun mentioned this was done. If you can verify please @phirefly

[2018-02-23 16:41] EStriegel commented on #342
Completed.  Moving to `Done`

[2018-02-23 16:51] EStriegel commented on #594
Completed.  Moving to `Done`

[2018-02-23 16:55] EStriegel commented on #569
Completed.  Moving to `Done`

[2018-02-23 17:27] EStriegel commented on #469
Missing text edit - On Register Employer page - "What is the most recently held certificate number for the main establishment?" should be "What is the most recently held main establishment certificate?"

[2018-02-23 18:36] EStriegel commented on #120
Completed.  Moving to `Done`

[2018-02-23 19:33] EStriegel commented on #551
Story not complete, screenshot below.
- Expanded view has fields in incorrect order.
- Yes/No should be capitalized

![image](https://user-images.githubusercontent.com/19496579/36613060-535ec5b2-18a6-11e8-8b23-9232ccd13ae8.png)

[2018-02-23 19:35] EStriegel commented on #629
Complete - tested all file upload options.  Moving to `Done`

[2018-02-23 19:39] EStriegel commented on #507
Completed.  Moving to `Done`

[2018-02-23 19:45] EStriegel opened #653 "Bug- Missing error message on Work Sites & Employees page"
@EStriegel Liz, we need to discuss.
Cheaper fix: Just change error message; Defect will downgrade from critical to major/minor
Corrrect fix: The text box and data table should communicate with each other.

The error in this screenshot is that the user has indicated there is only work site, but they have added two work sites.  The system is correct in identifying an error, but it is not providing a

[2018-02-23 19:48] EStriegel commented on #571
Help Page is functional, but seems to be missing the DOL email address and phone number.

Note - both the phone number and email address are placeholders until we figure out the app support process.

[2018-02-23 19:50] EStriegel commented on #598
Confirmed.  Moving to `Done`

[2018-02-23 19:52] binwang89 commented on #297
all issues discovered by OCIO tester have been tracked in different user story, i will move it to done.

[2018-02-26 17:20] EStriegel opened #654 "Implementation of #69 - As an applicant, I would like a user profile page within the online application so that I can change my password."
Implementation of

https://preview.uxpin.com/7560d7b8748cecf936982e02cb0dda4371113d92#/pages/77548394/simulate/no-panels

[2018-02-26 17:30] EStriegel commented on #397
@binwang89 Can you confirm accessibility part of this story?  Can be moved to `Done` if acceptable.

[2018-02-26 17:30] EStriegel commented on #381
#571 is implementation story.  Moving to `Done`

[2018-02-26 17:43] EStriegel commented on #577
@mmurthydol So when you create create a user, and click the confirmation link, it takes you to the account confirmed page.  There's a link to log-in, which takes you back to the landing page.  My understanding is that when the user clicks the confirmation page, they need to see the banner page before the account confirmed page.  (The current banner page that you see when you open the QA link has t

[2018-02-26 20:55] mmurthydol commented on #135
@binwang89 : On the api server (QA environment) temporarily disable email (web.config SMTP settings - don't use the correct settings). And then create a new user. Does account created message show up?

Ideally message should say "account succesfully created. Confirmation email was not sent." I do not believe this extra message about confirmation email is not displayed currently.

[2018-02-26 21:05] mmurthydol commented on #368
@binwang89 Why is there an email edit text box in the first place?? Can you check the flow please &/or Prabhakar can repro the issue?

[2018-02-26 21:10] mmurthydol opened #655 "Bug: Banner page is missing when clicking on email confirmation link."
@EStriegel We (you and I) need to discuss this story prior to going to security. Implementing this story is somewhat time consuming. I have a workaround. We can add banner page verbiage equivalent to email itself. That should take care of security concern - at least that would be our pitch. Similar considerations with Reste Password link.

For any link within an email that takes the user to the on

[2018-02-26 21:49] binwang89 commented on #457
Update the description for more issues identified by DOL accessibility tester for 508 scan 3.

[2018-02-26 22:49] binwang89 commented on #141
@mmurthydol @EStriegel  after locked out, i only saw the message show on screen,  I did not get email notified.
![image](https://user-images.githubusercontent.com/25330625/36700330-5b5179e4-1b1d-11e8-8d39-175c2e5eb8d6.png)

[2018-02-27 13:29] binwang89 commented on #141
@mmurthydol @EStriegel  Hi, Since my outlook inbox did  not refreshed. i did not see the email notification right away.  please see below email and screenshot.

From: no-reply@dol-whd-section14c-int.aisdemos.com [mailto:no-reply@dol-whd-section14c-int.aisdemos.com]
Sent: Monday, February 26, 2018 5:28 PM
To: Wang, Bin - WHD
Subject: Section 14(c) Online Application Account Locked out

Your account

[2018-02-27 14:22] binwang89 commented on #456
@mmurthydol @EStriegel Tested in INT site, I don't think the issues have been resolved. please see below screenshot,  the unique identifier still not showing in each web page tab, it only show on the url.
![image](https://user-images.githubusercontent.com/25330625/36733815-bfe49c42-1b9f-11e8-965d-7e6239e88d22.png)

[2018-02-27 17:29] binwang89 commented on #560
@mmurthydol Tested in both QA/INT, the whole admin page is not working.  using admin role user name/password to login, take me to change password page ( expected to land on the admin dashboard page). Clicked on the dashboard link on the top redirects to login page, resulting in  a loop.

[2018-02-28 17:03] mmurthydol opened #656 "As a Developer, I need to setup my Dev VM for 14c"
- [x] Setup VMs w/ OCIO

[2018-02-28 17:06] mmurthydol opened #657 "As an AQA developer I would like to be able to build/run existing 14C application on my Dev VM"

[2018-02-28 17:12] #656 closed

[2018-02-28 17:15] mmurthydol opened #658 "As a developer, I would like to install Web development software"
SW to be installed will be available in C:\section14c\tools. If not, discuss with Madhu.

Install the following:
- [ ] VS Code
- [ ] VS Code plugins (Git related at the minimum. Other plugin info to be provided by Madhu)
- [ ] NodeJS 8.0.0.0
- [ ] NPM 5.3.0
- [ ] verify web page displays correctly after: npm install && npm start (npm does show several errors and warnings, but as long as web page d

[2018-02-28 17:24] mmurthydol opened #659 "As a developer, I would like to install API development software"
191, 192, 193
**By OCIO:**
- [x] Visual Studio 2015 Update 3
- [ ] Visual Studio 2017
- [ ] Data Studio & Control Center
**By Developer:**
Look in c:\section14c\tools.
- [ ] DB2 client package
- [ ] IBM DB2 Addin
- [ ] Devart DotConnect
- [ ] DB2 Express-C
- [ ] SMTP dummy server
**- [ ] Verify API is up and running.**

[2018-02-28 17:41] mmurthydol opened #660 "As a developer, I would like to connect to GitHub repository"
- [ ] Work with Madhu as needed.
- [ ] local Folder path must follow convention. For Madhu for example it is: C:\src\mmurthy\18f\dol-whd-14c
- [ ] Create SSH on VM and update GitHub credentials with SSH key.
- [ ] Hookup to GitHub through VS Code and Visual Studio.
- [ ] Install Git/GitBash as needed. VS code has Git Plugins; Visual Studio must already have installed VS Git Plugin.
- [ ] Setup Git

[2018-02-28 17:50] mmurthydol opened #661 "As a developer, I would like to connect to DOL GitLab repository"
- [ ] Steps similar to #660 but with the DOL GitLab local path: C:\src\mmurthy\whd\section14c-18f
Gitlab path: https://gitlab.dol.gov/whd-dev/section14c-18f
- [ ] Ensure access to GitLab through @binwang89 and as needed with madhu

[2018-02-28 17:58] mmurthydol opened #662 "AQA: Onboard"
All tasks that need to be done to enable AQA developers to develop/fix/deploy/test code for 14c.

[2018-02-28 18:04] mmurthydol opened #663 "As a developer I would like access to DOL 14c Dev environment"
From the VM:
- [ ] Verify RDP access to Dev Web servers
- [ ] Verify Data Studio access to DOL 14c DB2 Dbs (14c, 14c log)

[2018-02-28 18:15] mmurthydol commented on #535
Harun mentioned this is not a simple fix.

[2018-02-28 18:16] mmurthydol commented on #544
Harun mentioned the fix is complicated and mostly a hack.

[2018-02-28 21:04] binwang89 commented on #141
@EStriegel please see above screenshot for the email and confirm the wording are good.   I will move this item back to "waiting acceptance" for now.

[2018-03-01 19:19] phirefly opened #664 "Security items for self assessment"
WHD Security will provide self-assessment tasks for security prior to the independent assessment. Use this story to capture those tasks and to keep track of their progress.

[2018-03-01 21:27] binwang89 commented on #135
![image](https://user-images.githubusercontent.com/25330625/36870483-426e8b86-1d6d-11e8-91f1-3c1f416696af.png)

after i disabled the SMTP setting. i tried to registration a new user, i got above message.

[2018-03-01 22:31] PrabhakarThummalaDOL commented on #368
From the Dashboard, click on 'Account', which displays 'Change password' screen as below:
![image](https://user-images.githubusercontent.com/36516512/36873278-fcc01966-1d75-11e8-8e88-d6fc6922936e.png)

Application allows the user to enter any email id in the 'Email' box:
![image](https://user-images.githubusercontent.com/36516512/36873330-2541086e-1d76-11e8-8cfc-74eb9d0aecc5.png)

And user can ent

[2018-03-01 22:43] mmurthydol opened #665 "Bug: Profile password change page must work correctly with email info"
@PrabhakarThummalaDOL Verify state of fix/defect
![image](https://user-images.githubusercontent.com/25183303/36873884-f38b4d32-1d77-11e8-9895-817371050cf7.png)

It is a defect that email-Id is editable.
(a) Email-ID can be displayed but should be read-only if displayed.

Question: Does google/live display email-info on password change??

[2018-03-01 22:44] mmurthydol commented on #368
Closing this story. Opened defect #665

[2018-03-05 22:35] mmurthydol opened #666 "Bug: Security: "moment" package < 2.19.3 causing a security vulnerability"
The moment dependency defined in package-lock.json has a known moderate severity security vulnerability in version range < 2.19.3 and should be updated.

https://github.com/18F/dol-whd-14c/network/dependencies

- [ ] update package-lock.json with "moment" >= 2.19.3 and ensure application still works (look for regular expression validation in the app like EIN).